//- size: litle, medium or whithout {size: } for class button_toPay
//- theme:  for {size: little}: clickPurple, clickGray
//-         for {size: medium}: gradient, gradientOpacity, border, borderOpacity,
//- title: whatever
mixin button(option)
    -
        var className = option.size == undefined ? "button_toPay": "button_" + option.size + " button_" + option.theme
    button(type="button", class=className)
        h3 #{option.title}