include ../../_form-elements/date-dropdown/date-dropdown
include ../../_form-elements/dropdown/dropdown
include ../../_form-elements/_buttons/button/button

mixin find-appart
  form.find-appart
    h1 Найдём номера под ваши пожелания
    .find-appart--arival-departure
      div
        h3.label прибытие
          +date-dropdown({type: 'left'})
      div
        h3.label выезд
          +date-dropdown({type: 'right'})
    .find-appart--guests
      h3.label гости
      +dropdown({})
    .find-appart--submit-button
      +button({size: 'big', title: 'подобрать номер'})