@import '../../_form-elements/date-dropdown/date-dropdown.scss';
@import '../../_form-elements/dropdown/dropdown.scss';
@import '../../_form-elements/_buttons/button/button.scss';

.find-appart {
  height: fit-content;

  padding: 39rem 7.936507937% 29rem 7.936507937%;

  background-color: #FFFFFF;
  border: 1rem solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0rem 0rem 25rem rgba(0, 0, 0, 0.2);
  border-radius: 4rem;

  & h1 {
    margin-bottom: 20rem;
  }

  &--arival-departure {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20rem;

    & div {
      width: 47.875%;
    }
  }

  &--guests {
    margin-bottom: 31rem;
  }

  &--submit-button {
    height: 44rem;
  }
}