.condition {
  display: flex;
  align-items: flex-start;
  width: 100%;

  &--icon {
    display: inline-block;
    width: 48rem;
    font: normal normal 48rem/48rem materialIcons;
    // gradient text
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  &--text {
    display: inline-block;
    margin-left: 10rem;
  }

  &--hrow {
    margin: 15rem 0;
    border: .5rem solid $dark-shade-5;
  }
}