.condition {
  display: flex;
  align-items: flex-start;
  width: 100%;

  &--icon {
    display: inline-block;
    width: 48;
    font: normal normal 48/48 materialIcons;
    // gradient text
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  &--text {
    display: inline-block;
    margin-left: 10;
  }

  &--hrow {
    margin: 15 0;
    border: .5 solid $dark-shade-5;
  }
}