.radio--container {
  display: block;
  position: relative;
  padding-left: 30rem;
  margin-right: 20rem;
  font: normal normal 14rem/18rem Montserrat;
  cursor: pointer;

  &:active .radio--checkmark,
  &:focus .radio--checkmark,
  &:hover .radio--checkmark {
    box-shadow: 0 0 5rem $dark-shade-50;
  }
}
.radio {
  position: absolute;
  opacity: 0;
  width: 20rem;
  height: 20rem;
  cursor: pointer;
}
.radio--checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20rem;
  width: 20rem;
  background-color: #fff;
  border-radius: 50%;
  border: 1rem solid $dark-shade-25;
  box-sizing: border-box;
}
.radio--label {
  cursor: pointer;
  color: $dark-shade-50;
}
.radio:checked ~ .radio--label {
  color: $dark-shade-75;
}
.radio:checked ~ .radio--checkmark {
  background-color: #fff;
  border: 1rem solid $purple;
  box-sizing: border-box;
}

.radio--checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.radio:checked ~ .radio--checkmark:after {
  display: block;
}
.radio--container .radio--checkmark:after {
  top: 3rem;
  left: 3rem;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
}