include ../button/button
mixin dropdown({isGuests = true} = {})
  .iqdropdown.js-iqdropdown
    p.iqdropdown-selection
      if isGuests
        .iqdropdown-menu
          div(class="iqdropdown-menu-option", data-id="adults")
            .dropdown__adults
              p.iqdropdown-item взрослые
          div(class="iqdropdown-menu-option", data-id="children")
            .dropdown__children
              p.iqdropdown-item дети
          div(class="iqdropdown-menu-option", data-id="babies")
            .dropdown__babies
              p.iqdropdown-item младенцы
          +button({isActived: false, title: "очистить"})
          +button({title: "применить"})
      else
        div(class="iqdropdown-menu", style="height: 119px;")
          div(class="iqdropdown-menu-option", data-id="bedrooms", data-defaultcount="2", data-mincount="1")
            .dropdown__bedrooms
              p(class="iqdropdown-item") спальни
          div(class="iqdropdown-menu-option", data-id="beds", data-defaultcount="2", data-mincount="1")
            .dropdown__beds
              p(class="iqdropdown-item") кровати
          div(class="iqdropdown-menu-option", data-id="bathrooms")
            .dropdown__bathrooms
              p(class="iqdropdown-item") ванные комнаты
