.pagination {
  &__data-output {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (min-width: $old-phones) and (max-width: 340px) {
      justify-content: center;
    }
  }

  &__card {
    margin-bottom: 14px;
  }
  
  &__buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 14px;
  }
}