extends ../../components/template/template

block append head
  title Landing Page

block append body
  body.landing

block content
  main.landing__content
    section.landing__find-apartment
      +find-room()
    .landing__description
      p.landing__description-text Лучшие номера для вашей работы, отдыха и просто вдохновения