include ../../components/head/head

include ../../components/header/header
include ../../components/footer/footer

include ../../components/find-apartament/find-apartament


doctype html
html
  +head({title: "Landing Page"})
  body.landing
    header.landing__header
      +header(config)

    main.landing__content
      section.landing__find-apartment
        +find-apartament()
      .landing__description
        p.landing__description-text Лучшие номера для вашей работы, отдыха и просто вдохновения

    footer.landing__footer
      +footer(config)

    script(src="main.min.js")