extends ../template-page/template-page

include ../../components/find-room/find-room

block append head
  title Landing Page

block prepend container
  -
    const pageClass = 'landing-page'

block append content
    .landing-page__content
      .landing-page__find-apartment
        +find-room()
      .landing-page__description
        p.landing-page__description-text Лучшие номера для вашей работы, отдыха и просто вдохновения