extends ../template-page/template-page

block append head
  title Landing Page

block prepend container
  -
    const pageClass = "landing"

block append content
    .landing__content
      section.landing__find-apartment
        +find-room()
      section.landing__description
        p.landing__description-text Лучшие номера для вашей работы, отдыха и просто вдохновения