include ../../components/head/head

include ../../components/header/header
include ../../components/footer/footer

include ../../components/find-apart/find-apart


doctype html
html
  +head({title: "Landing Page", isProduction: true})
  body.body.landing
    header.landing__header
      +header(config)
    
    main.landing__content
      section.landing__find-apart
        +find-apart()
      .landing__description
        p.landing__description-text Лучшие номера для вашей работы, отдыха и просто вдохновения

    footer.landing__footer
      +footer(config)