@import '../../components/_base/scss/main.scss';

@import '../../components/header/header.scss';
@import '../../components/footer/footer.scss';

@import '../../components/cards/find-appart/find-appart.scss';



.landing {
	padding: 70 9.3056% 18 9.7223%;

	background-image: url(../../img/background/landing.png);
	background-repeat: no-repeat;
	background-position: center 100%;
	background-size: cover;

	@media screen and (min-width: $old-phones) and (max-width: 500px) {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 70 0 18;
	}

	&--find-appart {
		width: 380;

		@media screen and (min-width: $old-phones) and (max-width: 500px) {
			width: 310;
		}
	}

	&--description {
		display: flex;
		justify-content: flex-end;
		margin-top: 320;

		& p {
			max-width: 280;
			text-align: right;
		}
	}
}