include ../../components/head/head
include ../../components/logo/logo
include ../../components/color-block/color-block
include ../../components/type-block/type-block
doctype html
html
  +head({title: "Colors & Types"})
  body
    .logo
      +logo()

    main.colors-and-type__container
      section.color-block__colors
        +color-block({mod: "dark-shade-100", text: "dark shade 100%", hexColor: "#1F2041"})
        +color-block({mod: "dark-shade-75", text: "dark shade 75%", hexColor: "#1F2041"})
        +color-block({mod: "dark-shade-50", text: "dark shade 50%", hexColor: "#1F2041"})
        +color-block({mod: "dark-shade-25", text: "dark shade 25%", hexColor: "#1F2041"})
        +color-block({mod: "dark-shade-5", text: "dark shade 5%", hexColor: "#1F2041"})
        +color-block({mod: "purple", text: "purple", hexColor: "#BC9CFF"})
        +color-block({mod: "green", text: "green", hexColor: "#6FCF97"})
      section.type-block__type
        +type-block({mod: "h1", text: "This one is the sub-section or widget title"})
        +type-block({mod: "h2", text: "Next one is the item title inside widgets"})
        +type-block({mod: "h3", text: "This is a label or CTA text"})
        +type-block({mod: "body", text: "This is the body text which is used for most of the design, like paragraphs, lists, etc."})

    script(src="main.min.js")