@import '../../components/_base/scss/main.scss';

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 76.3195%;
	margin: 0 13.2639% 0 10.4167%;

	@media screen and (min-width: $old-phones) and (max-width: $new-phones) {
		flex-direction: column;
		align-items: center;

		margin: 0;
		padding: 0 5rem;

		width: 100%;

		box-sizing: border-box;
	}
}

.colors {
	display: inline-block;
	width: 270rem;

	&--block {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 20rem;	
	}

	&--cell {
		flex: none;
		width: 70rem;
		height: 70rem;
		border-radius: 6rem;
		margin-right: 40rem;

		&-dark-shade-100 {
			background-color: $dark-shade-100;
		}
		&-dark-shade-75 {
			background-color: $dark-shade-75;
		}
		&-dark-shade-50 {
			background-color: $dark-shade-50;
		}
		&-dark-shade-25 {
			background-color: $dark-shade-25;
		}
		&-dark-shade-5 {
			background-color: $dark-shade-5;
		}
		&-purple {
			background-color: $purple;
		}
		&-green {
			background-color: $green;
		}
	}

	&--text {
		min-width: 159rem;
		font: normal bold 19rem/29rem Quicksand;
		text-transform: capitalize;

		&-regular {
			font-weight: normal;
			text-transform: uppercase;
		}
	}
}
.type {
	display: inline-block;
	min-width: 300rem;
	max-width: 403rem;

	&--block {
		display: flex;
		margin-bottom: 50rem;
	}

	&--title {
		flex: none;
		width: 37rem;
		margin-right: 30rem;

		font: normal normal Montserrat;
		text-align: right;
		text-transform: capitalize;
		color: $dark-shade-25;

		&-h1 {
			font-size: 24rem;
			line-height: 29rem;
		}
		&-h2 {
			font-size: 19rem;
			line-height: 23rem;
		}
		&-h3 {
			font-size: 12rem;
			line-height: 15rem;
		}
		&-body {
			font-size: 14rem;
			line-height: 24rem;
		}
	}
}