extends ../template-ui-kit/template-ui-kit

include ../../components/color-block/color-block
include ../../components/type-block/type-block

block append head
  title Colors & Types

block prepend container
  -
    const pageClass = 'colors-and-type'

block append content
  main.colors-and-type__container
    article.color-block__colors
      +color-block({color: 'dark-shade-100'})
      +color-block({color: 'dark-shade-75'})
      +color-block({color: 'dark-shade-50'})
      +color-block({color: 'dark-shade-25'})
      +color-block({color: 'dark-shade-5'})
      +color-block({color: 'purple'})
      +color-block({color: 'green'})
    article.type-block__type
      +type-block({type: 'h1', text: 'This one is the sub-section or widget title'})
      +type-block({type: 'h2', text: 'Next one is the item title inside widgets'})
      +type-block({type: 'h3', text: 'This is a label or CTA text'})
      +type-block({type: 'body', text: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.'})