extends ../template-ui-kit/template-ui-kit

include ../../components/color-block/color-block
include ../../components/type-block/type-block

block append head
  title Colors & Types

block prepend container
  -
    const pageClass = "colors-and-type"

block append content
  .colors-and-type__container
    section.color-block__colors
      +color-block({blockModifier: "dark-shade-100"})
      +color-block({blockModifier: "dark-shade-75"})
      +color-block({blockModifier: "dark-shade-50"})
      +color-block({blockModifier: "dark-shade-25"})
      +color-block({blockModifier: "dark-shade-5"})
      +color-block({blockModifier: "purple"})
      +color-block({blockModifier: "green"})
    section.type-block__type
      +type-block({blockModifier: "h1", text: "This one is the sub-section or widget title"})
      +type-block({blockModifier: "h2", text: "Next one is the item title inside widgets"})
      +type-block({blockModifier: "h3", text: "This is a label or CTA text"})
      +type-block({blockModifier: "body", text: "This is the body text which is used for most of the design, like paragraphs, lists, etc."})