@import '../../components/_base/scss/main.scss';

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	width: 76.3195%;
	margin: 0 13.2639% 0 10.4167%;

	@media screen and (min-width: $old-phones) and (max-width: $new-phones) {
		flex-direction: column;
		align-items: center;

		margin: 0;
		padding: 0 5;

		width: 100%;

		box-sizing: border-box;
	}
}

.colors {
	display: inline-block;
	width: 270;

	&--block {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin-bottom: 20;	
	}

	&--cell {
		flex: none;
		width: 70;
		height: 70;
		border-radius: 6;
		margin-right: 40;

		&-dark-shade-100 {
			background-color: $dark-shade-100;
		}
		&-dark-shade-75 {
			background-color: $dark-shade-75;
		}
		&-dark-shade-50 {
			background-color: $dark-shade-50;
		}
		&-dark-shade-25 {
			background-color: $dark-shade-25;
		}
		&-dark-shade-5 {
			background-color: $dark-shade-5;
		}
		&-purple {
			background-color: $purple;
		}
		&-green {
			background-color: $green;
		}
	}

	&--text {
		min-width: 159;
		font: normal bold 19/29 Quicksand;
		text-transform: capitalize;

		&-regular {
			font-weight: normal;
			text-transform: uppercase;
		}
	}
}
.type {
	display: inline-block;
	min-width: 300;
	max-width: 403;

	&--block {
		display: flex;
		margin-bottom: 50;
	}

	&--title {
		flex: none;
		width: 37;
		margin-right: 30;

		font: normal normal Montserrat;
		text-align: right;
		text-transform: capitalize;
		color: $dark-shade-25;

		&-h1 {
			font-size: 24;
			line-height: 29;
		}
		&-h2 {
			font-size: 19;
			line-height: 23;
		}
		&-h3 {
			font-size: 12;
			line-height: 15;
		}
		&-body {
			font-size: 14;
			line-height: 24;
		}
	}
}