mixin radio({isChecked = false, name = 'sex', title = 'change me'} = {})
  label.radio
    input.radio__input(type='radio', name=name, checked=isChecked)
    span.radio__checkmark
    span.radio__label
      span.radio__wrapper
        span.radio__title #{title}