mixin radio(options)
  label(class="radio--container")
    if options.isChecked
      input(type="radio",class="radio", name=options.name, checked)
    else
      input(type="radio",class="radio", name=options.name)
    span(class="radio--checkmark")
    span(class="radio--label") #{options.title}