mixin radio({isChecked = false, name = "sex", title = "change me"} = {})
  label.radio
    if isChecked
      input(type="radio",class="radio__input", name=name, checked)
    else
      input(type="radio",class="radio__input", name=name)
    span(class="radio__checkmark")
    span(class="radio__label")
      .radio__wrapper
        p.radio__title #{title}