mixin radio({isChecked = true, name = "sex", title = "change me"} = {})
  label(class="radio__container")
    if isChecked
      input(type="radio",class="radio", name=name, checked)
    else
      input(type="radio",class="radio", name=name)
    span(class="radio__checkmark")
    span(class="radio__label")
      .radio__wrapper
        p.radio__title #{title}