mixin filterDateDropdown(label)
        label(for = "filterDateDropdown")
            h3(class = "label") #{label}
        input(type="text", id = "filterDateDropdown", class = "dateDropdown", placeholder = "Выберите даты пребывания")