.review__container {
  @include font-body;
  display: flex;
  width: 100%;
}
.review__pict {
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-color: #fff;
  margin-bottom: 12px;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
  & .review__img {
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
}
.review__leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48px;
}
.review__rightColumn {
  width: calc(100% - 78px);
  padding-left: 10px;
  padding-right: 10px;

  box-sizing: border-box;
}
.review__name {
  display: inline-block;

  width: 100%;
  max-height: 48px;

  @include fix-overflow;

  font-weight: bold;
  color: $dark-shade-75;
}
.review__daysAgo {
  display: inline-block;

  width: 100%;
  max-height: 48px;

  @include fix-overflow;

  color: $dark-shade-75;
}
.review__text {
  display: inline-block;

  width: 100%;
  margin-top: 10px;
  
  @include fix-overflow;
}