.footer-menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    max-width: 260px;

    &:last-child {
      @media screen and (min-width: $desktop) {
        margin-left: 37px;
      }
    }

    &__title {
      width: 100%;
      max-height: 15px;
      margin-bottom: 24px;
    }

    &__link {
      width: 100%;
      @include fix-overflow;
      white-space: nowrap;
      line-height: 17px;
      color: $dark-shade-50;

      &:not(:last-child) {
        margin-bottom: 21px;
      }

      &:hover, &:focus, &:active {
        text-shadow: 0 0 5px $dark-shade-25;
      }

      @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
        &:last-child {
          margin-bottom: 40px;
        }
      }
    }

}