include ../headline/headline
mixin footer-menu({title = 'change me', links = [ {text: 'change me', href: 'changeme'} ] } = {})
  nav.footer-menu
    .footer-menu__title
      +headline({title: title})
    each link in links
      -
        const { text, href } = link
      a(href=href, class='footer-menu__link') #{text}