include ../headline/headline
mixin footer-menu({title = "change me", links = ["change me"]} = {})
  .footer-menu
    .footer-menu__title
      +headline({title: title})
    each val in links
      a(href="change me", class="footer-menu__link") #{val}