include ../text-field/text-field
include ../button/button

mixin sign-in({action = "change me"}={})
  .sign-in
    form(class="sign-in__main-form", action=action)
      h1.sign-in__title Войти
      .sign-in__details
        +text-field({type: "Email", placeholder: "Email"})
        +text-field({type: "Password", placeholder: "Пароль"})
      +button({style: "action", title: "Войти"})
    form(class="sign-in__signup-form", action="registration.html")
      .sign-in__signup
        p.sign-in__signup-text Нет аккаунта на Toxin?
        +button({style: "border", title: "Создать"})