  .sign-in {
  @include font-body;
  padding: 39px 7.895% 32px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-sizing: border-box;

  &__title {
    width: 98%;
    height: 30px;
    margin-bottom: 20px;
  }

  &__details {
    margin-bottom: 10px;

    & .text-field {
      margin-bottom: 10px;
    }
  }

  &__button-submitting {
    height: 44px;
  }

  &__sign-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    height: 44px;

    &-text {
      max-width: 180px;
      height: 24px;
      line-height: 22px;
      @include fix-overflow;
    }
  }
}