include ../text-field/text-field
include ../button/button

mixin sign-in
  .sign-in
    h1.h1 Войти
    .sign-in__details
      +text-field({type: "Email", placeholder: "Email"})
      +text-field({type: "Password", placeholder: "Пароль"})
    +button({size: "big", title: "Войти"})
    .sign-in__signup
      p Нет аккаунта на Toxin?
      +button({size: "medium", theme: "border", title: "Создать"})