include ../text-field/text-field
include ../button-action/button-action
include ../button-border/button-border

mixin sign-in({action = "change me"}={})
  .sign-in
    form(class="sign-in__main-form", action=action)
      h1.sign-in__title Войти
      .sign-in__details
        +text-field({type: "Email", placeholder: "Email"})
        +text-field({type: "Password", placeholder: "Пароль"})
      +button-action({title: "Войти"})
    form(class="sign-in__signup-form", action="registration.html")
      .sign-in__signup
        p.sign-in__signup-text Нет аккаунта на Toxin?
        +button-border({title: "Создать"})