mixin dropdown (isGuests)
  .iqdropdown
    p(class="iqdropdown-selection")
      if isGuests
        .iqdropdown-menu
          div(class="iqdropdown-menu-option", data-id="adults")
            div
              p.iqdropdown-item взрослые
          div(class="iqdropdown-menu-option", data-id="children")
            div
              p.iqdropdown-item дети
          div(class="iqdropdown-menu-option", data-id="babies")
            div
              p.iqdropdown-item младенцы
      else
        div(class="iqdropdown-menu", style="height: 119px;")
          div(class="iqdropdown-menu-option", data-id="bedrooms", data-defaultcount="2")
            div
              p(class="iqdropdown-item") спальни
          div(class="iqdropdown-menu-option", data-id="beds", data-defaultcount="2")
            div
              p(class="iqdropdown-item") кровати
          div(class="iqdropdown-menu-option", data-id="bathrooms")
            div
              p(class="iqdropdown-item") ванные комнаты
