include ../date-dropdown/date-dropdown
include ../dropdown/dropdown
include ../button/button

mixin find-room({action = "search-room.html"} = {})
  form(class="find-room", action=action)
    h1.find-room__title Найдём номера под ваши пожелания
    .find-room__arrival-departure
      +date-dropdown({isSingle: false, label: ["прибытие", "отъезд"]})
    .find-room__guests
      h3.find-room__guests-title гости
      +dropdown()
    .find-room__submit-button
      +button({style: "submit", title: "подобрать номер"})