$base: 380;
$side-padding: round((30 * 100% / $base) * 1000) / 1000;
.find-room {
  height: fit-content;
  padding: 39px $side-padding 29px ;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: $desktop) {
    padding: 39px 29px 29px;
  }

  &__title {
    width: 98%;
    max-height: 87px;
    @include fix-overflow;
    @include font-h1;
    margin-bottom: 20px;
    line-height: 29px;
  }

  &__arrival-departure {
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  &__guests {
    margin-bottom: 31px;

    &-title {
      width: 98%;
      height: 15px;
      @include fix-overflow;
      @include font-h3;
      margin-bottom: 5px;
    }
  }

  &__submit-button {
    height: 44px;
  }
}