include ../../components/head/head

include ../../components/header/header
include ../../components/footer/footer

include ../../components/sign-in/sign-in


doctype html
html
  +head({title: "Sign-in"})
  body.sign-in-page
    header.sign-in-page__header
      +header()
      
    main.sign-in-page__content
      section.sign-in-page__container
        +sign-in()

    footer.sign-in-page__footer
      +footer()

    script(src="main.min.js")