include ../../components/head/head

include ../../components/header/header
include ../../components/footer/footer

include ../../components/sign-in/sign-in


doctype html
html
  +head({title: "Sign-in", isProduction: true})
  body.body
    header
      +header()
      
    main.sign-in-page
      section.sign-in-page__container
        +sign-in()

    footer
      +footer()