@import '../../components/_base/scss/main.scss';

@import '../../components/header/header.scss';
@import '../../components/footer/footer.scss';

@import '../../components/cards/sign-in/sign-in.scss';

main {
	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url(../../img/background/registration.jpg);
	background-repeat: no-repeat;
	background-position: center 83%;
	background-size: cover;
}

.container {
	margin: 163px 0;
	width: 380px;

	@media screen and (min-width: $old-phones) and (max-width: 400px) {
		width: 310px;
	}
}