extends ../../components/template/template

block append head
  title Sign-in

block append body
  body.sign-in-page

block content
  main.sign-in-page__content
    section.sign-in-page__container
      +sign-in()