@import '../../main.scss';
@import '../../_components/_header/header';
@import '../../_components/_footer/footer';
@import '../../_components/_cards/_login/login';
.signin__container {
    padding: 163px 0;
    display: flex;
    justify-content: center;
    background: url(../../img/registration.png) no-repeat;
    background-position: center 100%;
    background-size: cover;
}
.signin__loginBlock {
    width: 380px;
}
@media only screen and (max-width: 380px) {
    .signin__container {
        width: 380px;
    }
}