mixin button({ style = 'textual', isActive = true, title = 'click me' } = {})
  -
    const modifierActivity = isActive ? 'active' : 'inactive';
    const arrayStyles = ['textual', 'gradient', 'border', 'submitting'];
    const modifierStyle = arrayStyles[arrayStyles.indexOf(style)]
  button(class=`button js-button button_${modifierStyle} button_${modifierActivity}`)
    span.button__wrapper
      p.button__label #{title}