mixin button({ style = "text", isActived = "true", title = "click me" } = {})
  -
    let correctStyleEntered = false;
    let modificator = isActived ? "actived" : "deactived";
    ["text", "gradient", "border", "action"].forEach((value) => {
      if(value === style) correctStyleEntered = true;
    })
  if correctStyleEntered
      button(class=`button_with-${style} button_with-${style}_${modificator}`)
        .button__wrapper
          h3.button__title #{title}
  else
    p wrong param