include ../headline/headline
mixin button({ style = "text", isActive = "true", title = "click me" } = {})
  -
    const modKey = isActive ? "active" : "inactive";
    const styles = ["textual", "gradient", "border", "submitting"];
    ["text", "gradient", "border", "submit"].forEach((value, index) => {
      if(value === style) {
        style = styles[index];
      }
    })
  button(class=`button js-button button_${style} button_${modKey}`)
    .button__wrapper
      +headline({title: title})