include ../logo/logo
include ../icon-social/icon-social

mixin footer-short({description = ''} = {})
  -
    const footerDescription = description === ''
      ? 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»'
      : description;
    const socNets = ['tweeter', 'facebook', 'instagram']
  footer.footer-short
      .footer-short__logo
        +logo({isFull: true})
      p.footer-short__description.footer-short__description_short #{footerDescription}
      .footer-short__icons
        each val in socNets
          +icon-social({socialNetwork: val})