include ../logo/logo

mixin footer-short({description = ""} = {})
  -
    const footerDescription = description === ""
      ? "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
      : description;
  footer.footer-short
      .footer-short__logo
        +logo({isFull: true})
      p.footer-short__description.footer-short__description_short #{footerDescription}
      .footer-short__icons
        a(href = "https://twitter.com/", class = "footer__icon footer__icon-tweeter")
        a(href = "https://www.facebook.com/", class = "footer__icon footer__icon-facebook")
        a(href = "https://www.instagram.com/", class = "footer__icon footer__icon-instagram")