include ../h3/h3
mixin footer-menu-block({title = "change me", links = ["change me"]} = {})
  .footer-menu-block
    .footer-menu-block__title
      +h3({title: title})
    each val in links
      a(href="change me", class="footer-menu-block__link") #{val}