include ../../_formElements/_dateDropdown/_dateDropdown
include ../../_formElements/_dropdown/dropdown
include ../../_formElements/_buttons/_button/_button
mixin findApart
    .findApart--container
        h1 Найдём номера под ваши пожелания
        .findApart--dateDropdown    
            +dateDropdown("Прибытие", "Выезд", "findApart")
        .findApart--dropdown
            h3.label гости
            +dropdown(true)
        .findApart--button
            +button({title: "Подобрать номер"})