mixin toggleButton(text)
    label(class="buttons__toggle-container")
        div(style="display: flex;")
            input(type="checkbox", class="buttons__toggle")
            div(class="buttons__toggle-switch")
            span(class="buttons__toggle-label") #{text}