.button_with-gradient {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 22px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);

  & .button__title {
    color: white;
  }

  &:active, &:focus, &:hover {
    box-shadow: 0 0 5px $dark-shade-50;
  }

  &_deactivated {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 22px;
    box-sizing: border-box;
    cursor: pointer;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    opacity: 0.5;

    & .button__title {
      color: white;
    }
  
    &:active, &:focus, &:hover {
      box-shadow: unset;
      cursor: unset;
    }
  }
}

.button__wrapper {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  }

.button__title {
  @include fix-overflow;
  @include font-h3;
  }