include ../../_formElements/_dateDropdown/_dateDropdown
include ../../_formElements/_dropdown/dropdown
include ../../_formElements/_buttons/_button/_button
mixin findApart
    .findApart__container
        h1 Найдём номера под ваши пожелания
        .findApart__dateDropdown    
            +dateDropdown("Прибытие", "Выезд", "findApart")
        .findApart__dropdown
            h3.label гости
            +dropdown(true)
        .findApart__button
            +button({title: "Подобрать номер"})