include ../../components/head/head

include ../../components/header/header
include ../../components/footer/footer

include ../../components/room/room

include ../../components/headline/headline
include ../../components/date-dropdown/date-dropdown
include ../../components/dropdown/dropdown
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/range-slider/range-slider
include ../../components/checkbox/checkbox
include ../../components/rich-checkbox/rich-checkbox


doctype html
html
  +head({title: "Search-room"})
  body.search-room
    header.search-room__header
      +header()
      
    main.search-room__content
      aside.search-room__menu
        +date-dropdown()
        
        .search-room__menu-title
          +headline({title: "гости"})
        +dropdown()

        +range-slider({title: "Диапазон цены"})
        p.search-room__description Стоимость за сутки пребывания в номере

        .search-room__checkboxs
          .search-room__menu-title
            +headline({title: "checkbox buttons"})
          +checkbox({title: "Можно курить"})
          +checkbox({title: "Можно с питомцами", isChecked: true})
          +checkbox({title: "Можно пригласить гостей (до 10 человек)", isChecked: true})

        .search-room__menu-title
          +headline({title: "Доступность"})
        -
          const configRichCheckbox1 = {}
          configRichCheckbox1.title = "Широкий коридор"
          configRichCheckbox1.description = "Ширина коридоров в номере не менее 91см"
        +rich-checkbox(configRichCheckbox1)
        -
          const configRichCheckbox2 = {}
          configRichCheckbox2.title = "Помощник для инвалидов"
          configRichCheckbox2.description = "На 1 этаже вас встретит специалист и проводит до номера."
        +rich-checkbox(configRichCheckbox2)

        .search-room__menu-title.search-room__menu-title_big
          +headline({title: "удобства номера"})
        +dropdown({isGuests: false})

        +expandable-checkbox-list()

      section.search-room__result
        .search-room__result-title
          +headline({type: "h1", title: "Номера, которые мы для вас подобрали"})
        .search-room__data-source.js-search-room__data-source
          -
            const rooms = []

            const configApartments888 = {}
            configApartments888.room = "888"
            configApartments888.isLux = true
            configApartments888.price = "9990"
            configApartments888.rate = "5"
            configApartments888.reviews = 145
            rooms.push(configApartments888)

            const configApartments840 = {}
            configApartments840.room = "840"
            configApartments840.isLux = false
            configApartments840.price = "9900"
            configApartments840.rate = "4"
            configApartments840.reviews = 65
            rooms.push(configApartments840)

            const configApartments980 = {}
            configApartments980.room = "980"
            configApartments980.isLux = true
            configApartments980.price = "8500"
            configApartments980.rate = "3"
            configApartments980.reviews = 33
            rooms.push(configApartments980)

            const configApartments856 = {}
            configApartments856.room = "856"
            configApartments856.isLux = false
            configApartments856.price = "7300"
            configApartments856.rate = "5"
            configApartments856.reviews = 19
            rooms.push(configApartments856)

            const configApartments740 = {}
            configApartments740.room = "740"
            configApartments740.isLux = false
            configApartments740.price = "6000"
            configApartments740.rate = "4"
            configApartments740.reviews = 44
            rooms.push(configApartments740)

            const configApartments982 = {}
            configApartments982.room = "982"
            configApartments982.isLux = false
            configApartments982.price = "5800"
            configApartments982.rate = "3"
            configApartments982.reviews = 56
            rooms.push(configApartments982)

            const configApartments678 = {}
            configApartments678.room = "678"
            configApartments678.isLux = false
            configApartments678.price = "5500"
            configApartments678.rate = "5"
            configApartments678.reviews = 45
            rooms.push(configApartments678)

            const configApartments450 = {}
            configApartments450.room = "450"
            configApartments450.isLux = false
            configApartments450.price = "5300"
            configApartments450.rate = "4"
            configApartments450.reviews = 39
            rooms.push(configApartments450)

            const configApartments350 = {}
            configApartments350.room = "350"
            configApartments350.isLux = false
            configApartments350.price = "5000"
            configApartments350.rate = "3"
            configApartments350.reviews = 77
            rooms.push(configApartments350)

            const configApartments666 = {}
            configApartments666.room = "666"
            configApartments666.isLux = false
            configApartments666.price = "5000"
            configApartments666.rate = "5"
            configApartments666.reviews = 25
            rooms.push(configApartments666)

            const configApartments444 = {}
            configApartments444.room = "444"
            configApartments444.isLux = false
            configApartments444.price = "5000"
            configApartments444.rate = "3"
            configApartments444.reviews = 15
            rooms.push(configApartments444)

            const configApartments352 = {}
            configApartments352.room = "352"
            configApartments352.isLux = false
            configApartments352.price = "5000"
            configApartments352.rate = "3"
            configApartments352.reviews = 55
            rooms.push(configApartments352)

            const apartsLength = rooms.length
            const previousIndex = rooms.length - 1

            for(let i = 0; i < (15 * apartsLength); i += 1) {
              let randomIndex = Math.floor(Math.random() * apartsLength)

              while(randomIndex === previousIndex) {
                randomIndex = Math.floor(Math.random() * apartsLength)
              }
              previouseIndex = randomIndex

              rooms.push(rooms[randomIndex])
            }

          each value in rooms
            .search-room__room.js-search-room__room
              +room(value)

        .search-room__data-output.js-search-room__data-output
        .search-room__pagination
          .pagination.js-pagination

    footer.search-room__footer
      +footer()

    script(src="main.min.js")