extends ../template-page/template-page

include ../../components/headline/headline
include ../../components/date-dropdown/date-dropdown
include ../../components/dropdown/dropdown
include ../../components/range-slider/range-slider
include ../../components/checkbox/checkbox
include ../../components/rich-checkbox/rich-checkbox
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/room/room
include ../../components/pagination/pagination

block append head
  title Search-room

block prepend container
  -
    const pageClass = 'search-room'
block append content
  main.search-room__content
    aside.search-room__menu
      +date-dropdown()
      
      .search-room__menu-title
        +headline({title: 'гости'})
      +dropdown()
      .search-room__range-slider
        +range-slider({title: 'Диапазон цены'})
      p.search-room__description Стоимость за сутки пребывания в номере

      .search-room__checkbox
        .search-room__menu-title
          +headline({title: 'правила дома'})
        .search-room__checkbox-element
          +checkbox({title: 'Можно курить'})
        .search-room__checkbox-element
          +checkbox({title: 'Можно с питомцами', isChecked: true})
        .search-room__checkbox-element
          +checkbox({title: 'Можно пригласить гостей (до 10 человек)', isChecked: true})

      .search-room__menu-title
        +headline({title: 'Доступность'})
      .search-room__rich-checkbox
        +rich-checkbox({title: 'Широкий коридор', description: 'Ширина коридоров в номере не менее 91см'})
        +rich-checkbox({title: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист и проводит до номера.'})

      .search-room__menu-title.search-room__menu-title_margin_big
        +headline({title: 'удобства номера'})
      +dropdown({type: 'rooms', withControlButtons: false, menu: [ {id: 'bedrooms', count: 2, countGroup: 'bedrooms', title: 'спальни'}, {id: 'beds', count: 2, countGroup: 'beds', title: 'кровати'}, {id: 'bathrooms', count: 0, countGroup: 'bathrooms', title: 'ванные комнаты'} ]})
      .search-room__expandable-checkbox-list
        +expandable-checkbox-list()

    section.search-room__result
      .search-room__result-title
        +headline({type: 'h1', title: 'Номера, которые мы для вас подобрали'})
      .search-room__data-source.js-search-room__data-source
        -
          const rooms = [
            { room: '888', isLux: true, price: '9990', rate: '5', comments: 145, link: '/room-detail.html' },
            { room: '840', isLux: false, price: '9900', rate: '4', comments: 65 },
            { room: '980', isLux: true, price: '8500', rate: '3',  comments: 33 },
            { room: '856', isLux: false, price: '7300', rate: '5', comments: 19 },
            { room: '740', isLux: false, price: '6000', rate: '4', comments: 44 },
            { room: '982', isLux: false, price: '5800', rate: '3', comments: 56 },
            { room: '678', isLux: false, price: '5500', rate: '5', comments: 45 },
            { room: '450', isLux: false, price: '5300', rate: '4', comments: 39 },
            { room: '350', isLux: false, price: '5000', rate: '3', comments: 77 },
            { room: '666', isLux: false, price: '5000', rate: '5', comments: 25 },
            { room: '444', isLux: false, price: '5000', rate: '3', comments: 15 },
            { room: '352', isLux: false, price: '5000', rate: '3', comments: 55 },
          ]

        each roomParameter in rooms
          .search-room__room.js-search-room__room
            +room(roomParameter)

      +pagination()