include ../../components/head/head

include ../../components/header/header
include ../../components/footer/footer

include ../../components/apart/apart

include ../../components/date-dropdown/date-dropdown
include ../../components/dropdown/dropdown
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/checkbox/checkbox
include ../../components/rich-checkbox/rich-checkbox



doctype html
html
  +head({title: "Search-room", isProduction: true})
  body.body.search-room
    header.search-room__header
      +header()
      
    main.search-room__content
      aside.search-room__menu
        +date-dropdown({jsClass: "search-room"})
        
        h3.h3.label Гости
        +dropdown({jsClass: "search-room-guests"})

        +range-slider({title: "Диапазон цены", jsClass: "search-room"})
        p.search-room__description Стоимость за сутки пребывания в номере

        .search-room__checkboxs
          h3.h3.label checkbox buttons
          +checkbox({title: "Можно курить"})
          +checkbox({title: "Можно с питомцами", isChecked: true})
          +checkbox({title: "Можно пригласить гостей (до 10 человек)", isChecked: true})

        h3.h3.label Доступность
        -
          config = {}
          config.title = "Широкий коридор"
          config.description = "Ширина коридоров в номере не менее 91см"
        +rich-checkbox(config)
        -
          config.title = "Помощник для инвалидов"
          config.description = "На 1 этаже вас встретит специалист и проводит до номера."
        +rich-checkbox(config)

        h3(class = "h3 label", style = "margin-top: 36px;") удобства номера
        +dropdown({isGuests: false, jsClass: "search-room-rooms"})

        +expandable-checkbox-list({jsClass: "search-room"})

      section.search-room__result
        h1.h1 Номера, которые мы для вас подобрали
        .search-room__data-source.js-search-room-data-source
          -
            let aparts = []
            config = {}

            config.apart = "888"
            config.isLux = true
            config.price = "9990"
            config.rate = "5"
            config.reviews = 145
            aparts.push(config)
            config = {}

            config.apart = "840"
            config.isLux = false
            config.price = "9900"
            config.rate = "4"
            config.reviews = 65
            aparts.push(config)
            config = {}

            config.apart = "980"
            config.isLux = true
            config.price = "8500"
            config.rate = "3"
            config.reviews = 33
            aparts.push(config)
            config = {}

            config.apart = "856"
            config.isLux = false
            config.price = "7300"
            config.rate = "5"
            config.reviews = 19
            aparts.push(config)
            config = {}

            config.apart = "740"
            config.isLux = false
            config.price = "6000"
            config.rate = "4"
            config.reviews = 44
            aparts.push(config)
            config = {}

            config.apart = "982"
            config.isLux = false
            config.price = "5800"
            config.rate = "3"
            config.reviews = 56
            aparts.push(config)
            config = {}

            config.apart = "678"
            config.isLux = false
            config.price = "5500"
            config.rate = "5"
            config.reviews = 45
            aparts.push(config)
            config = {}

            config.apart = "450"
            config.isLux = false
            config.price = "5300"
            config.rate = "4"
            config.reviews = 39
            aparts.push(config)
            config = {}

            config.apart = "350"
            config.isLux = false
            config.price = "5000"
            config.rate = "3"
            config.reviews = 77
            aparts.push(config)
            config = {}

            config.apart = "666"
            config.isLux = false
            config.price = "5000"
            config.rate = "5"
            config.reviews = 25
            aparts.push(config)
            config = {}

            config.apart = "444"
            config.isLux = false
            config.price = "5000"
            config.rate = "3"
            config.reviews = 15
            aparts.push(config)
            config = {}

            config.apart = "352"
            config.isLux = false
            config.price = "5000"
            config.rate = "3"
            config.reviews = 55
            aparts.push(config)
            config = {}

            let apartsLength = aparts.length
            let previousIndex = aparts.length - 1

            for(let i = 0; i < (15 * apartsLength); i += 1) {
              let randomIndex = Math.floor(Math.random() * apartsLength)

              while(randomIndex === previousIndex) {
                randomIndex = Math.floor(Math.random() * apartsLength)
              }
              previouseIndex = randomIndex

              aparts.push(aparts[randomIndex])
            }

          each value in aparts
            .search-room__apart.js-search-room-apart
              +apart(value)

        .search-room__data-output.js-search-room-data-output
        .search-room__pagination
          .js-search-room-pagination

    footer.search-room__footer
      +footer()