.search-room {
  @include font-body;

  display: flex;
  flex-direction: column;

  height: 100%;

  &__content {
    display: flex;
    flex-wrap: nowrap;

    flex: 1 0 auto;
  
    margin: 0 auto;
    padding: 30px 10px 70px;
  
    width: fit-content;
  
    @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width: $old-phones) and (max-width: 340px) {
      padding: 30px 0px 70px;
    }
  }

  &__menu {
    flex-shrink: 0;
    margin-right: 60px;
    width: 266px;

    &-title {
      @include font-h3;
      &:not(:first-child) {
        margin-top: 20px;
      }
    }

    @media screen and (min-width: $new-phones) {
      margin-left: 12px;
    }

    @media screen and (min-width: $new-phones) and (max-width: $pads) {
      margin-right: 45px;
    }

    @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
      flex-shrink: unset;
      margin-right: 0;
      margin-bottom: 40px;
    }

    & .range-slider__container {
      margin-top: 30px;
    }

    & .search-room__description {
      margin-top: 14px;
      margin-bottom: 29px;

      font-size: 12px;
      line-height: 14px;
      color: $dark-shade-50;
    }

    & .search-room__checkboxs {
      & .search-room__menu-title {
        margin-bottom: 15px;
      }
      & .checkbox__container:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    & .rich-checkbox__container {
      margin-top: 13px;
      margin-bottom: -6px;
    }

    & .expandable-checkbox-list {
      margin-top: 17px;
    }
  }

  &__result {
    min-width: 310px;
    width: fit-content;
    max-width: 848px;

    &-title {
      @include font-h1;
      margin-bottom: 21px;
    }
  }

  &__data-output {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    @media screen and (min-width: $old-phones) and (max-width: 340px) {
      justify-content: center;
    }
  
  }

  &__pagination {
    display: flex;
    justify-content: center;

    margin-top: 20px;
  }

  &__apart {
    margin-right: 2px;
    margin-bottom: 21px;

    width: 270px;
  }

  &__footer {
    flex-shrink: 0;
  }
}
