$title-width: 270 * 100% / 320;
.search-room {
  @include font-body;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    display: flex;
    flex-wrap: nowrap;
    flex: 1 0 auto;
    margin: 0 auto;
    padding: 28px 0px 71px;
    width: fit-content;
    max-width: 90%;
  
    @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width: $old-phones) and (max-width: 340px) {
      padding: 30px 0px 70px;
    }
  }

  &__menu {
    flex-shrink: 0;
    margin-right: 60px;
    max-width: 266px;

    &-title {
      width: 98%;
      height: 15px;
      
      &:not(:first-child) {
        margin-top: 19.5px;
        margin-bottom: 6px;
      }
    }

    @media screen and (min-width: $new-phones) and (max-width: $pads) {
      margin-right: 45px;
    }

    @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
      flex-shrink: unset;
      margin-right: 0;
      margin-bottom: 40px;
    }
  }

    &__range-slider {
      margin-top: 30px;
    }

    &__description {
      margin-top: 14px;
      margin-bottom: 29px;

      font-size: 12px;
      line-height: 14px;
      color: $dark-shade-50;
    }

    &__checkbox {
      margin-bottom: 22px;

      & .search-room__menu-title {
        margin-bottom: 17px;
      }
      &-element:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    &__rich-checkbox .rich-checkbox:first-child {
      margin-top: 16px;
    }

    &__expandable-checkbox-list {
      margin-top: 16px;
    }

  &__result {
    margin-top: 0.5px;
    min-width: 310px;
    width: fit-content;
    max-width: 834px;

    &-title {
      width: $title-width;
      letter-spacing: -0.1px;
      max-height: 60px;
      margin-bottom: 16px;
      @include fix-overflow;
      @include font-h1;
      @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
        margin: 0 auto 10px;
      }
    }
  }

  &__data-source {
    visibility: hidden;
  }

  &__room {
    margin-bottom: 14px;
    max-width: 270px;
  }

  &__footer {
    flex-shrink: 0;
  }
}
