.find-apart {
  height: fit-content;

  padding: 39px 7.895% 29px ;

  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  &__title{
    @include font-h1;
    margin-bottom: 20px;
  }

  &__arival-departure {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
  }

  &__guests {
    margin-bottom: 31px;

    &-title {
      @include font-h3;
      margin-bottom: 5px;
    }
  }

  &__submit-button {
    height: 44px;
  }
}