include ../headline/headline

mixin type-block ({typeBlock = "h3", text = "This is a label or CTA text" } = {})
  .type-block
    span(class = `type-block__label-title type-block__label-title_${typeBlock}`) #{typeBlock}
    if (typeBlock !== "body")
      +headline({type: typeBlock, title: text})
    else
      p.type-block__title_body #{text}