.type-block {
    display: flex;
    margin-bottom: 50px;
    min-width: 300px;
    max-width: 435px;

  &__label {
    &-title {
      flex: none;
      width: 40px;
      margin-right: 27px;
      @include fix-overflow;
      font: normal normal Montserrat, sans-serif;
      text-align: right;
      text-transform: capitalize;
      color: $dark-shade-25;

      &_font-style {
        &_h1 {
          font-size: 24px;
          line-height: 29px;
        }
  
        &_h2 {
          font-size: 19px;
          line-height: 23px;
        }
  
        &_h3 {
          font-size: 12px;
          line-height: 15px;
        }
        
        &_body {
          font-size: 14px;
          line-height: 19px;
        }
      }
    }
  }
  &__title {
    max-height: 60px;
    
    &_font-style {
      &_body {
        max-height: 48px;
        line-height: 21px;
        @include fix-overflow;
      }
    }
  }
}