include ../headline/headline

mixin type-block ({mod = "h3", text = "This is a label or CTA text" } = {})
  .type-block
    span(class = `type-block__label-title type-block__label-title_${mod}`) #{mod}
    if (mod !== "body")
      +headline({type: mod, title: text})
    else
      p.type-block__title_body #{text}