include ../headline/headline

mixin type-block ({blockModifier = "h3", text = "This is a label or CTA text" } = {})
  .type-block
    span(class = `type-block__label-title type-block__label-title_${blockModifier}`) #{blockModifier}
    if (blockModifier !== "body")
      +headline({type: blockModifier, title: text})
    else
      p.type-block__title_body #{text}