.type-block {
  &__type {
    display: inline-block;
    min-width: 300px;
    max-width: 403px;

    &-block {
      display: flex;
      margin-bottom: 50px;
    }

    &-title {
      flex: none;
      width: 37px;
      margin-right: 30px;
      @include fix-overflow;
      font: normal normal Montserrat, sans-serif;
      text-align: right;
      text-transform: capitalize;
      color: $dark-shade-25;

      &_h1 {
        font-size: 24px;
        line-height: 29px;
      }
      &_h2 {
        font-size: 19px;
        line-height: 23px;
      }
      &_h3 {
        font-size: 12px;
        line-height: 15px;
      }
      &_body {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  &__title-h1 {
    max-height: 60px;
    @include font-h1;
    @include fix-overflow;
  }
  &__title-h2 {
    max-height: 48px;

    @include font-h2;
    @include fix-overflow;
  }
  &__title-h3 {
    max-height: 15px;

    @include font-h3;
    @include fix-overflow;
  }
  &__title-body {
    max-height: 48px;
    margin-top: -3px;
    @include fix-overflow;
  }
}