$base: 320;
$width-multi: 150 * 100% / $base;
.date-dropdown {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__datepicker {
    width: $width-multi;

    &.date-dropdown__datepicker_single {
      width: 100%;
      cursor: pointer;
    }
  }

  &__input {
    &-left {
      width: 100%;
      height: 44px;
      padding: 13px 38px 13px 15px;
      background: url(./img/expand_more.svg) no-repeat right;
      background-color: #fff;
      border: 1px solid $dark-shade-25;
      box-sizing: border-box;
      border-radius: 4px;
      font: normal normal 14px/18px Montserrat, sans-serif;
      color: $dark-shade-75;
      cursor: pointer;

      &:hover, &:active, &:focus {
        border: 1px solid $dark-shade-50;
        outline: none;
      }

      &::placeholder {
        color: $dark-shade-25;
      }
    }

    &-right {
      width: 100%;
      height: 44px;
      padding: 13px 38px 13px 15px;
      background: url(./img/expand_more.svg) no-repeat right;
      background-color: #fff;
      border: 1px solid $dark-shade-25;
      box-sizing: border-box;
      border-radius: 4px;
      font: normal normal 14px/18px Montserrat, sans-serif;
      color: $dark-shade-75;
      cursor: pointer;
  
      &:hover, &:active, &:focus {
        border: 1px solid $dark-shade-50;
        outline: none;
      }

      &::placeholder {
        color: $dark-shade-25;
      }
    }
  }

  &__filter {
    @extend .date-dropdown__input-left;
    background: url(./img/expand_more.svg) no-repeat right;
  
    &:hover, &:active, &:focus {
      border: 1px solid $dark-shade-50;
      outline: none;
    }

    &::placeholder {
      color: $dark-shade-25;
    }
  }

  &__label {
    width: 100%;
    height: 15px;
    margin-bottom: 5px;
  }
}