include ../headline/headline
include ../control-button/control-button

mixin date-dropdown({isSingle = true, isInline = false, label = ['Даты пербывания в отеле'] } = {})
  -
    const placeholder = isSingle ? 'Выберите даты пребывания' : 'ДД.ММ.ГГГГ'
    const classDateDropdown = isSingle
      ? ['date-dropdown__filter js-date-dropdown__filter']
      : [ 'date-dropdown__input-left js-date-dropdown__input-left',
          'date-dropdown__input-right js-date-dropdown__input-right'];
    const classDatepicker = isSingle
      ? ['date-dropdown__datepicker date-dropdown__datepicker_single']
      : ['date-dropdown__datepicker']
  .date-dropdown
    .date-dropdown__container
      if(isInline)
        .date-dropdown__datepicker.date-dropdown__datepicker_inline.js-date-dropdown__datepicker_inline
      else
        each value, index in classDateDropdown
          div(class = classDatepicker)
            .date-dropdown__label
              +headline({title: label[index]})
            input(type='text', class = value, placeholder = placeholder)
            if(index === 0)
              +control-button({isApply: false})
              +control-button()