mixin date-dropdown({type ="filter", jsClass = "test"} = {})
  -
    let className = `text-field date-dropdown-${type} js-${jsClass}-date-dropdown-${type}`

  case type
    when "left"
      input(type="text", class = className, placeholder = "ДД.ММ.ГГГГ")
    when "right"
      input(type="text", class = className, placeholder = "ДД.ММ.ГГГГ")
    when "filter"
      input(type="text", class = className, placeholder = "Выберите даты пребывания")
    default
      input(type="text", class = className, placeholder = "Выберите даты пребывания")