include ../headline/headline
include ../button/button

mixin date-dropdown({isSingle = true, label = "Даты пербывания в отеле" } = {})
  if isSingle
    .date-dropdown
      .date-dropdown__label
        +headline({title: label})
      input(type="text", class = 'date-dropdown__filter js-date-dropdown__filter', placeholder = "Выберите даты пребывания")
      +button({isActived: false, title: "очистить"})
      +button({title: "применить"})
  else
    .date-dropdown
      .date-dropdown__container
        .date-dropdown__datepicker
          .date-dropdown__label
            +headline({title: label[0]})
          input(type="text", class = 'date-dropdown__input-left js-date-dropdown__input-left', placeholder = "ДД.ММ.ГГГГ")
          +button({isActived: false, title: "очистить"})
          +button({title: "применить"})
        .date-dropdown__datepicker
          .date-dropdown__label
            +headline({title: label[1]})
          input(type="text", class = 'date-dropdown__input-right js-date-dropdown__input-right', placeholder = "ДД.ММ.ГГГГ")
          +button({isActived: false, title: "очистить"})
          +button({title: "применить"})