mixin date-dropdown({isSingle = true, jsClass = "demo"} = {})
  -
    let className = `text-field js-${jsClass}-date-dropdown-single`
  if isSingle
    input(type="text", class = `text-field js-${jsClass}-date-dropdown-single`, placeholder = "Выберите даты пребывания")
  else
    .date-dropdown__container
      .date-dropdown__datepicker
        input(type="text", class = `text-field js-${jsClass}-date-dropdown-left`, placeholder = "ДД.ММ.ГГГГ")
      .date-dropdown__datepicker
        input(type="text", class = `text-field js-${jsClass}-date-dropdown-right`, placeholder = "ДД.ММ.ГГГГ")