//- pict:
//-  smile, building, fire
mixin condition(options)
    -
        var pictClass = "condition__pict condition__pict_" + options.pict
        var needHR = options.isHR == undefined ? true : options.isHR
    .condition__container
        div(class=pictClass)
        .condition__text
            b #{options.title}
            br
            p(class="condition__text_normal") #{options.description}
    if(needHR)
        .condition__hr