@import '../_buttons/like/like.scss';
.review--container {
	display: flex;
	width: 100%;
}
.review--pict {
	width: 48rem;
	height: 48rem;
	box-sizing: border-box;
	background-color: #fff;
	margin-bottom: 12rem;
	border-radius: 32rem;
	overflow: hidden;
	box-shadow: 0rem 10rem 20rem rgba(31, 32, 65, 0.1);
	& img {
			height: 100%;
			width: 100%;
			object-fit: cover;
	}
}
.review--leftColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 48rem;
}
.review--rightColumn {
	width: calc(100% - 48rem);
	padding-left: 10rem;
}
.review--name {
	font: normal bold 14rem/24rem Montserrat;
	color: $dark-shade-75;
}
.review--daysAgo {
	font: normal normal 14rem/24rem Montserrat;
	color: $dark-shade-75;
}
.review--text {
	display: inline-block;
	margin-top: 10rem;
	@extend .review--daysAgo;
}