@import '../_buttons/like/like.scss';
.review--container {
	display: flex;
	width: 100%;
}
.review--pict {
	width: 48;
	height: 48;
	box-sizing: border-box;
	background-color: #fff;
	margin-bottom: 12;
	border-radius: 32;
	overflow: hidden;
	box-shadow: 0 10 20 rgba(31, 32, 65, 0.1);
	& img {
			height: 100%;
			width: 100%;
			object-fit: cover;
	}
}
.review--leftColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 48;
}
.review--rightColumn {
	width: calc(100% - 48);
	padding-left: 10;
}
.review--name {
	font: normal bold 14/24 Montserrat;
	color: $dark-shade-75;
}
.review--daysAgo {
	font: normal normal 14/24 Montserrat;
	color: $dark-shade-75;
}
.review--text {
	display: inline-block;
	margin-top: 10;
	@extend .review--daysAgo;
}