.expandable-checkbox-list {
  @include font-body;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 44px;

  cursor: pointer;

  &__title {
    @include font-h3;
  }

  &__arrow {
    display: inline-block;
    width: 44px;
    text-align: center;

    font: normal normal 24px/24px materialIcons;
    color: $dark-shade-50;
  }

  &__container {
    position: relative;

    & .checkbox__container:not(:last-child) {
      margin-bottom: 8px;
    }
  }

}