include ../checkbox/checkbox

mixin expandable-checkbox-list(options = {})
  -
    const {
      title = 'Дополнительные удобства',
      list = [
        { title: 'Завтрак' },
        { title: 'Письменный стол', isChecked: true },
        { title: 'Стул для кормления', isChecked: true },
        { title: 'Кроватка', isChecked: true },
        { title: 'Телевизор' },
        { title: 'Шампунь'}
      ]
    } = options;
  .expandable-checkbox-list.js-expandable-checkbox-list
    h3.expandable-checkbox-list__title #{title}
    p.expandable-checkbox-list__arrow-down.js-expandable-checkbox-list__arrow-down keyboard_arrow_down
    p.expandable-checkbox-list__arrow-up.js-expandable-checkbox-list__arrow-up keyboard_arrow_up
  ul.expandable-checkbox-list__container.js-expandable-checkbox-list__container
    each checkboxParameter in list
      +checkbox(checkboxParameter)