include ../checkbox/checkbox
-
  const expandList = []
  expandList.push({title: "Завтрак"})
  expandList.push({title: "Письменный стол", isChecked: true})
  expandList.push({title: "Стул для кормления", isChecked: true})
  expandList.push({title: "Кроватка", isChecked: true})
  expandList.push({title: "Телевизор"})
  expandList.push({title: "Шампунь"})
mixin expandable-checkbox-list({title = "Дополнительные удобства", list = expandList } = {})
  .expandable-checkbox-list.js-expandable-checkbox-list
    h3.expandable-checkbox-list__title #{title}
    p.expandable-checkbox-list__arrow-down.js-expandable-checkbox-list__arrow-down keyboard_arrow_down
    p.expandable-checkbox-list__arrow-up.js-expandable-checkbox-list__arrow-up keyboard_arrow_up
  .expandable-checkbox-list__container.js-expandable-checkbox-list__container
    each val in list
      +checkbox(val)