@import '../../_form-elements/text-field/text-field.scss';
@import '../../_form-elements/_buttons/button/button.scss';

.sign-in {
	padding: 40 30 32;

	background: #FFFFFF;
	box-shadow: 0 0 25 rgba(0, 0, 0, 0.2);

	border: 1 solid rgba(0, 0, 0, 0.12);
	border-radius: 4;
	box-sizing: border-box;

	& h1 {
		margin-bottom: 20;
	}

	&--details {
		margin-bottom: 10;

		& input {
			margin-bottom: 10;
		}
	}

	& button {
		height: 44;
	}

	&--signup {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-top: 30;

		& button {
			width: 99;
		}
	}
}