@import '../../_form-elements/text-field/text-field.scss';
@import '../../_form-elements/_buttons/button/button.scss';

.sign-in {
	padding: 40rem 30rem 32rem;

	background: #FFFFFF;
	box-shadow: 0rem 0rem 25rem rgba(0, 0, 0, 0.2);

	border: 1rem solid rgba(0, 0, 0, 0.12);
	border-radius: 4rem;
	box-sizing: border-box;

	& h1 {
		margin-bottom: 20rem;
	}

	&--details {
		margin-bottom: 10rem;

		& input {
			margin-bottom: 10rem;
		}
	}

	& button {
		height: 44rem;
	}

	&--signup {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-top: 30rem;
	}
}