include ../../_formElements/_textField/textField
include ../../_formElements/_buttons/_radio/_buttons__radio
include ../../_formElements/_buttons/_toggle/_buttons__toggle
include ../../_formElements/_buttons/_button/_button

mixin registration
    .regustration--container
        h1 Регистрация аккаунта
        .registration--nameField
            .registration--block
                +textField("firstName", "", "Имя")
            .registration--block
                +textField("lastName", "", "Фамилия")
        .registration--block
            +radioButtons
        .registration--birthday
            .registration--block
                +textField("birthday", "дата рождения", "ДД.ММ.ГГГГ")
        .registration--loginInfo
            .registration--block
                +textField("login", "данные для входа в сервис", "Email")
            .registration--block
                +textField("password", "", "Пароль", true)
        .registration--block
            +toggleButton("Получать спецпредложения")
        .registration--payButton
            +button({title: "Перейти к оплате"})
        .registration--entry
            p Уже есть аккаунт на Toxin
            .registration--login
                +button({size: "medium", theme: "border", title: "Войти"})