mixin like({ isChecked = false, counter = 0 } = {})
  -
    const blockClass = isChecked ? "like like_actived" : "like"
  div(class = blockClass)
    button.like__button
      span.like__heart
      span.like__counter #{counter}