mixin like({isChecked = false, counter = 0} = {})
  .like
    if isChecked
      button(type="button", class="like__button like__button_active")
        span.like__counter.like__counter-active #{counter}
    else
      button(type="button", class="like__button")
        span.like__counter #{counter}