.like {
  display: inline-block;
  border-radius: 10px;
  
  &:active, &:focus, &:hover {
    box-shadow: 0 0 5px $dark-shade-50;
  }

  &_state {
    &_active {
      display: inline-block;
      border-radius: 10px;
  
      &:active, &:focus, &:hover {
        box-shadow: 0 0 5px $purple;
      }
    }
  }

  &__button {
    @include font-body;
    display: flex;
    width: 40px;
    height: 20px;
    box-sizing: border-box;
    align-items: center;
    outline: none;
    cursor: pointer;
    border-radius: inherit;
    border: 1px solid $dark-shade-25;
    background-color: #fff;
  }

  &__heart {
    font: normal normal 10px/10px materialIcons;
    width: 9px;
    height: 11px;

    &::after {
      position: absolute;
      content: 'favorite_border';
      color: $dark-shade-25;
    }
  }

  &__counter {
    display: inline-block;
    margin-left: 9px;
    width: 12px;
    @include fix-overflow;
    text-align: center;
    font: normal normal 10px/12px Montserrat, sans-serif;
    color: $dark-shade-25;
  }
}

.like.like_state_active {
  & .like__button {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid transparent;

    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      border-radius: inherit;
      background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    }
  }

  & .like__heart {
    &:after {
      content: 'favorite';
      color: $purple;
    }
  }

  & .like__counter {
    color: $purple;
  }
}