.booking {
  @include font-body;
  height: fit-content;
  padding: 39px 7.895% 29px;
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 31px;
    margin-bottom: 19px;

    &-apart {
      display: inline-block;
      width: 49%;
      height: inherit;

      &-text {
        display: inline-block;
        width: 47px;
        vertical-align: bottom;
        @include fix-overflow;
        @include font-h1;
      }

      &-lux {
        display: inline-block;
        width: 41px;
        height: 16px;
        vertical-align: middle;
        @include fix-overflow;
        @include font-h3;
        color: $purple;
        line-height: 17px;
      }
    }

    &-price {
      display: inline-block;
      width: 49%;
      height: 24px;
      text-align: right;
      vertical-align: bottom;
      color: $dark-shade-50;
      @include fix-overflow;

      &-text {
        @include font-body;

        &_bold {
          font-weight: bold;
        }
      }
    }

    &-number {
      display: inline-block;
      width: 22px;
      height: 18px;
      @include fix-overflow;
      @include font-h1;
      vertical-align: bottom;
      font-size: 14px;
      line-height: 17px;
      color: $dark-shade-100;
    }
  }

  &__arival-departure {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__guests {
    margin-bottom: 17px;

    &-text {
      display: inline-block;
      width: 98%;
      height: 15px;
      @include fix-overflow;
      @include font-h3;
    }

    & .iqdropdown {
      margin-top: -3px;
    }
  }

  &__exclamation {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    
    border: 1px solid $dark-shade-25; 
    box-sizing: border-box;
    border-radius: 50%;

    &-symbol {
      @include font-body;
      font-size: 12px;
      line-height: 21px;
      color: $dark-shade-25;

      &_bold {
        font-weight: bold;
      }
    }
    }

  &__calculation {
    margin-bottom: 30px;

    &-line {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 24px;
      @include fix-overflow;

      &:nth-child(3) {
        height: 38px;
      }

      &:first-child {
        margin-bottom: 11px;
      }

      &:nth-child(2) {
        margin-bottom: 10px;
      }
    }

    &-text {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      width: 75.1574%;
    }
  }

  &__description {
    display: inline-block;
    width: 89.5398%;
    line-height: 19px;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 24px;
    @include fix-overflow;

    &-text {
      @include font-h2;
      white-space: nowrap;
    }

    &-line {
      margin: 0 5px;
      width: 100%;
      height: 18px;

      &_dashed {
        border-bottom: 1px dotted $dark-shade-25;
      }
    }
  }

  &__submit-button {
    margin-top: 20px;
    height: 44px;
  }
}