include ../headline/headline
mixin range-slider({title = "title"} = {})
  .range-slider
    +headline({title: title})
    span.range-slider__values.js-range-slider__values
  .range-slider__container.js-range-slider__container