mixin range-slider({title = "title", jsClass = "demo"} = {})
  .range-slider__container
    h3.h3 #{title}
    span(class = `range-slider__values js-${jsClass}-range-slider__values`)
  div(class = `js-${jsClass}-range-slider`)