mixin range-slider({title = "title"} = {})
  .range-slider__container
    h3.range-slider__title #{title}
    span(class = `range-slider__values js-range-slider__values`)
  div(class = `js-range-slider`)