extends ../template-ui-kit/template-ui-kit

include ../../components/headline/headline
include ../../components/text-field/text-field
include ../../components/dropdown/dropdown
include ../../components/masked-text-field/masked-text-field
include ../../components/date-dropdown/date-dropdown
include ../../components/subscription-field/subscription-field
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/checkbox/checkbox
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/like/like
include ../../components/rate/rate
include ../../components/rich-checkbox/rich-checkbox
include ../../components/range-slider/range-slider
include ../../components/button/button
include ../../components/pagination/pagination
include ../../components/bullet-list/bullet-list
include ../../components/amenity/amenity
include ../../components/comment/comment

block append head
  title Form Elements

block prepend container
  -
    const pageClass = 'form-elements'

block append content
  .form-elements__container
    article.form-elements__column-section
      .form-elements__block-text-field
        .form-elements__title
          +headline({title: 'text field'})
        +text-field({placeholder: 'Email'})
      .form-elements__block-dropdown-guests
        .form-elements__title
          +headline({title: 'dropdown'})
        +dropdown()
      .form-elements__block-masked-text-field
        .form-elements__title
          +headline({title: 'masked text field'})
        +masked-text-field({placeholder: 'ДД.ММ.ГГГГ'})
      .form-elements__block-date-dropdown
        +date-dropdown({isSingle: false, label: ['date dropdown', 'date dropdown']})
      .form-elements__block-filter-date-dropdown
        +date-dropdown({label: ['filter date dropdown']})
      .form-elements__block-subscription-field
        .form-elements__title
          +headline({title: 'subscription text field'})
        +subscription-field({placeholder: 'Email'})
      .form-elements__block-dropdown-rooms
        .form-elements__title
          +headline({title: 'dropdown'})
        +dropdown({type: 'rooms', withControlButtons: false, defaultOutText: 'Сколько спален', menu: [ {id: 'bedrooms', count: 2, countGroup: 'bedrooms', title: 'спальни'}, {id: 'beds', count: 2, countGroup: 'beds', title: 'кровати'}, {id: 'bathrooms', count: 0, countGroup: 'bathrooms', title: 'ванные комнаты'} ]})
      .form-elements__block-expandable-checkbox-list
        +expandable-checkbox-list({title: 'expandable checkbox list'})

    article.form-elements__column-section
      .form-elements__block-checkbox
        .form-elements__title.form-elements__title_big
          +headline({title: 'checkbox buttons'})
        .form-elements__block-checkbox-element
          +checkbox({title: 'Можно курить'})
        .form-elements__block-checkbox-element
          +checkbox({title: 'Можно с питомцами', isChecked: true})
        .form-elements__block-checkbox-element
          +checkbox({title: 'Можно пригласить гостей (до 10 человек)', isChecked: true})
      .form-elements__block-radio
        .form-elements__title
          +headline({title: 'radio buttons'})
        .form-elements__block-radio-container
          .form-elements__block-radio-element
            +radio({name: 'sex', title: 'Мужчина', isChecked: true})
          .form-elements__block-radio-element
            +radio({name: 'sex', title: 'Женщина'})
      .form-elements__block-toggle
        .form-elements__title
          +headline({title: 'toggle'})
        .form-elements__block-toggle-element
          +toggle({title: 'Получать спецпредложения', isChecked: true})
        .form-elements__block-toggle-element
          +toggle({title: 'Получать спецпредложения'})
      .form-elements__block-like
        .form-elements__title
          +headline({title: 'like button'})
        .form-elements__block-like-element
          +like({counter: '2'})
        .form-elements__block-like-element
          +like({counter: '12', isChecked: true})
      .form-elements__block-rate
        .form-elements__title
          +headline({title: 'rate button'})
        .form-elements__block-rate-element
          +rate({rate: '4'})
        .form-elements__block-rate-element
          +rate({rate: '5'})
      .form-elements__block-dropdown-guests-2
        .form-elements__title
          +headline({title: 'dropdown'})
        +dropdown()
      .form-elements__block-rich-checkbox
        .form-elements__title
          +headline({title: 'rich checkbox buttons'})
        .form-elements__block-rich-checkbox-element
          +rich-checkbox({title: 'Широкий коридор', description: 'Ширина коридоров в номере не менее 91 см.'})
        .form-elements__block-rich-checkbox-element
          +rich-checkbox({title: 'Помощник для инвалидов', description: 'На 1 этаже вас встретит специалист и проводит до номера.'})

    article.form-elements__column-section
      .form-elements__block-range-slider
        +range-slider({title: 'range slider'})
      .form-elements__block-buttons
        .form-elements__title
          +headline({title: 'buttons'})
        .form-elements__block-buttons-line
          .form-elements__block-buttons-element.form-elements__block-buttons-element_active
            +button({style: 'gradient'})
          .form-elements__block-buttons-element-inactive
            +button({style: 'gradient', isActive: false})
        .form-elements__block-buttons-line
          .form-elements__block-buttons-element.form-elements__block-buttons-element_active
            +button({style: 'border'})
          .form-elements__block-buttons-element
            +button({style: 'border', isActive: false})
        .form-elements__block-buttons-text-line
          +button()
          +button({isActive: false})
        .form-elements__block-buttons-action-line
          +button({style: 'submitting', title: 'перейти к оплате'})
      .form-elements__block-pagination
        .form-elements__title
          +headline({title: 'pagination'})
        +pagination()
      .form-elements__block-dropdown-guests-3
        .form-elements__title
          +headline({title: 'dropdown'})
        +dropdown()
      .form-elements__block-bullet-list
        .form-elements__title
          +headline({title: 'bullet list'})
        +bullet-list({titles: ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']})
    article.form-elements__row-section
      .form-elements__block-amenity
        +amenity({icon: 'tag_faces', withLine: true, title: 'Комфорт', description: 'Шумопоглощающие стены'})
        +amenity({icon: 'location_city', withLine: true, title: 'Удобство', description: 'Окно в каждой из спален'}) 
      .form-elements__block-comments
        -
          const name = 'Конcтантин Константинопольский'
          const comment = 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей'
        +comment({login: 'user-1', likeCount: '10', isLiked: true, name: name, timeAgo: '5 дней назад', comment: comment})