@import '../../components/_base/scss/main.scss';
@import '../../components/_form-elements/text-field/text-field.scss';
@import '../../components/_form-elements/text-field/subscription-field/subscription-field.scss';
@import '../../components/_form-elements/dropdown/dropdown.scss';
@import '../../components/_form-elements/date-dropdown/date-dropdown.scss';
@import '../../components/_form-elements/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../../components/_form-elements/condition/condition.scss';


.section {
	&--block {
		&-266-px {
			width: 266px;
			margin-bottom: 20px;
		}
		&-320-px {
			max-width: 320px;
			min-width: 300px;
			margin-bottom: 20px;
		}
		&-flex {
			display: flex;
			justify-content: space-between;

			& div {
				width: 150px;
			}
		}
	}
}



// .elements__container {
//     margin: 0 9.791666667%;
//     width: 80.41666667%;
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
// }
// @media only screen and (min-width: 300px) and (max-width: 768px) {
//     .elements__container {
//         width: initial;
//         margin: 0 calc((100% - 320px) / 2);
//     }
//     .elements__container_left, .elements__container_right, .elements__container_center {
//         margin: 0 auto;
//     }
// }