@import '../../components/_base/scss/main.scss';
@import '../../components/_form-elements/text-field/text-field.scss';
@import '../../components/_form-elements/text-field/subscription-field/subscription-field.scss';
@import '../../components/_form-elements/dropdown/dropdown.scss';
@import '../../components/_form-elements/date-dropdown/date-dropdown.scss';
@import '../../components/_form-elements/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../../components/_form-elements/condition/condition.scss';
@import '../../components/_form-elements/_buttons/checkbox/checkbox.scss';
@import '../../components/_form-elements/_buttons/radio/radio.scss';
@import '../../components/_form-elements/_buttons/toggle/toggle.scss';
@import '../../components/_form-elements/_buttons/like/like.scss';
@import '../../components/_form-elements/_buttons/rate/rate.scss';
@import '../../components/_form-elements/_buttons/button/button.scss';
@import '../../components/_form-elements/_buttons/rich-checkbox/rich-checkbox.scss';
@import '../../components/_form-elements/range-slider/range-slider.scss';
@import '../../components/_form-elements/pagination/pagination.scss';
@import '../../components/_form-elements/bullet-list/bullet-list.scss';
@import '../../components/_form-elements/review/review.scss';

.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 141rem;

	@media screen and (min-width: $old-phones) and (max-width: $pads) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
	}
}
.section {
	width: 320rem;
	margin-bottom: 40rem;

	@media screen and (min-width: $old-phones) and (max-width: $pads) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0;
	}

	&--block {
		&-222-rem {
			width: 222rem;
			margin-bottom: 40rem;
			
			& .toggle--container {
				margin-bottom: 14rem;
			}
			& .like {
				margin-right: 10rem;
			}
		}
		&-266-rem {
			width: 266rem;
			margin-bottom: 20rem;
			box-sizing: border-box;

			& .rich-checkbox--container {
				margin-bottom: 10rem;
				width: 260rem;
			}
		}
		&-320-rem {
			max-width: 320rem;
			min-width: 300rem;
			margin-bottom: 20rem;
			
			& .rate {
				margin-right: 20rem;
				margin-bottom: 40rem;
			}
		}
		&-flex {
			display: flex;
			justify-content: space-between;

			& div {
				width: 46.875%;
			}
		}
		&-radio {
			display: flex;
		}
	}

	&--button-container {
		&-medium {
			display: inline-block;
			
			height: 44rem;

			margin-right: 20rem;
		}
		&-small {
			display: inline-block;

			margin-right: 20rem;
			margin-bottom: 30rem;
		}
		&-big {
			height: 44rem;
			margin-bottom: 40rem;
		}
	}
}
.label-20 {
	margin-bottom: 20rem;
}
.footer {
	margin-bottom: 40rem;
}