//- mixin head(title, css, js)
include ../../components/head/head
//- mixin logo
include ../../components/logo/logo

include ../../components/text-field/text-field
include ../../components/subscription-field/subscription-field
include ../../components/dropdown/dropdown
include ../../components/date-dropdown/date-dropdown
include ../../components/expandable-checkbox-list/expandable-checkbox-list
include ../../components/condition/condition
include ../../components/checkbox/checkbox
include ../../components/radio/radio
include ../../components/toggle/toggle
include ../../components/like/like
include ../../components/rate/rate
include ../../components/button/button
include ../../components/rich-checkbox/rich-checkbox
include ../../components/range-slider/range-slider
include ../../components/bullet-list/bullet-list
include ../../components/review/review

doctype html
html
  +head({title: "Form Elements", isProduction: true})
  body
    .logo
      +logo()
    main.form-elements__container
      section.form-elements__section
        .form-elements__block_320-px
          h3.form-elements__title text field
          +text-field({placeholder: "Email"})
        .form-elements__block_320-px
          h3.form-elements__title dropdown
          +dropdown({jsClass: "form-elements-guests"})
        .form-elements__block_320-px
          h3.form-elements__title masked text field
          +text-field({placeholder: "ДД.ММ.ГГГГ", jsClass: "form-elements-masked"})
        .form-elements__block_320-px
            +date-dropdown({isSingle: false, label: ["date dropdown", "date dropdown"]})
        .form-elements__block_266-px
          +date-dropdown({jsClass: "form-elements", label: "filter date"})
        .form-elements__block_266-px
          h3.form-elements__title subscribteon text field
          +subscription-field({placeholder: "Email"})
        .form-elements__block_266-px
          h3.form-elements__title dropdown
            +dropdown({isGuests: false, jsClass: "form-elements-rooms"})
        .form-elements__block_266-px
          +expandable-checkbox-list({jsClass: "form-elements"})
        .form-elements__block_266-px
          +condition({icon: "tag_faces", isRowed: true, title: "Комфорт", description: "Шумопоглощающие стены"})
          +condition({icon: "location_city", isRowed: true, title: "Удобство", description: "Окно в каждой из спален"})

      section.form-elements__section
        .form-elements__block_222-px
          h3.form-elements__title_big checkbox buttons
          +checkbox({title: "Можно курить"})
          +checkbox({title: "Можно с питомцами", isChecked: true})
          +checkbox({title: "Можно пригласить гостей (до 10 человек)", isChecked: true})
        .form-elements__block_222-px
          h3.form-elements__title_big radio buttons
          .form-elements__block-radio
            +radio({name: "sex", title: "Мужчина", isChecked: true})
            +radio({name: "sex", title: "Женщина"})
        .form-elements__block_222-px
          h3.form-elements__title_big toggle
          +toggle({title: "Получать спецпредложения", isChecked: true})
          +toggle({title: "Получать спецпредложения"})
        .form-elements__block_222-px
          h3.form-elements__title_big like button
          div(style = "display:flex;")
            +like({counter: "2"})
            +like({counter: "12", isChecked: true})
        .form-elements__block_320-px
          h3.form-elements__title_big rate button
          +rate({rate: "4"})
          +rate({rate: "5"})
        .form-elements__block_266-px
          h3.form-elements__title_big rich checkbox buttons
          +rich-checkbox({title: "Широкий коридор", description: "Ширина коридоров в номере не менее 91 см."})
          +rich-checkbox({title: "Помощник для инвалидов", description: "На 1 этаже вас встретит специалист и проводит до номера."})

      section.form-elements__section
        .form-elements__block_266-px
          +range-slider({title: "range slider", jsClass: "form-elements"})
        .form-elements__block_266-px
          h3.form-elements__title buttons
          div(style="margin: 11px 0 30px 0;")
            .form-elements__button-container_medium
              +button({theme: "gradient"})
            .form-elements__button-container_medium
              +button({theme: "gradient-transparent"})
          div(style="margin-bottom: 30px;")
            .form-elements__button-container_medium
              +button({theme: "border"})
            .form-elements__button-container_medium
              +button({theme: "border-transparent"})
          .form-elements__button-container_small
            +button({theme: "text-gray"})
          .form-elements__button-container_small
            +button({theme: "text-purple"})
        .form-elements__block_320-px
          .form-elements__button-container_big
            +button({theme: "action", title: "Перейти к оплате"})
        .form-elements__block_320-px
          h3.form-elements__title_big pagination
          .js-form-elements-pagination
        .form-elements__block_320-px
          h3.form-elements__title_big bullet list
          -
            let bullets = []
            bullets.push("Нельзя с питомцами")
            bullets.push("Без вечеринок и мероприятий")
            bullets.push("Время прибытия — после 13:00, а выезд до 12:00")
          +bullet-list({titles: bullets})

      footer.form-elements__footer
        -
          let name = "Конcтантин Константинопольский"
          let review = "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей"
        +review({login: "user-1", likeCount: "10", isLiked: true, name: name, timeAgo: "5 дней назад", review: review})
