.form-elements {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: -3px 140px 0 140px;

    @media screen and (min-width: $old-phones) and (max-width: $pads) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
  }
  &__column-section {
    display: flex;
    flex-direction: column;

    min-width: 266px;
    max-width: 320px;
    margin-bottom: 40px;

    &:first-child {
      @media screen and (min-width: $desktop) {
        margin-right: 54px;
      }
    }

    @media screen and (min-width: $old-phones) and (max-width: $pads) {
      justify-content: center;
      align-items: center;
      margin: 0;
    }
  }

  &__row-section {
    display: flex;
    flex-direction: row;
  }

  &__block {
    // first section
    &-text-field {
      width: 320px;
      margin-bottom: 105px;
    }
    &-dropdown-guests {
      width: 320px;
      margin-bottom: 24px;
    }
    &-masked-text-field {
      width: 320px;
      margin-bottom: 40px;
    }
    &-date-dropdown {
      width: 320px;
      margin-bottom: 41px;
    }
    &-filter-date-dropdown {
      width: 266px;
      margin-bottom: 41px;
    }
    &-subscription-field {
      width: 266px;
      margin-bottom: 184px;
    }
    &-dropdown-rooms {
      width: 266px;
      margin-bottom: 221px;

      & .form-elements__title {
        margin-bottom: 5px;
      }
    }
    &-expandable-checkbox-list {
      width: 263px;
      margin-bottom: 56px;
    }

    // second section
    &-checkbox {
      width: 231px;
      margin-bottom: 34px;

      & .form-elements__title {
        margin-bottom: 15px;
      }
      & .checkbox__container:not(:last-child) {
        margin-bottom: 6px;
      }
    }
    &-radio {
      width: 222px;
      margin-bottom: 42px;

      &-container {
        display: flex;
        
        & .radio__container:not(:last-child) {
          margin-right: 10px;
        }
      }
      & .form-elements__title {
        margin-bottom: 16px;
      }
    }
    &-toggle {
      width: 260px;
      margin-bottom: 45px;

      & .form-elements__title {
        margin-bottom: 16px;
      }
      & .toggle__container:not(:last-child) {
        margin-bottom: 14px;
      }
    }
    &-like {
      width: 120px;
      margin-bottom: 40px;

      & .form-elements__title {
        margin-bottom: 15px;
      }
      & .like__container:not(:last-child) {
        margin-right: 10px;
      }
    }
    &-rate {
      width: 260px;
      margin-bottom: 192px;

      & .form-elements__title {
        margin-bottom: 16px;
      }
      & .rate:not(:last-child) {
        margin-right: 20px;
      }
    }
    &-dropdown-guests-2 {
      width: 320px;
      margin-bottom: 256px;

      & .form-elements__title {
        margin-bottom: 5px;
      }
    }
    &-rich-checkbox {
      width: 266px;

      & .form-elements__title {
        margin-bottom: 14px;
      }
    }

    // third section
    &-range-slider {
      width: 266px;
      margin-bottom: 43px;
    }
    &-buttons {
      width: 320px;
      margin-bottom: 40px;

      &-line {
        display: flex;
        margin-bottom: 30px;

        & .button:not(:last-child) {
          margin-right: 18px;
        }
        & .button {
          width: 99px;
          height: 44px;
        }
      }

      &-text-line {
        display: flex;

        width: 182px;

        margin: 0 -10px 32px;

        & .button {
          width: 81px;
          height: 14px;
        }
      }

      &-action-line {
        width: 320px;
        height: 44px;
      }

      & .form-elements__title {
        margin-bottom: 16px;
      }
    }
    &-pagination {
      width: 320px;
      margin-bottom: 233px;

      & .form-elements__title {
        margin-bottom: 15px;
      }
    }
    &-dropdown-guests-3 {
      width: 320px;
      margin-bottom: 256px;

      & .form-elements__title {
        margin-bottom: 5px;
      }
    }
    &-bullet-list {
      width: 281px;

      & .form-elements__title {
        margin-bottom: 13px;
      }
    }

    // fours section
    &-condition {
      width: 67.29%;
      margin-right: 155px;
    }
    &-reviews {
      margin-top: 10px;
    }
  }

    &__button-container {
      &_medium {
        display: inline-block;

        height: 44px;
        width: 99px;

        margin-right: 20px;
      }
      &_small {
        display: inline-block;

        width: 81px;

        margin-right: 20px;
        margin-bottom: 30px;
      }
      &_big {
        height: 44px;
        margin-bottom: 40px;
      }
    }

  &__footer {
    margin-bottom: 40px;
  }
  &__title {
    width: 90%;
    height: 15px;

    @include font-h3;
    @include fix-overflow;
    margin-bottom: 4px;

    &_big {
      width: 90%;
      height: 15px;

      @include font-h3;
      @include fix-overflow;
      margin-bottom: 20px;
    }
  }
}