mixin SubscribtionTextField (textId, buttonId, placeholder)
    .subscribeContainer
        input(type="text", id = textId, class = "textField subscribeTextField", placeholder = placeholder)
        button(type="submit", id = buttonId, class = "subscribeButton")