include ../logo/logo
include ../social-link/social-link

mixin short-footer(options = {})
  -
    const {
      description = 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
      socialNetworks = ['tweeter', 'facebook', 'instagram']
    } = options;
  footer.short-footer
      .short-footer__logo
        +logo({isFull: true})
      article.short-footer__description #{description}
      .short-footer__icons
        each socialNetwork in socialNetworks
          +social-link({socialNetwork: socialNetwork})