mixin control-button({isApply = true} = {})
  -
    const titles = {
      apply: 'применить',
      clear: 'очистить'
    }
    const titleButton = isApply
      ? titles.apply
      : titles.clear;
    const classButton = isApply
      ? 'control-button control-button_purple js-control-button'
      : 'control-button control-button_gray js-control-button';
    const dataType = isApply
      ? 'apply'
      : 'clear';
  button(type ='button', class = classButton, data-type = dataType)
    .control-button__wrapper
      h3.control-button__label #{titleButton}