mixin control-button({isApply = true} = {})
  -
    const titles = {
      apply: 'применить',
      clear: 'очистить'
    }
    const titleButton = isApply
      ? titles.apply
      : titles.clear;
    const classButton = isApply
      ? 'control-button_purple'
      : 'control-button_gray';
    const dataType = isApply
      ? 'apply'
      : 'clear';
  button(type ='button', class = `control-button js-control-button ${classButton}`, data-type = dataType)
    span.control-button__wrapper
      span.control-button__label #{titleButton}