include ../headline/headline
mixin control-button({isApply = true} = {})
  -
    const titles = {
      apply: "применить",
      clear: "очистить"
    }
    const titleButton = isApply
      ? titles.apply
      : titles.clear;
    const classButton = isApply
      ? "control-button control-button_apply js-control-button"
      : "control-button control-button_clear js-control-button";
    const dataType = isApply
      ? "apply"
      : "clear";
  button(class = classButton, data-type = dataType)
    .control-button__wrapper
      +headline({title: titleButton})