@import '../../_formElements/_dateDropdown/dateDropdown';
@import '../../_formElements/_dropdown/dropdown.scss';
@import '../../_formElements/_buttons/_button/button';
.findAppart__container {
    width: 382px;
    height: 374px;
    padding: 40px 30px 30px 30px;

    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.findAppart__dateDropdown {
    margin-top: 20px;
}
.findAppart__dropdown {
    margin-top: 20px;
    margin-bottom: 31px;
}