// mixin font-face($name, $path, $weight, $style, $exts: eot woff2 woff ttf svg)
@include font-face(Quicksand, '../fonts/Quicksand-Bold', bold, normal, eot woff ttf svg);
@include font-face(Quicksand, '../fonts/Quicksand-Regular', normal, normal, eot woff ttf svg);
@include font-face(Montserrat, '../fonts/Montserrat-Bold', bold, normal, eot woff ttf svg);
@include font-face(Montserrat, '../fonts/Montserrat-Regular', normal, normal, eot woff ttf svg);
@include font-face(MaterialIcons, '../fonts/MaterialIcons-Regular', normal, normal, eot woff ttf svg);
@include font-face(FontAwesomeBrands, '../fonts/FontAwesome5Brands', normal, normal, eot woff ttf svg);

.body {
	font: normal normal 14px/24px Montserrat, Arial, sans-serif;
	color: $dark-shade-75;
}
.h1 {
	font: normal bold 24px/30px Quicksand, Montserrat, Arial, sans-serif;
	color: $dark-shade-100;
}
.h2 {
	font: normal bold 19px/24px Quicksand, Montserrat, Arial, sans-serif;
	color: $dark-shade-100;
}
.h3 {
	font: normal bold 12px/15px Montserrat, Arial, sans-serif;
	text-transform: uppercase;
	color: $dark-shade-100;
}
.material-icons {
  font-family: MaterialIcons;
}
.awesome-brands {
  font-family: FontAwesomeBrands;
}
.label {
	margin-bottom: 5px;
}