$star-size: 24px;
$container-size: $star-size * 5;
.rate {
  display: inline-block;
  width: $container-size;
  height: $star-size;
  & .rate__label {
    height: inherit;
  }
}
.rate:not(:checked) > .rate__input {
  position:absolute;
  visibility: hidden;
}

.rate:not(:checked) > .rate__label {
  float: right;
  width: $star-size;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  color: $purple;
}


.rate:not(:checked) > .rate__label:before {
  font: normal normal 24px/24px materialIcons;
  content: 'star_border';
}

.rate > .rate__input:checked ~ .rate__label {
  &:before {
    content: 'star';
  }
}

.rate:not(:checked) > .rate__label:hover,
.rate:not(:checked) > .rate__label:hover ~ .rate__label {
  text-shadow: 0 0 5px $dark-shade-50;
}

.rate > .rate__input:checked + .rate__label:hover,
.rate > .rate__input:checked + .rate__label:hover ~ .rate__label,
.rate > .rate__input:checked ~ .rate__label:hover,
.rate > .rate__input:checked ~ .rate__label:hover ~ .rate__label,
.rate > .rate__label:hover ~ .rate__input:checked ~ .rate__label {
  text-shadow: 0 0 5px $dark-shade-50;
}

.rate > .rate__label:active {
  position:relative;
}