mixin rate({rate = 0} = {})
  -
    const stars = [1, 2, 3, 4, 5]
  .rate.js-rate
    each starNumber in stars
      -
        const isRated = starNumber <= rate
        const classStar = isRated
          ? 'rate__star_rated'
          : ''
      button(type = 'button', class = 'rate__button')
        span(class = `rate__star js-rate__star ${classStar}`, data-value = starNumber)