$star-size: 24px;
$container-size: $star-size * 5;

.rate {
  display: inline-block;
  width: $container-size;
  height: $star-size;
  
  &__button {
    width: $star-size;
    height: $star-size;
    cursor: pointer;
    outline: none;
    background: none;
    border: none;
    
  }

  &__star {
    width: inherit;
    height: inherit;

    &:before {
      font: normal normal 24px/24px materialIcons;
      color: $purple;
      content: 'star_border';
    }

    &.rate__star_mark_rated:before {
      content: 'star';
    }

    &:hover, &:focus, &:active {
      text-shadow: 0 0 5px $purple;
    }
  }
}