@import '../../components/_base/scss/main.scss';

@import '../../components/header/header.scss';
@import '../../components/footer/footer.scss';

@import '../../components/cards/registration/registration.scss';

main {
	display: flex;
	justify-content: center;
	align-items: center;

	background-image: url(../../img/background/registration.png);
	background-repeat: no-repeat;
	background-position: center 100%;
	background-size: cover;
}

.container {
	margin: 30rem 0;
	width: 380rem;

	@media screen and (min-width: $old-phones) and (max-width: 400rem) {
		width: 310rem;
	}
}