extends ../template/template

block append head
  title Registration

block append body
  body.registration-page

block content
  main.registration-page__content
    section.registration-page__container
      +registration