include ../../components/head/head

include ../../components/header/header
include ../../components/footer/footer

include ../../components/registration/registration


doctype html
html
  +head({title: "Registration", isProduction: true})
  body.body
    header
      +header()

    main.registration-page
      section.registration-page__container
        +registration

    footer
      +footer()