extends ../template-page/template-page

include ../../components/registration/registration

block append head
  title Registration

block prepend container
  -
    const pageClass = 'registration-page'

block append content
  .registration-page__content
    section.registration-page__container
      +registration()