include ../../components/head/head

include ../../components/header/header
include ../../components/footer/footer

include ../../components/registration/registration


doctype html
html
  +head({title: "Registration"})
  body.registration-page
    header.registration-page__header
      +header()

    main.registration-page__content
      section.registration-page__container
        +registration

    footer.registration-page__footer
      +footer()

    script(src="main.min.js")