mixin rich-checkbox({title="title", description="description"} = {})
  label(class="rich-checkbox--container")
    input(type="checkbox", class = "rich-checkbox")
    span(class="rich-checkbox--checkmark")
    div(style="padding-left: 30px;")
      span(class="rich-checkbox--title") #{title}
      br
      p(class="rich-checkbox--description") #{description}