mixin rich-checkbox({title="title", description="description", isChecked = false} = {})
  label.rich-checkbox
    input(type="checkbox", class = "rich-checkbox__input", checked=isChecked)
    span.rich-checkbox__checkmark
    .rich-checkbox__wrapper
      span.rich-checkbox__title #{title}
      br
      p.rich-checkbox__description #{description}