mixin rich-checkbox({title="title", description="description", isChecked = false} = {})
  label.rich-checkbox__container
    if isChecked
      input(type="checkbox", class = "rich-checkbox", checked)
    else
      input(type="checkbox", class = "rich-checkbox")
    span.rich-checkbox__checkmark
    .rich-checkbox__wrapper
      span.rich-checkbox__title #{title}
      br
      p.rich-checkbox__description #{description}