mixin rich-checkbox({title='title', description='description', isChecked = false} = {})
  label.rich-checkbox
    input.rich-checkbox__input(type='checkbox', checked=isChecked)
    span.rich-checkbox__checkmark
    span.rich-checkbox__wrapper
      span.rich-checkbox__title #{title}
      span.rich-checkbox__description #{description}