mixin rich-checkbox({title="title", description="description", isChecked = false} = {})
  label(class="rich-checkbox__container")
    if isChecked
      input(type="checkbox", class = "rich-checkbox", checked)
    else
      input(type="checkbox", class = "rich-checkbox")
    span(class="rich-checkbox__checkmark")
    div(style="padding-left: 30px;")
      span(class="rich-checkbox__title") #{title}
      br
      p(class="rich-checkbox__description") #{description}