mixin rich-checkbox(options)
  label(class="rich-checkbox--container")
    input(type="checkbox", class = "rich-checkbox")
    span(class="rich-checkbox--checkmark")
    div(style="padding-left: 30px;")
      span(class="rich-checkbox--title") #{options.title}
      br
      p(class="rich-checkbox--description") #{options.description}