.rich-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  &:checked ~ .rich-checkbox--checkmark {
    border: 1px solid #BC9CFF;
    content: "";
  }
  &:checked ~ .rich-checkbox--checkmark:after {
    display: block;
  }
  &--container {
    display: flex;
    position: relative;
    cursor: pointer;
    
    & .rich-checkbox--checkmark:after {
      left: 5px;
      top: 3px;
      width: 5px;
      height: 7px;
      border-image:  linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      border-image-slice: 1;
      border-right-style: solid;
      border-right-width: 2px;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      transform: rotate(45deg);
    }
  
    &:hover .rich-checkbox--checkmark,
    &:active .rich-checkbox--checkmark,
    &:focus .rich-checkbox--checkmark {
      box-shadow: 0 0 5px $dark-shade-25;
    }
  }
}
.rich-checkbox--checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid $dark-shade-25;
  box-sizing: border-box;
  border-radius: 4px;
  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}
.rich-checkbox--title {
  font: normal bold 14px/18px Montserrat, sans-serif;
  color: $dark-shade-75;
}
.rich-checkbox--description {
  padding-top: 3px;
  font: normal normal 12px/14px Montserrat, sans-serif;
  color: $dark-shade-50;
}