mixin dateDropdown (idLeft, idRight, labelLeft, labelRight)
    div(style = "float: left; margin-right: 20px; width: 150px")
        label(for = id, class = "label")
            h3 #{labelLeft}
        input(type="text", id = idLeft, class = "textField dateDropdown", placeholder = "ДД.ММ.ГГГГ")
    div(style = "float: right; width: 150px")
        label(for = id, class = "label")
            h3 #{labelRight}
        input(type="text", id = idRight, class = "textField dateDropdown", placeholder = "ДД.ММ.ГГГГ")