mixin dateDropdown (labelLeft, labelRight, id)
    -
        leftId = "dateDropdownLeft_" + id
        rightId = "dateDropdownRight_" + id
    .dateDropdown__container
        div
            label(for = leftId)
                h3(class = "label") #{labelLeft}
            input(type="text", id = leftId, class = "dateDropdown", placeholder = "ДД.ММ.ГГГГ")
        div
            label(for = rightId)
                h3(class = "label") #{labelRight}
            input(type="text", id = rightId, class = "dateDropdown", placeholder = "ДД.ММ.ГГГГ")