mixin dateDropdown (labelLeft, labelRight)
    .dateDropdown__container
        div
            label(for = 'dateDropdownLeft')
                h3(class = "label") #{labelLeft}
            input(type="text", id = 'dateDropdownLeft', class = "dateDropdown", placeholder = "ДД.ММ.ГГГГ")
        div
            label(for = 'dateDropdownRight')
                h3(class = "label") #{labelRight}
            input(type="text", id = 'dateDropdownRight', class = "dateDropdown", placeholder = "ДД.ММ.ГГГГ")