mixin dateDropdown (labelLeft, labelRight)
    .dateDropdown__container
        div
            label(for = idLeft)
                h3(class = "label") #{labelLeft}
            input(type="text", id = 'dateDropdownLeft', class = "textField dateDropdown", placeholder = "ДД.ММ.ГГГГ")
        div
            label(for = idRight)
                h3(class = "label") #{labelRight}
            input(type="text", id = 'dateDropdownRight', class = "textField dateDropdown", placeholder = "ДД.ММ.ГГГГ")