mixin logo({isFull = false} = {})
  if isFull
    .logo
      a(href='landing-page.html')
        .logo__picture.logo__picture_style_full
  else
    .logo.logo_short
      a(href='index.html')
        .logo__picture.logo__picture_style_short