mixin logo({isFull = false} = {})
  if isFull
    .logo
      a(href='landing-page.html')
        .logo__pict.logo__pict_full
  else
    .logo.logo_short
      a(href='index.html')
        .logo__pict.logo__pict_short