.logo {
  &_short {
    padding: 30px 0 65px 30px;

    @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
      margin: 30px 0 30px 30px;
    }
  }

  &__picture {
    display: inline-block;

    &_full {
      width: 106px;
      height: 40px;
      background: url(./img/logo-full-form.svg) no-repeat;
    }

    &_short {
      width: 48px;
      height: 48px;
      background: url(./img/logo-short-form.svg) no-repeat;
    }

    &:hover, &:focus, &:active {
      filter: drop-shadow(0px 0px 10px $dark-shade-75);
    }
  }
}