mixin color-block ({ mod = "dark-shade-100" } = {})
  .color-block
    -
      const modList = [
        "dark-shade-100",
        "dark-shade-75",
        "dark-shade-50",
        "dark-shade-25",
        "dark-shade-5",
        "green",
        "purple"
      ];
      const textList = [
        "Dark Shade 100%",
        "Dark Shade 75%",
        "Dark Shade 50%",
        "Dark Shade 25%",
        "Dark Shade 5%",
        "Green",
        "Purple"
      ];
      const hexColorList = [
        "#1F2041",
        "#1F2041",
        "#1F2041",
        "#1F2041",
        "#1F2041",
        "#BC9CFF",
        "#6FCF97"
      ];
      const colorBlock = {}
      modList.forEach((value, index) => {
        if(mod === value) {
          colorBlock.isModCorrected = true;
          colorBlock.text = textList[index];
          colorBlock.hexColor = hexColorList[index];
        }
      })
    if colorBlock.isModCorrected
      div(class = `color-block__colors-cell color-block__colors-cell_${mod}`)
      p.color-block__colors-text #{colorBlock.text}
        <br>
        span.color-block__colors-text.color-block__colors-text_regular #{colorBlock.hexColor}
    else
      p wrong mod