mixin color-block ({ colorBlock = 'dark-shade-100' } = {})
  -
    const colors = {
      'dark-shade-100': {
        hex: '#1F2041',
        text: 'Dark Shade 100%'
      },
      'dark-shade-75': {
        hex: '#1F2041',
        text: 'Dark Shade 75%'
      },
      'dark-shade-50': {
        hex: '#1F2041',
        text: 'Dark Shade 50%'
      },
      'dark-shade-25': {
        hex: '#1F2041',
        text: 'Dark Shade 25%'
      },
      'dark-shade-5': {
        hex: '#1F2041',
        text: 'Dark Shade 5%'
      },
      'green': {
        hex: '#BC9CFF',
        text: 'Green'
      },
      'purple': {
        hex: '#6FCF97',
        text: 'Purple'
      }
    }
    const {hex, text} = colors[colorBlock]
  .color-block
    div(class = `color-block__colors-cell color-block__colors-cell_${colorBlock}`)
    p.color-block__colors-text #{text}
      span.color-block__colors-text.color-block__colors-text_regular #{hex}