mixin color-block ({ mod = "dark-shade-100", text = "dark shade 100%", hexColor = "#1F2041" } = {})
  .color-block
    div(class = `color-block__colors-cell color-block__colors-cell_${mod}`)
    p(class = "color-block__colors-text") #{text}
      <br>
      span(class = `color-block__colors-text_regular`) #{hexColor}