.color-block {
  &__colors {
    display: inline-block;
    width: 270px;

    &-block {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 20px;	
    }

    &-cell {
      flex: none;
      width: 70px;
      height: 70px;
      border-radius: 6px;
      margin-right: 40px;

      &_dark-shade-100 {
        background-color: $dark-shade-100;
      }
      &_dark-shade-75 {
        background-color: $dark-shade-75;
      }
      &_dark-shade-50 {
        background-color: $dark-shade-50;
      }
      &_dark-shade-25 {
        background-color: $dark-shade-25;
      }
      &_dark-shade-5 {
        background-color: $dark-shade-5;
      }
      &_purple {
        background-color: $purple;
      }
      &_green {
        background-color: $green;
      }
    }

    &-text {
      width: 159px;

      @include fix-overflow;
      white-space: nowrap;
      font: normal bold 19px/29px Quicksand, Montserrat, sans-serif;
      text-transform: capitalize;

      &_regular {
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  }
}