$star-size: 24px;
$container-size: $star-size * 5;
.rate {
	width: $container-size;
	height: $star-size;
	& label {
		height: inherit;
	}
}
.rate:not(:checked) > input {
	position:absolute;
	top:-9999px;
	clip:rect(0,0,0,0);
}

.rate:not(:checked) > label {
	float: right;
	width: $star-size;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	color: $purple;
}


.rate:not(:checked) > label:before {
	font: normal normal 24px/24px materialIcons;
	content: 'star_border';
}

.rate > input:checked ~ label {
	&:before {
		content: 'star';
	}
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
	color: rgba(188, 156, 255, 0.75);
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
	color: rgba(188, 156, 255, 0.75);
}

.rate > label:active {
	position:relative;
}