extends ../template-ui-kit/template-ui-kit

include ../../components/headline/headline

block append head
  title index

block prepend container
  -
    const pageClass = 'index'

block append content
  .index__container
    nav.index__ui-kit
      a(href='colors-and-types.html', class='index__item')
        +headline({type: 'h2', title: 'Colors & Types'})
      a(href='form-elements.html', class='index__item')
        +headline({type: 'h2', title: 'Form Elements'})
      a(href='cards.html', class='index__item')
        +headline({type: 'h2', title: 'Cards'})
      a(href='headers-and-footers.html', class='index__item')
        +headline({type: 'h2', title: 'Headers & Footers'})
    nav.index__pages
      a(href='landing-page.html', class='index__item')
        +headline({type: 'h2', title: 'Landing Page'})
      a(href='registration-page.html', class='index__item')
        +headline({type: 'h2', title: 'Registration'})
      a(href='sign-in-page.html', class='index__item')
        +headline({type: 'h2', title: 'Sign-in'})
      a(href='room-detail.html', class='index__item')
        +headline({type: 'h2', title: 'Room details'})
      a(href='search-room.html', class='index__item')
        +headline({type: 'h2', title: 'Search-room'})