include ../../components/h2/h2
include ../../components/head/head
include ../../components/logo/logo
doctype html
html
  +head({title: "index"})
  body
    .logo
      +logo()  
    main.index__container
      section.index__ui-kit
        .index__item
          a(href="colors-and-types.html")
            +h2({title: "Colors & Types"})
        .index__item
          a(href="form-elements.html")
            +h2({title: "Form Elements"})
        .index__item
          a(href="cards.html")
            +h2({title: "Cards"})
        .index__item
          a(href="headers-and-footers.html")
            +h2({title: "Headers & Footers"})
      section.index__pages
        .index__item
          a(href="landing-page.html")
            +h2({title: "Landing Page"})
        .index__item
          a(href="registration.html")
            +h2({title: "Registration"})
        .index__item
          a(href="sign-in.html")
            +h2({title: "Sign-in"})
        .index__item
          a(href="room-detail.html")
            +h2({title: "Room details"})
        .index__item
          a(href="search-room.html")
            +h2({title: "Search-room"})

    script(src="main.min.js")