.index {
  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__ui-kit {
    margin-bottom: 20px;
    padding: 10px;

    width: 300px;

    border: 4px dotted $purple;
    box-sizing: border-box;

    & .index__item:hover {
      border-radius: 5px;
      background-color: $purple;
      box-shadow: 0 0 10px $purple;
    }
  }
  &__pages {
    padding: 10px;

    width: 300px;

    border: 4px dotted $green;
    box-sizing: border-box;

    & .index__item:hover {
      border-radius: 5px;
      background-color: $green;
      box-shadow: 0 0 10px $green;
    }
  }
  &__item {
    width: 98%;
    height: 24px;

    text-align: center;

    @include fix-overflow;
    white-space: nowrap;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    & + .index__title {
      color: $dark-shade-75;
    }
  }
  &__title {
    @include font-h2;
  }
}