mixin checkbox(id, label, isChecked)
    div
        label(class="checkbox-label") #{label}
            if isChecked
                input(type="checkbox", id = id, class = "checkbox", checked)
            else
                input(type="checkbox", id = id, class = "checkbox")
            span(class="checkbox-checkmark")