.apart {
  width: inherit;

  display: inline-block;
  
  overflow: hidden;

  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;

  &__text {
    padding: 13px 17px 12px 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    & .apart__header-title {
      & .h1 {
        display: inline-block;
        font-size: 18px;
        line-height: 24px;

        & .apart__header-number {
          font-size: 14px;
        }
      }

      & .h3 {
        display: inline;
        color: $purple;
      }
    }

    & .apart-price {
      margin-bottom: 1px;
    }
  }

  &__hrow {
    margin-top: 6px;

    width: 230px;
    height: 1px;

    background: rgba(31, 32, 65, 0.1);
  }

  &__rate {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin: 10px 3px 0 0;
  }
}