extends ../template-page/template-page

include ../../components/sign-in/sign-in

block append head
  title Sign-in

block prepend container
  -
    const pageClass = 'sign-in-page'

block append content
  .sign-in-page__content
    section.sign-in-page__container
      +sign-in()