.button {
  &-clear-apply {
    &__wrapper {
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;
    }
  }

  &-clear {
    display: inline-block;
    width: fit-content;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;

    & .headline-label {
      color: $dark-shade-50;
    }

    &:active, &:focus, &:hover {
      box-shadow: unset;
      text-shadow: 0 0 6px $dark-shade-50;
    }
  }

  &-apply {
    display: inline-block;
    width: fit-content;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    
    & .headline-label {
      color: $purple;
    }

    &:active, &:focus, &:hover {
      box-shadow: unset;
      text-shadow: 0 0 6px $purple;
    }
  }
}