.piechart {
  @include font-body;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 310px;

  &__chart {
    width: 120px;
    height: 120px;
  }

  &__label {
    fill: $purple;
    text-anchor: middle;
  }

  &__total {
    @include font-h1;
  }

  &__text {
    @include font-h3;
    transform: translateY(15px);
  }

  &__legend {
    display: inline-block;
    width: 161px;
    vertical-align: bottom;
    text-align: left;

    &-circle {
      display: inline-block;
      margin-right: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;

      &_perfect {
        background-image: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
      }
      &_good {
        background-image: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
      }
      &_satisfactorily {
        background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      }
      &_disappoint {
        background-image: linear-gradient(180deg, #919191 0%, #3D4975 100%);
      }
    }
  }
  
  &__rating {
    display: inline-block;
  }
}