@import '../../components/_base/scss/main.scss';
@import '../../components/header/header.scss';
@import '../../components/footer/footer.scss';

body {
	background-color: #e5e5e5;
}

header {
	margin-bottom: 39px;
}

.header--buttons {
	& button:first-child {
		width: 79px;
	}
}

footer {
	margin-bottom: 41px;

	&:last-child {
		margin-bottom: 130px;
	}
}