include ../../components/head/head

include ../../components/logo/logo
include ../../components/header/header
include ../../components/footer/footer

doctype html
html
  +head({title: "Headers & Footers"})
  body.header-footer
    +logo()
    header.header-footer__header
      -
        const headerConfig = {
          loginButton: "login", signUpButton: "register",
          links: [
            {type: "home", title: "Home"},
            {title: "About Us"},
            {type: "popup", title: "Services"},
            {title: "Careers"},
            {title: "News"},
            {title: "Documentation"}
          ]
        }

      +header(headerConfig)

    header.header-footer__header
      -
        headerConfig.isAuth = true
        headerConfig.login = "Cosmin Negoita"

      +header(headerConfig)

    footer.header-footer__footer
      -
        const footerConfig = {}
        footerConfig.description = "Lopx ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
        
        footerConfig.navigation = {
          title: "navigation",
          links: ["About Us", "News", "Support", "Products"]
        }

        footerConfig.aboutUs = {
          title: "about us",
          links: ["Who we are", "Our teem", "Careers", "Investors"]
        }

        footerConfig.support = {
          title: "support",
          links: ["Documentation", "Community", "Get in Touch"]
        }

        footerConfig.subscription = {
          title: "subscribe to our newsletter",
          description: "Receive our latest news and promotions in your inbox!",
          placeholder: "Your email address"
        }

        footerConfig.copyright = "UI Kit. All rights reserved."

      +footer(footerConfig)

    footer.header-footer__footer
      -
        const footerConfig2 = {}
        footerConfig2.isShort = true
        footerConfig2.description = "Lopx ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."

      +footer(footerConfig2)

    script(src="main.min.js")
