.header-footer {
  background-color: #e5e5e5;
  & .logo {
    margin-bottom: 68px;
  }
  &__header {
    margin-bottom: 39px;
    & > .header > .header__nav-bar > .header__buttons {
      & > .header__button-signin {
        & .button {
          width: 79px;
          margin-right: 20px;
        }
      }
      & > .header__button-signup {
        & .button {
          width: 101px;
        }
      }
    }
  }
  &__footer {
    margin-bottom: 41px;
    &:last-child {
      margin-bottom: 130px;
    }
  }
}