extends ../template-ui-kit/template-ui-kit

include ../../components/header/header
include ../../components/footer/footer
include ../../components/footer-shortcut/footer-shortcut

block append head
  title Headers & Footers

block prepend container
  -
    const pageClass = 'headers-and-footers'

block append content
  -
    const configHeader = {
      loginButton: 'login',
      signUpButton: 'register',
      links: [
        { type: 'home', title: 'Home'},
        {title: 'About Us'},
        {type: 'popup', title: 'Services'},
        {title: 'Careers'},
        {title: 'News'},
        {title: 'Documentation'}
        ]
    }
  .headers-and-footers__header
    +header(configHeader)
  -
    configHeader.isAuth = true
    configHeader.login = 'Cosmin Negoita'
  .headers-and-footers__header
    +header(configHeader)
  -
    const configFooterFull = {
      description: 'Lopx ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
      titles: [
        {title: 'navigation', links: ['About Us', 'News', 'Support', 'Products']},
        {title: 'about us', links: ['Who we are', 'Our teem', 'Careers', 'Investors']},
        {title: 'support', links: ['Documentation', 'Community', 'Get in Touch']}
        ],
      subscription: {
        title: 'subscribe to our newsletter',
        description: 'Receive our latest news and promotions in your inbox!',
        placeholder: 'Your email address'
        },
      copyright: 'UI Kit. All rights reserved.'
      }
  .headers-and-footers__footer
    +footer(configFooterFull)
  .headers-and-footers__footer 
    +footer-shortcut({description: 'Lopx ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.'})