extends ../template-ui-kit/template-ui-kit

include ../../components/header/header
include ../../components/footer/footer
include ../../components/short-footer/short-footer

block append head
  title Headers & Footers

block prepend container
  -
    const pageClass = 'headers-and-footers'

block append content
  .headers-and-footers__header
    +header()
  .headers-and-footers__header
    +header({isAuth: true, login: 'Юлий Цезарь'})
  .headers-and-footers__footer
    +footer()
  .headers-and-footers__footer 
    +short-footer({description: 'Copyright © 2018 Toxin отель. Все права защищены.'})