include ../../components/head/head

include ../../components/logo/logo
include ../../components/header/header
include ../../components/footer/footer

doctype html
html
  +head({title: "Headers & Footers"})
  body.header-footer
    +logo()
    header.header-footer__header
      -
        const headerConfig = {}
        const headerLinks1 = []
        headerLinks1.push({type: "home", title: "Home"})
        headerLinks1.push({title: "About Us"})
        headerLinks1.push({type: "popup", title: "Services"})
        headerLinks1.push({title: "Careers"})
        headerLinks1.push({title: "News"})
        headerLinks1.push({title: "Documentation"})
        headerConfig.links = headerLinks1
        headerConfig.loginButton = "login"
        headerConfig.signUpButton = "register"

      +header(headerConfig)

    header.header-footer__header
      -
        headerConfig.isAuth = true
        headerConfig.login = "Cosmin Negoita"

      +header(headerConfig)

    footer.header-footer__footer
      -
        const footerConfig = {}
        footerConfig.description = "Lopx ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
        
        footerConfig.navigation = {title: "navigation"}
        const navigationLinks = []
        navigationLinks.push("About Us")
        navigationLinks.push("News")
        navigationLinks.push("Support")
        navigationLinks.push("Products")
        footerConfig.navigation.links = navigationLinks

        footerConfig.aboutUs = {title: "about us"}
        const aboutUsLinks = []
        aboutUsLinks.push("Who we are")
        aboutUsLinks.push("Our teem")
        aboutUsLinks.push("Careers")
        aboutUsLinks.push("Investors")
        footerConfig.aboutUs.links = aboutUsLinks

        footerConfig.support = {title: "support"}
        const supportLinks = []
        supportLinks.push("Documentation")
        supportLinks.push("Community")
        supportLinks.push("Get in Touch")
        footerConfig.support.links = supportLinks

        footerConfig.subscription = {title: "subscribe to our newsletter"}
        footerConfig.subscription.description = "Receive our latest news and promotions in your inbox!"
        footerConfig.subscription.placeholder = "Your email address"

        footerConfig.copyright = "UI Kit. All rights reserved."

      +footer(footerConfig)

    footer.header-footer__footer
      -
        const footerConfig2 = {}
        footerConfig2.isShort = true
        footerConfig2.description = "Lopx ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."

      +footer(footerConfig2)

    script(src="main.min.js")
