//- mixin head(title, css, js)
include ../../components/head/head
//- 
//- mixin logo
include ../../components/logo/logo
include ../../components/header/header
include ../../components/footer/footer

doctype html
html
  +head({title: "Headers & Footers", isProduction: true})
  body.header-footer.body
    .logo
      +logo()
    header.header-footer__header
      -
        let headerConfig = {}
        let links = []
        links.push({type: "home", title: "Home"})
        links.push({title: "Abous Us"})
        links.push({type: "popup", title: "Services"})
        links.push({title: "Careers"})
        links.push({title: "News"})
        links.push({title: "Documentation"})
        headerConfig.links = links

      +header(headerConfig)

    header.header-footer__header
      -
        headerConfig.isAuth = true
        headerConfig.login = "Cosmin Negoita"

      +header(headerConfig)

    footer.header-footer__footer
      -
        let footerConfig = {}
        footerConfig.description = "Lopx ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."
        
        footerConfig.navigation = {title: "navigation"}
        links = []
        links.push("About Us")
        links.push("News")
        links.push("Support")
        links.push("Products")
        footerConfig.navigation.links = links

        footerConfig.aboutUs = {title: "about us"}
        links = []
        links.push("Who we are")
        links.push("Our teem")
        links.push("Careers")
        links.push("Investors")
        footerConfig.aboutUs.links = links

        footerConfig.support = {title: "support"}
        links = []
        links.push("Documentation")
        links.push("Community")
        links.push("Get in Touch")
        footerConfig.support.links = links

        footerConfig.subscription = {title: "subscribe to our newsletter"}
        footerConfig.subscription.description = "Receive our latest news and promotions in your inbox!"
        footerConfig.subscription.placeholder = "Your email address"

        footerConfig.copyright = "UI Kit. All rights reserved."

      +footer(footerConfig)

    footer.header-footer__footer
      -
        footerConfig = {}
        footerConfig.isShort = true
        footerConfig.description = "Lopx ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis."

      +footer(footerConfig)
