include ../_formElements/_buttons/_button/_button
include ../_base/_pug/_logo
include ./_menuLink
//- isAuth: true or false
//- login: string (for isAuth: true)
//- lButton, rButton: {
//-             width: string
//-             title: string
//- }
//- menuLinks: ["home", ["link", "About Us"], ["submenu", "Services"], etc]
mixin header(options)
        .header--container
            .header--container_left
                +logo(true)
            .header--container_right
                .header--menu
                    each val in options.menuLinks
                        +menuLink(val)
                .header--auth
                    if options.isAuth
                        a(href="#", class="header--loginLink") #{options.login}
                    else
                        div(style="width: " + options.lButton.width + "px; margin-right: 20px; height: 34px;")
                            +button({size: "medium", theme: "border", title: options.lButton.title})
                        div(style="width: " + options.rButton.width + "px; height: 34px;")
                            +button({size: "medium", theme: "gradient", title: options.rButton.title})
