@import '../_formElements/_buttons/_button/button';
.header__container {
    width: 100%;
    height: 70px;
    padding: 0 9.7223%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header__logo {
    margin-top: 15px;
    display: inline-block;
}
.header__auth {
    margin-top: 20px;
    float: right;
    display: flex;
    align-items: flex-end;
    .button_border {
        margin-right: 19px;
    }
}
.header__vRow {
    width: 1px;
    height: 30px;
    background: rgba(31, 32, 65, 0.1);
    margin-right: 30px;
}
.header__menu {
    float: right;
    margin-top: 25px;
}
.header__menuLink {
    font: normal normal 14px/17px Montserrat;
    color: $dShade75;
}
.header__menuLink_home {
    font-weight: bold;
}