@import '../../components/_base/scss/main.scss';

.index--container {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.index--ui-kit {
	margin-bottom: 20;
	padding: 10;

	border: 4 dotted $purple;
	box-sizing: border-box;

	& .index--item:hover {
		border-radius: 5;
		background-color: $purple;
		box-shadow: 0 0 10 $purple;
	}
}
.index--pages {
	padding: 10;

	border: 4 dotted $green;
	box-sizing: border-box;

	& .index--item:hover {
		border-radius: 5;
		background-color: $green;
		box-shadow: 0 0 10 $green;
	}
}
.index--item {
	text-align: center;

	&:not(:last-child) {
		margin-bottom: 10;
	}

	& a h3 {
		color: $dark-shade-75;
	}
}