include ../_buttons/_like/_buttons__like
mixin review(option)
    -
        var classPict = "review__pict review__pict_" + option.pict
    .review__container
        .review__leftColumn
            div(class = classPict)
            +likeButton(option.likeId, option.likeCount, option.isLiked)
        .review__rightColumn
            span(class="review__name") #{option.name}
            br
            span(class="review__daysAgo") #{option.daysAgo}
            br
            p(class="review__text") #{option.review}