.icon-social {
  display: inline-block;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font: normal normal 24px/24px FontAwesomeBrands;

  &:not(:last-child) {
    margin-right: 20px;
  }

  &:hover, &:focus, &:active {
    filter: drop-shadow(0px 0px 5px $dark-shade-50);
  }
  
  &-tweeter {
    &:after {
      content: '\f099';
    }
  }

  &-facebook {
    &:after {
      content: '\f082';
    }
  }

  &-instagram {
    &:after {
      content: '\f16d';
    }
  }
}