@import '../../_formElements/_textField/textField.scss';
@import '../../_formElements/_buttons/_button/button';

.login--container {
    width: 380px;
    
    height: 358px;

    padding: 39px 7.936507937% 31px 7.936507937%;

    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.login--loginInfo, .login--loginButton {
    margin-top: 20px;
}
.login--block {
    margin-top: 10px;
}
.login--signup {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 29px;
}
.login--signupButton {
    width: 99px;
}
.login--signupButton, .login--loginButton {
    height: 44px;
}