// import base components
@import './fonts/fonts.scss';
@import './variables/colors.scss';
@import './variables/breakpoints.scss';
// reset
html, body, h1, h2, h3, p, button, br, ul, li, pre, input {
	margin: 0;
	padding: 0;
	margin-block-start: 0;
	margin-block-end: 0;
}
a {
text-decoration: none;
}
a:visited {
	color: initial;
}
br {
	width: 0;
	height: 0;
}
/* fix placeholder in diferent browsers */
// Chrome
::-webkit-input-placeholder { color: rgba(31, 32, 65, 0.25); }
// Firefox 19+
::-moz-placeholder          { color: rgba(31, 32, 65, 0.25); }
// Firefox 18- 
:-moz-placeholder           { color: rgba(31, 32, 65, 0.25); }

html {
	font-size: 1px;
}
body {
	font: normal normal 14rem/24rem Montserrat;
	color: $dark-shade-75;
}
.h1, h1 {
	font: normal bold 24rem/30rem Quicksand, Montserrat;
	color: $dark-shade-100;
}
.h2, h2 {
	font: normal bold 19rem/24rem Quicksand, Montserrat;
	color: $dark-shade-100;
}
.h3, h3 {
	font: normal bold 12rem/15rem Montserrat;
	text-transform: uppercase;
	color: $dark-shade-100;
}

.label {
	margin-bottom: 5rem;
}
.logo {
	margin: 30rem 0 60rem 30rem;

	@media screen and (min-width: $old-phones) and (max-width: $new-phones) {
		margin: 30rem 0 30rem 30rem;
	}
}