mixin amenity({icon = 'tag_faces', title = 'Title', description = 'Description', withLine = true} = {})
  .amenity
    .amenity__container
      p.amenity__icon #{icon}
      .amenity__text
        .amenity__wrapper
          p.amenity__title #{title}
          p.amenity__description #{description}
    if(withLine)
      .amenity__row.amenity__row_horizontal