.amenity {
  @include font-body;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__icon {
    display: inline-block;
    width: 48px;
    font: normal normal 48px/48px materialIcons;
    background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  &__text {
    width: inherit;
    display: inline-block;
    margin-left: 10px;
  }

  &__wrapper {
    width: 100%;
    padding-right: 10px;
  }
  &__title {
    display: inline-block;
    font-weight: bold;
    max-height: 24px;
    width: 100%;
    @include fix-overflow;
  }
  &__description {
    display: inline-block;
    max-height: 40px;
    width: 100%;
    @include fix-overflow;
    margin-top: -7px;
  }

  &__row {
    margin: 13px 0 19px;
    width: 95%;

    &_horizontal {
      border: .5px solid $dark-shade-5;
    }
  }
}