@import '../_formElements/_buttons/_button/button';
.header--container {
    width: 100%;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 10px 9.7223%;
    box-sizing: border-box;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.header--container_left {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    & svg {
        vertical-align: middle;
        margin: 0 auto;
    }
}
.header--container_right {
    display: flex;
    flex-wrap: nowrap;
}
.header--auth {
    display: flex;
    align-items: center;
    & a {
        display: inline;
        white-space: nowrap;
        line-height: 30px;
    }
}
.header--loginLink {
    color: $dark-shade-50;
    height: 30px;
    border-left: 1px solid rgba(31, 32, 65, 0.1);
    padding-left: 30px;
}
.header--menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
    & a {
        margin-right: 30px;
    }
}
.header--menuLink {
    font: normal normal 14px/17px Montserrat;
    color: $dark-shade-75;
}
.header--menuLink_home {
    font-weight: bold;
}
@media only screen and (min-width: 300px) and (max-width: 767px) {
    .header--container {
        padding-top: 15px;
        padding-bottom: 15px;
        justify-content: center;
        flex-wrap: wrap;
    }
    .header--menu {
        margin: 10px auto;
        & a {
            margin: 5px 14%;
        }       
    }

}
@media only screen and (min-width: 300px) and (max-width: 873px) {
    .header--auth {
        margin: 0 auto;
        margin-top: 10px;
        width: 75%;
        justify-content: center;
    }
    .header--loginLink {
        width: 100%;
        padding-top: 15px;
        text-align: center;
        border-top: 1px solid rgba(31, 32, 65, 0.1);
        border-left: none;
    }
    .header--menu {
        margin: 0 auto;        
    }
}
@media only screen and (max-width: 1024px) {
    .header--container_right {
        flex-wrap: wrap;
    }
    .header--container {
        flex-wrap: wrap;
    }
 }