@import '../_form-elements/_buttons/button/button.scss';

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: inherit;
	height: fit-content;

	padding: 15 9.7223%;

	background-color: #fff;
	box-sizing: border-box;
	box-shadow: 0 10 20 rgba(31, 32, 65, 0.05);

	@media screen and (min-width: $notebook) and (max-width: $desktop) {
		padding: 15 5%;
	}
	@media screen and (min-width: $new-phones) and (max-width: $notebook) {
		padding: 15 2%;
	}
	@media screen and (min-width: $old-phones) and (max-width: $pads) {
		justify-content: unset;
		flex-direction: column;
	}
	
	&--nav-bar {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-wrap: nowrap;
			@media screen and (min-width: $old-phones) and (max-width: $pads) {
				justify-content: unset;
				flex-direction: column;
			}
	}	

	&--menu {
		@media screen and (min-width: $notebook) and (max-width: $desktop) {
			width: 45%;
		}

		@media screen and (min-width: $pads) and (max-width: $notebook) {
			width: 35%;
		}

		@media screen and (min-width: $old-phones) and (max-width: $pads) {
			display: flex;
			flex-direction: column;
			margin-bottom: 15;
		}
	}

	&--arrow-down {
		cursor: pointer;
		display: inline-block;
		margin-right: 30;

		font: normal normal 24/18 materialIcons;
		color: $dark-shade-75;

		vertical-align: middle;

		@media screen and (min-width: $old-phones) and (max-width: $pads) {
			margin-right: 0;
		}
	}

	&--link {
		display: inline-block;

		text-align: center;
		line-height: 17;
		color: $dark-shade-50;

		&:active, &:focus, &:hover {
			text-shadow: 0 0 5 $dark-shade-25;
		}

		& b {
			color: $dark-shade-75;
		}

		&-popup {
			cursor: pointer;
			position: relative;
			display: inline-block;
		}

		@media screen and (min-width: $old-phones) and (max-width: $pads) {
			margin-right: 0;
			margin-bottom: 5;
		}
		@media screen and (min-width: $pads) {
			&:not(&-popup) {
				margin-right: 30;
			}
		}
	}

	&--link-popup:hover &--popup,
	&--link-popup:focus &--popup,
	&--arrow-down:hover &--popup,
	&--arrow-down:focus &--popup {
		visibility: visible;
	}

	&--popup {
		visibility: hidden;

		position: absolute;
		z-index: 5;
		left: 0;
		top: 17;

		padding: 20;

		background-color: #fff;
		box-shadow: 0 0 5 $dark-shade-50;
		text-align: left;

		& .header--link:hover,
		& .header--link:focus,
		& .header--link:hover {
			color: $dark-shade-75;
		}
	}

	&--buttons {
		display: flex;
		flex-wrap: nowrap;

		& button {
			height: 34;
		}

		@media screen and (min-width: $new-phones) {
			& button:first-child {
				margin-right: 20;
			}
		}

		@media screen and (min-width: $old-phones) and (max-width: $new-phones) {
			flex-direction: column;
			align-items: center;
			& button:first-child {
				margin-bottom: 20;
			}
		}
	}

	&--login {
		display: inline-block;
		white-space: nowrap;

		line-height: 30;
		color: $dark-shade-50;

		height: 30;

		@media screen and (min-width: $pads) {
			padding-left: 30;
			border-left: 1 solid rgba(31, 32, 65, 0.1);
		}
	}
}