
include ../_base/pug/logo
include ./menu-link
include ../_form-elements/_buttons/button/button

-
  let links = []

  links.push({title: "О нас"})
  links.push({type: "popup", title: "Услуги"})
  links.push({title: "Вакансии"})
  links.push({title: "Новости"})
  links.push({type: "popup", title: "Соглашения"})

mixin header({isAuth = false, login = "Cosmin Negoita", loginButton = "Войти", signUpButton = "Зарегистрироваться", links = links } = {})
  .header
    //- .header--logo
    +logo({isFull: true})
    .header--nav-bar
      .header--menu
        each val in options.links
          +menu-link(val)
      if isAuth
        p.header--login #{login}
      else
        .header--buttons
          +button({size: "medium", theme: "border", title: loginButton})
          +button({size: "medium", theme: "gradient", title: signUpButton})