include ../logo/logo
include ../button/button
include ../header-menu/header-menu

mixin header(options = {})
  -
    const {
      isAuth = false,
      login = 'Cosmin Negoita',
      loginButton = 'Войти',
      signUpButton = 'Зарегистрироваться',
      links = [
        {title: 'О нас', href: 'https://www.metalamp.ru/'},
        {type: 'popup', title: 'Услуги', popupItems: [
          {title: 'Букинг', href: 'https://www.booking.com/'},
          {title: 'жукинг', href: 'https://www.bugs.com/'}
        ]},
        {title: 'Вакансии', href: 'https://www.hh.ru/'},
        {title: 'Новости', href: 'https://ria.ru/'},
        {type: 'popup', title: 'Соглашения', popupItems: [
          {title: 'О мире', href: 'https://peacemaker.un.org/'}
        ]}
      ]
    } = options;
  header.header
    .header__logo
      +logo({isFull: true})
    .header__nav-bar
      .header__menu
        each linkText in links
          +header-menu(linkText)
      if isAuth
        p.header__login #{login}
      else
        .header__buttons
          a(class = 'header__button-sign-in', href = '/sign-in-page.html')
            +button({style: 'border', title: loginButton, type: 'button'})
          a(class = 'header__button-sign-up', href = '/registration-page.html')
            +button({style: 'gradient', title: signUpButton, type: 'button'})