@import '../text-field.scss';
.subscribe--container {
	position: relative;
	width: 100%;
}
.subscribe--button {
	display: inline-block;
	position: absolute;
	z-index: 9;
	right: 0;
	top: 0;
	height: 44;
	width: 44;

	font: normal normal 24/24 materialIcons;
	background: transparent;
	color: $purple;
	text-align: center;
	vertical-align: middle;

	border: none;
	outline: none;
	cursor: pointer;

	&:hover, &:focus, &:active {
		text-shadow: 0 0 5px $dark-shade-50;
	}
}