@import '../text-field.scss';
.subscribe--container {
	position: relative;
	width: 100%;
}
.subscribe--button {
	display: inline-block;
	position: absolute;
	z-index: 9;
	right: 0rem;
	top: 0rem;
	height: 44rem;
	width: 44rem;

	font: normal normal 24rem/24rem materialIcons;
	background: transparent;
	color: $purple;
	text-align: center;
	vertical-align: middle;

	border: none;
	outline: none;
	cursor: pointer;

	&:hover, &:focus {
		opacity: 0.6;
	}
}