mixin subscription-field(options)
  .subscribe--container
    input(type="Email", class = "text-field", placeholder = options.placeholder)
    button(type="submit", class = "subscribe--button") arrow_forward