mixin checkbox({isChecked = false, title = "Change me"} = {})
  div
    label(class="checkbox--label") #{title}
      if isChecked
        input(type="checkbox", class = "checkbox", checked)
      else
        input(type="checkbox", class = "checkbox")
      span(class="checkbox--checkmark")