mixin checkbox({isChecked = false, title = 'Change me'} = {})
  li.checkbox
    label.checkbox__container
      span.checkbox__wrapper
        span.checkbox__title #{title}
      input(type='checkbox', class = 'checkbox__input', checked=isChecked)
      span(class='checkbox__checkmark')