mixin text-field(options)
  -
    let className = options.jsClass === undefined ? "text-field" : ("text-field js-" + options.jsClass + "-text-field")
  input(type=options.placeholder, class = className, placeholder = options.placeholder)