.text-field {
	width: 100%;
	height: 44rem;
	padding: 13rem 15rem;
	background-color: #fff;
	border: 1rem solid $dark-shade-25;
	box-sizing: border-box;
	border-radius: 4rem;

	font: normal normal 14rem/18rem Montserrat;
	color: $dark-shade-75;
}
.text-field:hover, .text-field:focus {
	border: 1rem solid $dark-shade-50;
	outline: none;
}