// short
.footer--container_short {
    // height: 367px;
    width: 100%;
    padding: 100px 0 110px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
}
.footer--logo_short {
    margin-bottom: 10px;
}
.footer--description_short {
    display: inline-block;
    text-align: center;
    width: 38.88888889%;
    font: normal normal 14px/24px Montserrat;
    color: $dark-shade-75;
    margin-bottom: 29px;
}
.footer--social > .footer--socIcon:not(:last-child) {
    margin-right: 20px;
}
.footer--socIcon {
    width: 24px;
    height: 24px;
    display: inline-block;
}
// full
@import '../_formElements/_textField/_subscribtionTextField/subscribtionTextField';
.footer--container {
    display: flex;
    // justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    // height: 372px;
    width: 100%;
    padding: 100px 9.7223% 100px 9.7223%;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);

}
.footer--description, .footer--navigation, .footer--aboutUs, .footer--support, .footer--subscribe  {
    display: inline-block;
    & h3 {
        margin-bottom: 1px;
        margin-top: 4px;
        
        white-space: nowrap;
    }
}
.footer--description {
    min-width: 150px;
    width: 22.4138%;
    // margin-right: 3.4483%;
    & p {
        display: inline-block;
        margin-top: 10px;
        font: normal normal 14px/24px Montserrat;
        color: $dark-shade-75;
    }
}
.footer--menu {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 74.1380%;
}
.footer--link {
    display: block;
    font: normal normal 14px/17px Montserrat;
    color: $dark-shade-50;
    margin-top: 21px;
    // white-space: nowrap;
}
.footer--navigation {
    min-width: 120px;
    // margin-right: 6.6279%;
    width: 16.6279%;
}
.footer--aboutUs {
    min-width: 105px;
    // margin-right: 10.6977%;
    width: 12.5581%;
}
.footer--support {
    min-width: 140px;
    // margin-right: 5.9302%;
    width: 17.3256%;
}
.footer--subscribe {
    min-width: 200px;
    width: 30.2326%;
    & h3 {
        white-space: normal;
    }
    & p {
        display: inline-block;
        // width: 196px;
        font: normal normal 14px/24px Montserrat;
        color: $dark-shade-75;
        margin-top: 16px;
        margin-bottom: 24px;
        white-space: normal;
    }
}
.footer--copyright {
    background: white;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    margin-top: 1px;
    padding: 0 9.7223%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 70px;
    & .footer--social {
        margin-top: 4px;
    }
}
@media only screen and (max-width: 946px) {
    .footer--subscribe {
        margin: 15px auto;
    }
    .footer--menu {
        justify-content: none;
        margin: 0 auto;
    }
 }
 @media only screen and (max-width: 719px) {
    .footer--description {
        margin: 0 auto;
    }
    .footer--navigation, .footer--aboutUs, .footer--support {
        margin: 15px auto 0 auto;
    }
 }