$base: 1440;
$side-padding: round((140 * 100% / $base) * 1000) / 1000;
.footer {
  &__wrapper {
    @include font-body;
    display: flex;
    box-sizing: border-box;
    background-color: #fff;
    justify-content: space-between;
    padding: 100px $side-padding 104px;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1);
    border-top: 1px solid $dark-shade-25;

    @media screen and (min-width: $old-phones) and (max-width: $desktop) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    max-width: 260px;

    & .footer__description {
      margin-top: -7px;
    }

    & .footer__logo {
      margin-bottom: 17px;
    }

    & .footer__menu-link {
      line-height: 17px;
      color: $dark-shade-50;
    }

    &-subscription {
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
      max-width: 260px;
      margin-top: 4px;

      & .footer__description {
        margin-top: -7px;
      }

      & .footer__block-title {
        margin-bottom: 18px;
      }

      & .subscribe-field {
        margin-top: 23px;
      }
    }

    @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 25px;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 48px;
    margin-top: 4px;
    width: 44.2242%;

    & .footer__block-title {
      margin-bottom: 22px;
    }

    & .footer__menu-link:not(:last-child) {
      margin-bottom: 21px;
    }

    @media screen and (min-width: $new-phones) and (max-width: $desktop) {
      width: 100%;
      margin: 40px 0;
    }

    @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
      flex-direction: column;
      margin: 40px 0;
    }
  }

  &__copyright {
    @include font-body;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 9.7223%;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    border-top: 1px solid $dark-shade-25;

    &-text {
      line-height: 17px;
    }

    @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
      flex-direction: column-reverse;
      padding: 23px 0;

      & .footer__icons {
        margin-bottom: 20px;
      }

      & .footer__copyright-text {
        text-align: center;
      }
    }
  }

  &__icons {
    height: 24px;
  }
}