include ../headline/headline
include ../logo/logo
include ../social-link/social-link
include ../subscription-field/subscription-field
include ../footer-menu/footer-menu

mixin footer(options = {})
  -
    const {
      description = 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
      titles = [
        {
          title: 'навигация',
          links: [
            {text: 'О нас', href: 'https://www.metalamp.ru/'},
            {text: 'Новости', href: 'https://ria.ru/'},
            {text: 'Служба поддержки', href: 'http://govita.ru/besplatnaya-psihologicheskaya-pomoshh-v-sankt-peterburge/'},
            {text: 'Услуги', href: 'https://www.booking.com/'}
          ]
        },
        {
          title: 'о нас',
          links: [
            {text: 'О сервисе', href: 'https://www.metalamp.ru/'},
            {text: 'Наша команда', href: 'https://www.pokemon.com/ru/'},
            {text: 'Вакансии', href: 'https://www.hh.ru/'},
            {text: 'Инвесторы', href: 'https://royalsociety.org/'}
          ]
        },
        {
          title: 'служба поддержки',
          links: [
            {text: 'Соглашения', href: 'https://www.google.ru/intl/ru/docs/about/'},
            {text: 'Сообщества', href: 'https://habr.com/ru/all/'},
            {text: 'Связь с нами', href: 'https://www.metalamp.ru/'}
          ]
        }
      ],
      subscription = {
        title: 'Подписка',
        description: 'Получайте специальные предложения и новости сервиса'
      },
      copyright = 'отель. Все права зачищены.',
      socialNetworks = ['tweeter', 'facebook', 'instagram']
    } = options;
  footer.footer
    .footer__wrapper
      .footer__block
        .footer__logo
          +logo({isFull: true})
        p.footer__description #{description}
      .footer__menu
        each title in titles
          +footer-menu(title)
      .footer__block-subscription
        .footer__block-title
          +headline({title: subscription.title})
        article.footer__description #{subscription.description}
        +subscription-field({placeholder: subscription.placeholder})
    .footer__copyright
      p.footer__copyright-text Copyright © 2018 Toxin #{copyright}
      .footer__icons
        each socialNetwork in socialNetworks
          +social-link({socialNetwork: socialNetwork})
