include ../headline/headline
include ../logo/logo
include ../subscription-field/subscription-field
include ../footer-menu/footer-menu

mixin footer({isShort = false, description = "", titles = {}, subscription = {}, copyright = "" } = {})
  -
    const footerDescription = description === ""
      ? "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
      : description;
    const footerTitles = Object.keys(titles).length === 0
      ? [ { title: "навигация",
            links: ["О нас", "Новости", "Служба поддержки", "Услуги"] },
          { title: "о нас",
            links: ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"] },
          { title: "служба поддержки",
            links: ["Соглашения",  "Сообщества", "Связь с нами"] }
        ]
      : titles;
    const footerSubscription = Object.keys(subscription).length === 0 
      ? {
        title: "Подписка",
        description: "Получайте специальные предложения и новости сервиса"
        }
      : subscription;
    const footerCopyright = copyright.length === 0
      ? "отель. Все права зачищены."
      : copyright;
  if isShort
    footer.footer.footer_short
      .footer__logo
        +logo({isFull: true})
      p.footer__description.footer__description_short #{footerDescription}
      .footer__icons
        a(href = "https://twitter.com/", class = "footer__icon footer__icon-tweeter")
        a(href = "https://www.facebook.com/", class = "footer__icon footer__icon-facebook")
        a(href = "https://www.instagram.com/", class = "footer__icon footer__icon-instagram")
  else
    footer.footer.footer_full
      .footer__block
        .footer__logo
          +logo({isFull: true})
        p.footer__description #{footerDescription}
      .footer__menu
        each val in footerTitles
          +footer-menu(val)
      .footer__block-subscription
        .footer__block-title
          +headline({title: footerSubscription.title})
        p #{footerSubscription.description}
        +subscription-field({placeholder: footerSubscription.placeholder})
    .footer__copyright
      p.footer__copyright-text Copyright © 2018 Toxin #{footerCopyright}
      .footer__icons
        a(href = "https://twitter.com/", class = "footer__icon footer__icon-tweeter")
        a(href = "https://www.facebook.com/", class = "footer__icon footer__icon-facebook")
        a(href = "https://www.instagram.com/", class = "footer__icon footer__icon-instagram")