include ../headline/headline
include ../logo/logo
include ../subscription-field/subscription-field
include ../footer-menu/footer-menu
-
  const footerDescription = "Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»"
  const footerNavigation = {
    title: "навигация",
    links: ["О нас", "Новости", "Служба поддержки", "Услуги"]
  }
  const footerAboutUs = {
    title: "о нас",
    links: ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"]
  }
  const footerSupport = {
    title: "служба поддержки",
    links: ["Соглашения",  "Сообщества", "Связь с нами"]
  }
  const footerSubscription = {
    title: "Подписка",
    description: "Получайте специальные предложения и новости сервиса"
  }
  const footerCopyright = "отель. Все права зачищены."


mixin footer({isShort = false, description = footerDescription, navigation = footerNavigation, aboutUs = footerAboutUs, support = footerSupport, subscription = footerSubscription, copyright = footerCopyright } = {})
  if isShort
    .footer.footer_short
      .footer__logo
        +logo({isFull: true})
      p.footer__description.footer__description_short #{description}
      .footer__icons
        a(href = "https://twitter.com/", class = "footer__icon footer__icon-tweeter")
        a(href = "https://www.facebook.com/", class = "footer__icon footer__icon-facebook")
        a(href = "https://www.instagram.com/", class = "footer__icon footer__icon-instagram")
  else
    .footer.footer_full
      .footer__block
        .footer__logo
          +logo({isFull: true})
        p.footer__description #{description}
      .footer__menu
        +footer-menu(navigation)
        +footer-menu(aboutUs)
        +footer-menu(support)
      .footer__block-subscription
        .footer__block-title
          +headline({title: subscription.title})
        p #{subscription.description}
        +subscription-field()
    .footer__copyright
      p.footer__copyright-text Copyright © 2018 Toxin #{copyright}
      .footer__icons
        a(href = "https://twitter.com/", class = "footer__icon footer__icon-tweeter")
        a(href = "https://www.facebook.com/", class = "footer__icon footer__icon-facebook")
        a(href = "https://www.instagram.com/", class = "footer__icon footer__icon-instagram")