mixin menu-block({title = "change me", links = ["change me"]} = {})
  .footer__block
    h3.footer__block-title #{title}
    each val in links
      a(href="change me", class="footer__menu-link") #{val}