mixin radioButtons
    div(style="display: flex;")
        label(class="buttons__radio-label") Мужчина
            input(type="radio",class="buttons__radio", name="sex", checked)
            span(class="buttons__radio-checkmark")
        label(class="buttons__radio-label") Женщина
            input(type="radio",class="buttons__radio", name="sex")
            span(class="buttons__radio-checkmark")
