$base: 1440;
$main-img: 981;
$width-main: round(($main-img * 100% / $base) * 1000) / 1000;
$width-additional: 100% - $width-main;
.room-detail {
  @include font-body;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    flex: 1 0 auto;
  }
  
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & .room-detail__img {
      width: 100%;
      background-size: cover;
    }

    &-main {
      width: $width-main;

      @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
        width: 100%;
        margin-bottom: -7px;
      }
    }

    &-addition {
      display: flex;
      flex-direction: column;
      width: $width-additional;

      @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
        width: 100%;
      }
    }
  }

  &__title {
    width: 85%;
    height: 24px;
    @include fix-overflow;
    @include font-h2;

    &-comments {
      display: inline-block;
      width: 15%;
      height: 32px;
      text-align: right;
      @include fix-overflow;
    }
  }

  &__container {
    display: flex;
    margin: 0 auto;
    padding: 63px 5px 53px;
    width: fit-content;
    max-width: 1160px;

    @media screen and (min-width: $old-phones) and (max-width: 840px) {
      flex-direction: column-reverse;
    }
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 70px;
    min-width: 310px;
    width: fit-content;
    max-width: 711px;

    @media screen and (min-width: $old-phones) and (max-width: 450px) {
      margin-right: 0;
    }
  }
  &__title {
    margin-bottom: 20px;
  }

  &__amenities {
    margin-bottom: 21px;
  }

  &__piechart {
    margin-bottom: 21px;
  }

  &__comments {
    margin-bottom: 21px;
    
    & .room-detail__title {
      display: inline-block;
      margin-top: 2px;
      margin-bottom: 16px;
    }

    &-element:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__title-comments {
    line-height: 32px;
    float: right;
  }

  &__rules {
    max-width: 272px;
    margin-bottom: 21px;

    & .room-detail__title {
      margin-bottom: 16px;
      margin-left: 20px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 3px;
      margin-right: 90px;
    }
  }
  
  &__cancel {
    min-width: 310px;
    max-width: 325px;
    margin-bottom: 21px;

    & .room-detail__title {
      margin-bottom: 16px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 3px;
    }
  }

  &__amenities {
    margin-right: 80px;
    min-width: 250px;
    max-width: 280px;

    @media screen and (min-width: $old-phones) and (max-width: 450px) {
      margin-right: 0;
    }
  }

  &__booking {
    flex-shrink: 0;
    margin-bottom: 30px;
    min-width: 310px;
    max-width: 380px;

    @media screen and (min-width: $old-phones) and (max-width: 400px) {
      max-width: 310px;
    }
  }

  &__footer {
    flex-shrink: 0;
  }
}