$base: 1440;
$main-img: 981;
$width-main: round(($main-img * 100% / $base) * 1000) / 1000;
$width-additional: 100% - $width-main;
.room-detail {
  @include font-body;
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    flex: 1 0 auto;
  }
  
  &__gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    & .room-detail__img {
      width: 100%;
      background-size: cover;
    }

    &-main {
      width: $width-main;

      @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
        width: 100%;
      }
    }

    &-addition {
      display: flex;
      flex-direction: column;
      width: $width-additional;

      @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
        width: 100%;
      }
      
      & .room-detail__img:first-child {
        @media screen and (min-width: $old-phones) and (max-width: $new-phones) {
          margin-bottom: 7px;
        }
      }
    }
  }

  &__title {
    width: 80%;
    max-height: 48px;
    margin-bottom: 23px;
    @include fix-overflow;
    @include font-h2;

    &-comments {
      display: inline-block;
      width: 20%;
      max-height: 48px;
      text-align: right;
      @include fix-overflow;

      @media screen and (max-width: $desktop) {
        line-height: 20px;
      }

      @media screen and (min-width: $desktop) {
        line-height: 32px;
      }
    }
  }

  &__container {
    display: flex;
    margin: 0 auto;
    padding: 63px 5px 51px;
    width: fit-content;

    @media screen and (min-width: $old-phones) and (max-width: 840px) {
      flex-direction: column-reverse;
      padding: 0;
      justify-content: center;
      align-items: center;
    }

    @media screen and (min-width: 840px) and (max-width: $desktop) {
      justify-content: space-around;
      width: 90%;
    }

    @media screen and (min-width: $desktop) {
      width: 1160px;
    }
  }

  &__details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 70px;
    min-width: 310px;
    width: 90%;

    @media screen and (max-width: 840px) {
      width: 75%;
    }

    @media screen and (min-width: 840px) and (max-width: $desktop) {
      width: 45%;
    }

    @media screen and (min-width: $old-phones) and (max-width: $desktop) {
      // width: 75%;
      flex-direction: column;
      align-items: center;
      // justify-content: center;
      margin-right: 0;
    }
    // @media screen and (min-width: 740px) and (max-width: $desktop) {
    //   display: flex;
    //   justify-content: center;
    //   margin-right: 0;
    // }
  }

  &__amenities {
    margin-bottom: 28px;
  }

  &__piechart {
    & .room-detail__title {
      margin-bottom: 21px;
    }
    margin-bottom: 21px;
  }

  &__comments {
    margin-bottom: 21px;
    
    & .room-detail__title {
      display: inline-block;
      margin-bottom: 16px;
    }

    &-element {
      width: 90%;
    }

    &-element:not(:last-child) {
      margin-bottom: 18px;
    }
  }

  &__title-comments {
    float: right;
  }

  &__rules {
    max-width: 281px;
    margin-bottom: 21px;

    & .room-detail__title {
      margin-bottom: 18px;
      margin-left: 20px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 4px;
      margin-right: 80px;
    }
  }
  
  &__cancel {
    min-width: 310px;
    max-width: 325px;
    margin-bottom: 21px;

    & .room-detail__title {
      margin-bottom: 18px;
    }

    @media screen and (min-width: $desktop) {
      margin-top: 4px;
    }
  }

  &__amenities {
    min-width: 250px;
    max-width: 280px;

    @media screen and (min-width: $old-phones) and (max-width: 450px) {
      margin-right: 0;
    }
  }

  &__booking {
    flex-shrink: 0;
    margin-bottom: 30px;
    min-width: 310px;
    max-width: 380px;

    @media screen and (min-width: $old-phones) and (max-width: 400px) {
      max-width: 310px;
    }
  }

  &__footer {
    flex-shrink: 0;
  }
}