@import '../../main.scss';
@import '../../_components/_header/header';
@import '../../_components/_footer/footer';
@import '../../_components/_formElements/_conditions/conditions.scss';
@import '../../_components/_cards/_booking/booking';
@import '../../_components/_formElements/_review/review';
@import '../../_components/_formElements/_bulletList/bulletList';
.roomDetail__galery {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    & img {
        width: 100%;
        background-size: 100%;
    }
}
.roomDetail__image_main {
    width: 68.125%;
}
.rootDetail__image {
    width: 31.875%;
    display: flex;
    flex-flow: column wrap;
    & img:last-child {
        margin: -1px 0;
    }
}
.roomDetail__container {
    display: flex;
    justify-content: space-between;
    padding: 64px 140px 70px 140px;
    border-bottom: 1px solid $dShade5;
}
.roomDetail__leftColumn {
    margin-right: 70px;
}
.roomDetail__conditions {
    display: inline-block;
    margin-right: 81px;
    margin-left: -5px;
    & h2 {
        margin-bottom: 22px;
    }
    & .condition__hr:not(:last-child) {
        margin-bottom: 28px;
    }
    & .condition__container:last-child {
        margin-top: -6px;
    }
}
.roomDetail__pieChart {
    vertical-align: top;
    display: inline-block;
    & #pieChart {
        display: inline-block;
        vertical-align: top;
        & svg {
            margin-top: 20px;
            margin-right: 32px;
        }
    }
    & .roomDetail__legend {
        display: inline-block;
        vertical-align: bottom;
        text-align: left;
        margin-bottom: 5px;
        & p {
            display: inline-block;
        }
        & .roomDetail__legend-circle {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin-right: 5px;
        }
        & .roomDetail__legend-circle_perfect {
            background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%)
        }
        & .roomDetail__legend-circle_good {
            background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        }
        & .roomDetail__legend-circle_satisfact {
            background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        }
        & .roomDetail__legend-circle_disappoint {
            background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
        }
    }
    & .roomDetail__chartLabel {
        fill: $purple;
        text-anchor: middle;
    }
    & .roomDetail__chartNumber {
        @extend h1;
        // transform: translateY(-15px);
    }
    & .roomDetail__chartText {
        @extend h3;
        transform: translateY(15px);
    }
}

.roomDetail__reviews {
    width: 100%;
    margin-top: 24px;
    & .roomDetail__reviews_header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    & .review__container:not(:last-child) {
        margin-bottom: 22px;
    }
}
.roomDetail__bottom {
    margin-top: 33px;
    display: flex;
}
.roomDetail__rules {
    width: 250px;
    margin-right: 110px;
    & h2 {
        margin-left: 20px;
        margin-bottom: 18px;
    }
}
.roomDetail__cancel {
    width: 341px;
    & h2 {
        margin-bottom: 18px;
    }
}