.buttons__plusMinus {
	width: 30px;
	height: 30px;
	background: #fff;
	border: 1px solid $dShade25;
	border-radius: 50%;
	color: $dShade25;
	font: normal normal 18px/22px Montserrat;
	outline: none;
}
.buttons__plusMinus_active {
	width: 30px;
	height: 30px;
	background: #fff;
	border: 1px solid $dShade50;
	border-radius: 50%;
	color: $dShade50;
	font: normal normal 18px/22px Montserrat;
	outline: none;
	cursor: pointer;
}