mixin checkbox(options)
	div
		label(class="checkbox--label") #{options.title}
			if options.isChecked
				input(type="checkbox", class = "checkbox", checked)
			else
				input(type="checkbox", class = "checkbox")
			span(class="checkbox--checkmark")