.checkbox--label {
	display: inline-block;
	position: relative;
	cursor: pointer;
	font: normal normal 14rem/18rem Montserrat;
	color: $dark-shade-50;
	padding-left: 30rem;
	margin-bottom: 11rem;

	&:hover .checkbox--checkmark,
	&:active .checkbox--checkmark,
	&:focus .checkbox--checkmark {
		box-shadow: 0 0 5rem $dark-shade-25;
	}
}
.checkbox {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkbox--checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20rem;
	width: 20rem;
	background-color: #fff;
	border: 1rem solid $dark-shade-25;
	box-sizing: border-box;
	border-radius: 4rem;
}
.checkbox:checked ~ .checkbox--checkmark {
	border: 1rem solid #BC9CFF;
	content: "";
}
.checkbox--checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.checkbox:checked ~ .checkbox--checkmark:after {
	display: block;
}
.checkbox--label .checkbox--checkmark:after {
	left: 5rem;
	top: 3rem;
	width: 5rem;
	height: 7rem;
	border-image:  linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	border-image-slice: 1;
	border-right-width: 2rem;
	border-right-style: solid;
	border-bottom-width: 2rem;
	border-bottom-style: solid;
	transform: rotate(45deg);
}