mixin subscription-field({placeholder = "Email", jsClass = "undefined"} = {})
  .subscribe__container
    input(type="Email", class = "text-field", placeholder = placeholder)
    if (jsClass === "undefined")
      button(type="submit", class = `subscribe__button`) arrow_forward
    else
      button(type="submit", class = `subscribe__button js-subscribe-${jsCLass}`) arrow_forward