mixin subscription-field({placeholder = "Email"} = {})
  .subscribe-field
    input(type="Email", class = "subscribe-field__input", placeholder = placeholder)
    button(type="submit", class = `subscribe-field__button`) arrow_forward