include ../text-field/text-field
mixin subscription-field({placeholder = 'Email'} = {})
  .subscribe-field
    +text-field({placeholder: placeholder, type: 'Email'})
    button(type='submit', class = `subscribe-field__button`) arrow_forward