//- icon
mixin condition({icon = "tag_faces", title = "Title", description = "Description", isRowed = true} = {})
  .condition
    p.condition__icon #{icon}
    .condition__text
      p.condition__description
        b #{title}
        br
      | #{description}    
  if(isRowed)
    .condition__hrow