.room {
  display: inline-block;
  width: inherit;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  @include font-body;

  &__text {
    padding: 13px 17px 12px 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-height: 25px;
    @include fix-overflow;

    &-number {
      font-size: 14px;
    }

    &-title {

      &-text {
        display: inline-block;
        @include font-h1;
        font-size: 18px;
        line-height: 24px;
      }

      & .headline-label {
        display: inline;
        color: $purple;
      }
    }
  }

  &__price {
    text-align: right;
    font-weight: bold;

    &-line {
      color: $dark-shade-50;
    }
  }

  &__horizontal-line {
    width: 230px;
    height: 1px;
    margin-top: 6px;
    background: rgba(31, 32, 65, 0.1);
  }

  &__rate {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 3px 0 0;

    &-text-block {
      width: 100px;
      height: 24px;
      text-align: right;
      color: $dark-shade-50;
      @include fix-overflow;
    }

    &-text {
      @include font-body;

      &_bold {
        font-weight: bold;
      }
    }
  }
}