.room {
  display: inline-block;
  max-width: 270px;
  overflow: hidden;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  @include font-body;

  &__text {
    display: block;
    padding: 13px 17px 12px 20px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 2px;
    width: 100%;
    max-height: 25px;
    @include fix-overflow;

    &-number {
      font-size: 14px;
    }

    &-lux {
      display: inline-block;
      @include font-h3;
      @include fix-overflow;
      vertical-align: middle;
      margin-left: 5px;
      color: $purple;
    }

    &-title {

      &-text {
        display: inline-block;
        @include font-h1;
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  &__price {
    text-align: right;
    font-weight: bold;

    &-line {
      color: $dark-shade-50;
    }
  }

  &__horizontal-line {
    max-width: 230px;
    height: 1px;
    margin-top: 6px;
    background: rgba(31, 32, 65, 0.1);
  }

  &__rate {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 3px 0 0;

    &-text-block {
      max-width: 100px;
      max-height: 24px;
      text-align: right;
      color: $dark-shade-50;
      @include fix-overflow;
    }

    &-text {
      @include font-body;

      &_font-weight {
        &_bold {
          font-weight: bold;
        }
      }
    }
  }
}