mixin headline({ level = "3", title = "change me" } = {})
  case level
    when "1"
      h1.h1 #{title}
    when "2"
      h2.h2 #{title}
    when "3"
      h3.h3 #{title}
    default
      h3.h3 #{title}