mixin headline({ type = 'h3', title = 'change me' } = {})
  -
    const types = ['h1', 'h2', 'h3'];
    const classes = ['headline-subsection', 'headline-widget', 'headline-label'];
    const isTypeCorrect = [];
    const correctIndex = []; 
    types.map((value, index) => {
      if (value === type) {
        isTypeCorrect.push(true);
        correctIndex.push(index);
      }
    })
  if isTypeCorrect[0]
    #{types[ correctIndex[0] ]}(class = classes[ correctIndex[0] ]) #{title}
  else
    p something wrong