.header-menu {
  &__link {
    display: inline-block;
    width: fit-content;
    max-width: 117px;
    max-height: 20px;
    text-align: center;
    line-height: 20px;
    color: $dark-shade-50;
    @include fix-overflow;

    &:active, &:focus, &:hover {
      text-shadow: 0 0 5px $dark-shade-25;
    }

    &-text {
      &_is-home {
        font-weight: bold;
        color: $dark-shade-75;
      }

      &_is-popup {
        cursor: pointer;
        position: relative;
        display: inline-block;
        height: 20px;
  
        &-text {
          display: inline-block;
          vertical-align: top;
          max-height: 20px;
          max-width: 117px;
          text-align: center;
          line-height: 20px;
          color: $dark-shade-50;
        }
      } 
    }

    @media screen and (min-width: $old-phones) and (max-width: $pads) {
      margin-right: 0;
      margin-bottom: 5px;
    }
  }

  &__link-text_is-popup:hover &__popup,
  &__link-text_is-popup:focus &__popup {
    visibility: visible;
  }

  &__popup {
    visibility: hidden;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 17px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px $dark-shade-50;
    text-align: left;

    & .header-menu__link {
      @include fix-overflow;
    }

    & .header-menu__link:hover,
    & .header-menu__link:focus,
    & .header-menu__link:hover {
      color: $dark-shade-75;
    }
  }
  
  &__arrow-down {
    cursor: pointer;
    display: inline-block;
    font: normal normal 24px/23px materialIcons;
    color: $dark-shade-50;
    vertical-align: top;

    @media screen and (min-width: $old-phones) and (max-width: $pads) {
      margin-right: 0;
    }
  }
}