//- mixin buttons__plusMinus (id, isPlus)
include ../_buttons/_plusMinus/buttons__plusMinus
mixin dropdown__line(text, id, count)
    -
        var buttonIDminus, buttonIDplus, counterID
        buttonIDminus = id + "Minus"
        buttonIDplus = id + "Plus"
        counterID = id + "Counter"
    .dropdown__line
        div
            h3 #{text}
        .dropdown__changeBox
            +buttons__plusMinus(buttonIDminus, false)
            .dropdown__counter
                h3(id = counterID) #{count}
            +buttons__plusMinus(buttonIDplus, true)

