mixin toggle({isChecked = false, title = 'Получать спецпредложения'} = {})
  label.toggle
    span.toggle__flex-block
      input.toggle__input(type='checkbox', checked=isChecked)
      span.toggle__switch
      span.toggle__label
        span.toggle__wrapper
          span.toggle__title #{title}