mixin toggle({isChecked = false, title = 'Получать спецпредложения'} = {})
  label.toggle
    .toggle__flex-block
      input(type='checkbox', class='toggle__input', checked=isChecked)
      .toggle__switch
      span.toggle__label
        .toggle__wrapper
          p.toggle__title #{title}