mixin toggle({isChacked = false, title = "Получать спецпредложения"} = {})
  label(class="toggle--container")
    div(style="display: flex;")
      if isChecked
        input(type="checkbox", class="toggle", checked)
      else
        input(type="checkbox", class="toggle")
      div(class="toggle--switch")
      span(class="toggle--label") #{title}