.toggle {
  opacity: 0;
  width: 0;
  height: 0;
  &:checked {
    + .toggle__switch {
    border: 1px solid $purple;
    }
    + .toggle__switch:before {
      background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
      transform: translateX(19px);
    }
  }
  &__container {
    cursor: pointer;
    position: relative;
    display: block;
    width: 40px;
    height: 20px;

    &:focus .toggle__switch,
    &:active .toggle__switch,
    &:hover .toggle__switch {
      box-shadow: 0 0 5px $dark-shade-50;
    }
  }
  &__flex-block {
    display: flex;
  }
  &__switch {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid $dark-shade-25;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    &::before {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      left: 3px;
      bottom: 3px;
      background-color: $dark-shade-25;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }
  &__label {
    white-space: nowrap;
    padding-left: 50px;
    color: $dark-shade-75;
    font: normal normal 14px/19px Montserrat, sans-serif;
    @media screen  and (min-width: 100px) and (max-width: 250px) {
      white-space: wrap;
    }
  }
}