include ../../_formElements/_textField/textField
include ../../_formElements/_buttons/_button/_button
mixin login
    .login--container
        h1 Войти
        .login--loginInfo
            .login--block
                +textField("email","","Email")
            .login--block
                +textField("password", "", "Пароль", true)
        .login--loginButton
            +button({title: "Войти"})
        .login--signup
            p Нет аккаунта на Toxin?
            .login--signupButton
                +button({size: "medium", theme: "border", title: "Создать"})