body, h1, h2, h3, p, button, br, ul, li, pre {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

a:visited {
  color: initial; }

br {
  width: 0;
  height: 0; }

/* fix placeholder in diferent browsers */
::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25); }

::-moz-placeholder {
  color: rgba(31, 32, 65, 0.25); }

:-moz-placeholder {
  color: rgba(31, 32, 65, 0.25); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: url(fonts/Quicksand-Bold.eot) format("eot"), url(fonts/Quicksand-Bold.woff) format("woff"), url(fonts/Quicksand-Bold.ttf) format("truetype"), url(fonts/Quicksand-Bold.svg#Quicksand) format("svg"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  src: url(fonts/Quicksand-Regular.eot) format("eot"), url(fonts/Quicksand-Regular.woff) format("woff"), url(fonts/Quicksand-Regular.ttf) format("truetype"), url(fonts/Quicksand-Regular.svg#Quicksand) format("svg"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url(fonts/Montserrat-Bold.eot) format("eot"), url(fonts/Montserrat-Bold.woff) format("woff"), url(fonts/Montserrat-Bold.ttf) format("truetype"), url(fonts/Montserrat-Bold.svg#Montserrat) format("svg"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url(fonts/Montserrat-Regular.eot) format("eot"), url(fonts/Montserrat-Regular.woff) format("woff"), url(fonts/Montserrat-Regular.ttf) format("truetype"), url(fonts/Montserrat-Regular.svg#Montserrat) format("svg"); }

body {
  font: normal normal 14px/24px Montserrat;
  color: rgba(31, 32, 65, 0.75); }

h1 {
  font: normal bold 24px/30px Quicksand, Montserrat; }

h2 {
  font: normal bold 19px/24px Quicksand, Montserrat; }

h3 {
  font: normal bold 12px/15px Montserrat;
  text-transform: uppercase;
  color: #1F2041; }

.label {
  margin-bottom: 5px; }

body {
  background-color: #fff; }

.colors {
  display: inline-block;
  width: 270px; }

.type {
  display: inline-block;
  vertical-align: top; }

@media only screen and (min-width: 1315px) {
  .logo {
    margin: 30px 0 60px 30px; }
  .container {
    width: 76.3195%;
    margin: 0 13.2639% 0 10.4167%; }
  .colors {
    width: 24.5678%;
    margin-right: 38.7625%; }
  .type {
    width: 36.6697%;
    min-width: 368px;
    max-width: 403px; } }

@media only screen and (min-width: 969px) and (max-width: 1314px) {
  .logo {
    margin: 30px 0 60px 30px; }
  .container {
    width: 76.3195%;
    margin: 0 13.2639% 0 10.4167%; }
  .colors {
    width: 270px;
    float: left; }
  .type {
    width: 368px;
    float: right; } }

@media only screen and (min-width: 750px) and (max-width: 968px) {
  .logo {
    margin: 30px 0 60px 30px; }
  .container {
    max-width: 740px;
    min-width: 680px;
    width: 76.3195%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 3.2639%; }
  .colors {
    width: 270px;
    float: left; }
  .type {
    width: 368px;
    float: right; } }

@media only screen and (min-width: 300px) and (max-width: 749px) {
  .logo {
    margin: 30px 0 24px 30px; }
  .colors, .type {
    display: block;
    margin: 0 auto; }
  .colors {
    margin-bottom: 40px; }
  .type {
    width: 368px; } }

.colors__block {
  display: flex;
  align-items: center;
  margin-bottom: 20px; }

.colors__cell {
  flex: none;
  width: 70px;
  height: 70px;
  border-radius: 6px;
  margin-right: 40px; }

.colors__text {
  min-width: 159px;
  font: normal bold 19px/29px Quicksand;
  text-transform: capitalize; }

.colors__cell_DarkShade100 {
  background-color: #1F2041; }

.colors__cell_DarkShade075 {
  background-color: rgba(31, 32, 65, 0.75); }

.colors__cell_DarkShade050 {
  background-color: rgba(31, 32, 65, 0.5); }

.colors__cell_DarkShade025 {
  background-color: rgba(31, 32, 65, 0.25); }

.colors__cell_DarkShade005 {
  background-color: rgba(31, 32, 65, 0.05); }

.colors__cell_Purple {
  background-color: #bc9cff; }

.colors__cell_Green {
  background-color: #6FCF97; }

.colors__text_regular {
  font-weight: normal;
  text-transform: uppercase; }

.type__block {
  display: flex;
  margin-bottom: 50px; }

.type__title {
  flex: none;
  margin-right: 30px;
  width: 37px;
  text-align: right;
  text-transform: capitalize;
  font: normal normal Montserrat;
  color: rgba(31, 32, 65, 0.25); }

.type__line {
  min-width: 301px;
  text-align: left; }

.type__title_h1 {
  font-size: 24px;
  line-height: 29px; }

.type__title_h2 {
  font-size: 19px;
  line-height: 23px; }

.type__title_h3 {
  font-size: 12px;
  line-height: 15px; }

.type__title_body {
  font-size: 14px;
  line-height: 24px; }

.h1 {
  font: normal bold 24px/30px Quicksand;
  color: #1F2041; }

.h2 {
  font: normal bold 19px/24px Quicksand;
  color: #1F2041; }

.h3 {
  font: normal bold 12px/15px Montserrat;
  color: #1F2041;
  text-transform: uppercase; }

.body {
  font: normal normal 14px/24px Montserrat;
  color: rgba(31, 32, 65, 0.75); }

