body, h1, h2, h3, .paginationjs-pages, p, button, br, ul, li, pre {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

a:visited {
  color: initial; }

br {
  width: 0;
  height: 0; }

/* fix placeholder in diferent browsers */
::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25); }

::-moz-placeholder {
  color: rgba(31, 32, 65, 0.25); }

:-moz-placeholder {
  color: rgba(31, 32, 65, 0.25); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: url(fonts/Quicksand-Bold.eot) format("eot"), url(fonts/Quicksand-Bold.woff) format("woff"), url(fonts/Quicksand-Bold.ttf) format("truetype"), url(fonts/Quicksand-Bold.svg#Quicksand) format("svg"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  src: url(fonts/Quicksand-Regular.eot) format("eot"), url(fonts/Quicksand-Regular.woff) format("woff"), url(fonts/Quicksand-Regular.ttf) format("truetype"), url(fonts/Quicksand-Regular.svg#Quicksand) format("svg"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url(fonts/Montserrat-Bold.eot) format("eot"), url(fonts/Montserrat-Bold.woff) format("woff"), url(fonts/Montserrat-Bold.ttf) format("truetype"), url(fonts/Montserrat-Bold.svg#Montserrat) format("svg"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url(fonts/Montserrat-Regular.eot) format("eot"), url(fonts/Montserrat-Regular.woff) format("woff"), url(fonts/Montserrat-Regular.ttf) format("truetype"), url(fonts/Montserrat-Regular.svg#Montserrat) format("svg"); }

body {
  font: normal normal 14px/24px Montserrat;
  color: rgba(31, 32, 65, 0.75); }

h1 {
  font: normal bold 24px/30px Quicksand, Montserrat; }

h2 {
  font: normal bold 19px/24px Quicksand, Montserrat; }

h3, .paginationjs-pages {
  font: normal bold 12px/15px Montserrat;
  text-transform: uppercase;
  color: #1F2041; }

.label {
  margin-bottom: 5px; }

.textField {
  width: 100%;
  height: 44px;
  padding: 13px 15px;
  background-color: #fff;
  font: normal normal 14px/18px Montserrat;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px; }

.textField:hover, .textField:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  outline: none; }

.buttons__plusMinus {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  color: rgba(31, 32, 65, 0.25);
  font: normal normal 18px/22px Montserrat;
  outline: none; }

.buttons__plusMinus_active {
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 50%;
  color: rgba(31, 32, 65, 0.5);
  font: normal normal 18px/22px Montserrat;
  outline: none;
  cursor: pointer; }

.textField {
  width: 100%;
  height: 44px;
  padding: 13px 15px;
  background-color: #fff;
  font: normal normal 14px/18px Montserrat;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px; }

.textField:hover, .textField:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  outline: none; }

.dropdown {
  width: 100%;
  height: 44px;
  line-height: 18px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="-16 -17 44 44" enable-background="new -19 -19 44 44" xml:space="preserve" height="44px" width="44px"><path fill="rgba(31, 32, 65, 0.5)" d="M11.3301 0.578125L12.7363 1.98438L6.73633 7.98438L0.736328 1.98438L2.14258 0.578125L6.73633 5.17188L11.3301 0.578125Z" /><g></g></svg>') no-repeat right #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  color: rgba(31, 32, 65, 0.5); }

.dropdown_active {
  width: 100%;
  height: 44px;
  line-height: 18px;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="-16 -17 44 44" enable-background="new -19 -19 44 44" xml:space="preserve" height="44px" width="44px"><path fill="rgba(31, 32, 65, 0.75)" d="M11.3301 0.578125L12.7363 1.98438L6.73633 7.98438L0.736328 1.98438L2.14258 0.578125L6.73633 5.17188L11.3301 0.578125Z" /><g></g></svg>') no-repeat right #fff;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-bottom: none;
  box-sizing: border-box;
  border-radius: 0;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.dropdown:hover {
  border: 1px solid rgba(31, 32, 65, 0.5); }

.dropdown__link {
  display: block;
  width: 95.625%;
  height: 24px;
  padding: 8px 0 10px 4.375%;
  font: normal normal 14px/24px Montserrat;
  color: rgba(31, 32, 65, 0.75); }

.dropdown__link:visited {
  color: initial; }

.dropdown__container {
  display: none;
  position: absolute;
  z-index: 100;
  width: inherit;
  height: 159px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.5);
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  padding: 0 7px 0 15px; }

.dropdown__container_guests {
  width: 318px; }

.dropdown__container_rooms {
  width: 266px; }

.dropdown__line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  margin-top: 7px; }

.dropdown__changeBox {
  width: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.dropdown__counter {
  width: calc(100% - 60px);
  height: inherit;
  display: inline-block;
  text-align: center;
  vertical-align: middle; }

.dropdown__confirmLine {
  margin-top: 19px;
  margin-bottom: 13px; }

.dropdown__cleanLink,
.dropdown__applyLink {
  text-decoration: none; }

.dropdown__cleanLink {
  display: none; }

.dropdown__cleanLink_active {
  display: inline-block;
  float: left;
  color: rgba(31, 32, 65, 0.5); }

.dropdown__applyLink {
  float: right;
  color: #BC9CFF; }

.dropdown__cleanLink_active,
.dropdown__applyLink {
  cursor: pointer; }

.textField {
  width: 100%;
  height: 44px;
  padding: 13px 15px;
  background-color: #fff;
  font: normal normal 14px/18px Montserrat;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px; }

.textField:hover, .textField:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  outline: none; }

.datepicker__applyLink {
  float: right;
  cursor: pointer;
  color: #bc9cff; }

.datepicker__clearLink {
  float: left;
  border: none;
  outline: none;
  background: #fff;
  font: normal bold 12px/15px Montserrat;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
  cursor: pointer; }

.datepicker__clearLink, .datepicker__applyLink {
  margin-top: 20px; }

.dateDropdown__container {
  display: flex;
  justify-content: space-between; }
  .dateDropdown__container div {
    width: 150px; }

.dateDropdown {
  width: 100%;
  height: 44px;
  padding-left: 14px;
  padding-bottom: 4px;
  background-color: #fff;
  color: rgba(31, 32, 65, 0.75);
  outline: none;
  font: normal normal 14px/24px Montserrat;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='-16 -18 44 44' enable-background='new -16 -18 44 44' xml:space='preserve' height='44px' width='44px'%3E%3Cpath fill='rgba(31, 32, 65, 0.5)' d='M11.3301 0.578125L12.7363 1.98438L6.73633 7.98438L0.736328 1.98438L2.14258 0.578125L6.73633 5.17188L11.3301 0.578125Z' /%3E%3Cg%3E%3C/g%3E%3C/svg%3E") no-repeat right #fff; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }

.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5; }

.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede; }

.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6; }

.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4; }

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc; }

.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2); }

.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none; }

/* -------------------------------------------------
      Datepicker cells
     ------------------------------------------------- */
.datepicker--cells {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.datepicker--cell {
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 1; }

.datepicker--cell.-focus- {
  background: #f0f0f0; }

.datepicker--cell.-current- {
  color: #fff;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  font-weight: bold; }

.datepicker--cell.-current-.-focus- {
  color: #4a4a4a; }

.datepicker--cell.-current-.-in-range- {
  color: #4EB5E6; }

.datepicker--cell.-in-range- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
  border-radius: 0; }

.datepicker--cell.-in-range-.-focus- {
  background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%); }

.datepicker--cell.-disabled- {
  cursor: default;
  color: #aeaeae; }

.datepicker--cell.-disabled-.-focus- {
  color: #aeaeae; }

.datepicker--cell.-disabled-.-in-range- {
  color: #a1a1a1; }

.datepicker--cell.-disabled-.-current-.-focus- {
  color: #aeaeae; }

.datepicker--cell.-range-from- {
  position: relative; }
  .datepicker--cell.-range-from-:before {
    content: '';
    z-index: -1;
    width: inherit;
    height: inherit;
    position: absolute;
    border-radius: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%); }

.datepicker--cell.-range-to- {
  position: relative; }
  .datepicker--cell.-range-to-:before {
    content: '';
    z-index: -1;
    width: inherit;
    height: inherit;
    position: absolute;
    border-radius: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%); }

.datepicker--cell.-range-from-.-range-to- {
  border-radius: 4px; }

.datepicker--cell.-selected- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-weight: bold;
  color: white; }

.datepicker--cell.-selected-.-current- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-weight: bold;
  color: white; }

.datepicker--cell.-selected-.-focus- {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-weight: bold;
  color: white; }

.datepicker--cell:empty {
  cursor: default; }

.datepicker--days-names {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.datepicker--day-name {
  color: #bc9cff;
  width: 40px;
  height: 40px;
  font-weight: bold;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  text-transform: uppercase; }

.datepicker--cell-day {
  width: 38.5px;
  height: 38.5px;
  border-radius: 50%; }

.datepicker--cells-months {
  height: 170px; }

.datepicker--cell-month {
  width: 33.33%;
  height: 25%; }

.datepicker--years {
  height: 170px; }

.datepicker--cells-years {
  height: 170px; }

.datepicker--cell-year {
  width: 25%;
  height: 33.33%; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }

.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5; }

.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede; }

.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6; }

.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4; }

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc; }

.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2); }

.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none; }

/* -------------------------------------------------
      Datepicker
     ------------------------------------------------- */
.datepickers-container {
  position: absolute;
  left: 0;
  top: 0; }

@media print {
  .datepickers-container {
    display: none; } }

.datepicker {
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  border-radius: 4px;
  padding: 20px;
  font: normal normal 12px/15px Montserrat;
  color: rgba(31, 32, 65, 0.5);
  width: 320px;
  position: absolute;
  left: -100000px;
  opacity: 0;
  transition: opacity 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0.3s, -webkit-transform 0.3s ease;
  z-index: 100; }

.datepicker.-from-top- {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px); }

.datepicker.-from-right- {
  -webkit-transform: translateX(8px);
  transform: translateX(8px); }

.datepicker.-from-bottom- {
  -webkit-transform: translateY(8px);
  transform: translateY(8px); }

.datepicker.-from-left- {
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px); }

.datepicker.active {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0);
  transition: opacity 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s;
  transition: opacity 0.3s ease, transform 0.3s ease, left 0s 0s, -webkit-transform 0.3s ease; }

.datepicker-inline .datepicker {
  border-color: #d7d7d7;
  box-shadow: none;
  position: static;
  left: auto;
  right: auto;
  opacity: 1;
  -webkit-transform: none;
  transform: none; }

.datepicker--content {
  box-sizing: content-box;
  padding: 4px; }

.-only-timepicker- .datepicker--content {
  display: none; }

.datepicker--body {
  display: none; }

.datepicker--body.active {
  display: block; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }

.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5; }

.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede; }

.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6; }

.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4; }

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc; }

.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2); }

.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none; }

/* -------------------------------------------------
      Navigation
     ------------------------------------------------- */
.datepicker--nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 30px; }

.-only-timepicker- .datepicker--nav {
  display: none; }

.datepicker--nav-title,
.datepicker--nav-action {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font: normal bold 19px/24px Quicksand, Montserrat;
  color: #1F2041; }

.datepicker--nav-action {
  width: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.datepicker--nav-action.-disabled- {
  visibility: hidden; }

.datepicker--nav-action svg {
  width: 24px;
  height: 24px; }

.datepicker--nav-title {
  border-radius: 4px;
  padding: 0 8px; }

.datepicker--buttons {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 4px;
  border-top: 1px solid #efefef; }

.datepicker--button {
  color: #4EB5E6;
  cursor: pointer;
  border-radius: 4px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 32px; }

.datepicker--button:hover {
  color: #4a4a4a;
  background: #f0f0f0; }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }

.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5; }

.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede; }

.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6; }

.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4; }

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc; }

.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2); }

.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none; }

/* -------------------------------------------------
      Timepicker
     ------------------------------------------------- */
.datepicker--time {
  border-top: 1px solid #efefef;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4px;
  position: relative; }

.datepicker--time.-am-pm- .datepicker--time-sliders {
  -webkit-flex: 0 1 138px;
  -ms-flex: 0 1 138px;
  flex: 0 1 138px;
  max-width: 138px; }

.-only-timepicker- .datepicker--time {
  border-top: none; }

.datepicker--time-sliders {
  -webkit-flex: 0 1 153px;
  -ms-flex: 0 1 153px;
  flex: 0 1 153px;
  margin-right: 10px;
  max-width: 153px; }

.datepicker--time-label {
  display: none;
  font-size: 12px; }

.datepicker--time-current {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 14px;
  text-align: center;
  margin: 0 0 0 10px; }

.datepicker--time-current-colon {
  margin: 0 2px 3px;
  line-height: 1; }

.datepicker--time-current-hours,
.datepicker--time-current-minutes {
  line-height: 1;
  font-size: 19px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  position: relative;
  z-index: 1; }

.datepicker--time-current-hours:after,
.datepicker--time-current-minutes:after {
  content: '';
  background: #f0f0f0;
  border-radius: 4px;
  position: absolute;
  left: -2px;
  top: -3px;
  right: -2px;
  bottom: -2px;
  z-index: -1;
  opacity: 0; }

.datepicker--time-current-hours.-focus-:after,
.datepicker--time-current-minutes.-focus-:after {
  opacity: 1; }

.datepicker--time-current-ampm {
  text-transform: uppercase;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: #9c9c9c;
  margin-left: 6px;
  font-size: 11px;
  margin-bottom: 1px; }

.datepicker--time-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 11px;
  height: 17px;
  background: linear-gradient(to right, #dedede, #dedede) left 50%/100% 1px no-repeat; }

.datepicker--time-row:first-child {
  margin-bottom: 4px; }

.datepicker--time-row input[type='range'] {
  background: none;
  cursor: pointer;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none; }

.datepicker--time-row input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none; }

.datepicker--time-row input[type='range']::-ms-tooltip {
  display: none; }

.datepicker--time-row input[type='range']:hover::-webkit-slider-thumb {
  border-color: #b8b8b8; }

.datepicker--time-row input[type='range']:hover::-moz-range-thumb {
  border-color: #b8b8b8; }

.datepicker--time-row input[type='range']:hover::-ms-thumb {
  border-color: #b8b8b8; }

.datepicker--time-row input[type='range']:focus {
  outline: none; }

.datepicker--time-row input[type='range']:focus::-webkit-slider-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef; }

.datepicker--time-row input[type='range']:focus::-moz-range-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef; }

.datepicker--time-row input[type='range']:focus::-ms-thumb {
  background: #5cc4ef;
  border-color: #5cc4ef; }

.datepicker--time-row input[type='range']::-webkit-slider-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background .2s; }

.datepicker--time-row input[type='range']::-moz-range-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background .2s; }

.datepicker--time-row input[type='range']::-ms-thumb {
  box-sizing: border-box;
  height: 12px;
  width: 12px;
  border-radius: 3px;
  border: 1px solid #dedede;
  background: #fff;
  cursor: pointer;
  transition: background .2s; }

.datepicker--time-row input[type='range']::-webkit-slider-thumb {
  margin-top: -6px; }

.datepicker--time-row input[type='range']::-webkit-slider-runnable-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: transparent; }

.datepicker--time-row input[type='range']::-moz-range-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: transparent; }

.datepicker--time-row input[type='range']::-ms-track {
  border: none;
  height: 1px;
  cursor: pointer;
  color: transparent;
  background: transparent; }

.datepicker--time-row input[type='range']::-ms-fill-lower {
  background: transparent; }

.datepicker--time-row input[type='range']::-ms-fill-upper {
  background: transparent; }

.datepicker--time-row span {
  padding: 0 12px; }

.datepicker--time-icon {
  color: #9c9c9c;
  border: 1px solid;
  border-radius: 50%;
  font-size: 16px;
  position: relative;
  margin: 0 5px -1px 0;
  width: 1em;
  height: 1em; }

.datepicker--time-icon:after, .datepicker--time-icon:before {
  content: '';
  background: currentColor;
  position: absolute; }

.datepicker--time-icon:after {
  height: .4em;
  width: 1px;
  left: calc(50% - 1px);
  top: calc(50% + 1px);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%); }

.datepicker--time-icon:before {
  width: .4em;
  height: 1px;
  top: calc(50% + 1px);
  left: calc(50% - 1px); }

.datepicker--cell-day.-other-month-, .datepicker--cell-year.-other-decade- {
  color: #dedede; }

.datepicker--cell-day.-other-month-:hover, .datepicker--cell-year.-other-decade-:hover {
  color: #c5c5c5; }

.-disabled-.-focus-.datepicker--cell-day.-other-month-, .-disabled-.-focus-.datepicker--cell-year.-other-decade- {
  color: #dedede; }

.-selected-.datepicker--cell-day.-other-month-, .-selected-.datepicker--cell-year.-other-decade- {
  color: #fff;
  background: #a2ddf6; }

.-selected-.-focus-.datepicker--cell-day.-other-month-, .-selected-.-focus-.datepicker--cell-year.-other-decade- {
  background: #8ad5f4; }

.-in-range-.datepicker--cell-day.-other-month-, .-in-range-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.1);
  color: #cccccc; }

.-in-range-.-focus-.datepicker--cell-day.-other-month-, .-in-range-.-focus-.datepicker--cell-year.-other-decade- {
  background-color: rgba(92, 196, 239, 0.2); }

.datepicker--cell-day.-other-month-:empty, .datepicker--cell-year.-other-decade-:empty {
  background: none;
  border: none; }

.expandableCheckboxList__link {
  display: block;
  width: 100%;
  height: 44px;
  padding: 14px 0 15px 0;
  box-sizing: border-box;
  color: #1F2041; }

.expandableCheckboxList__link_deactive {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="-16 -17 44 44" enable-background="new -19 -19 44 44" xml:space="preserve" height="44px" width="44px"><path fill="rgba(31, 32, 65, 0.50)" d="M11.3301 0.578125L12.7363 1.98438L6.73633 7.98438L0.736328 1.98438L2.14258 0.578125L6.73633 5.17188L11.3301 0.578125Z" /><g></g></svg>') no-repeat right #fff; }

.expandableCheckboxList__link_active {
  background: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='-16 -17 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.40625 7.42187L1.74709e-06 6.01562L6 0.0156231L12 6.01562L10.5938 7.42187L6 2.82812L1.40625 7.42187Z' fill='%231F2041' fill-opacity='0.5'/%3E%3C/svg%3E%0A") no-repeat right #fff; }

.expandableCheckboxList__container {
  display: none; }

.condition__container {
  display: flex;
  padding-left: 8px; }

.condition__pict {
  width: 48px;
  height: 48px;
  margin-right: 6px; }

.condition__pict_smile {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.1875 29.0938C24.375 30.3438 22.3125 30.9688 20 30.9688C17.6875 30.9688 15.5938 30.3438 13.7188 29.0938C11.9062 27.7812 10.5938 26.0938 9.78125 24.0312H30.2188C29.4062 26.0938 28.0625 27.7812 26.1875 29.0938ZM15.0312 17.1875C14.4688 17.75 13.7812 18.0312 12.9688 18.0312C12.1562 18.0312 11.4375 17.75 10.8125 17.1875C10.25 16.5625 9.96875 15.8438 9.96875 15.0312C9.96875 14.2188 10.25 13.5312 10.8125 12.9688C11.4375 12.3438 12.1562 12.0312 12.9688 12.0312C13.7812 12.0312 14.4688 12.3438 15.0312 12.9688C15.6562 13.5312 15.9688 14.2188 15.9688 15.0312C15.9688 15.8438 15.6562 16.5625 15.0312 17.1875ZM29.0938 17.1875C28.5312 17.75 27.8438 18.0312 27.0312 18.0312C26.2188 18.0312 25.5 17.75 24.875 17.1875C24.3125 16.5625 24.0312 15.8438 24.0312 15.0312C24.0312 14.2188 24.3125 13.5312 24.875 12.9688C25.5 12.3438 26.2188 12.0312 27.0312 12.0312C27.8438 12.0312 28.5312 12.3438 29.0938 12.9688C29.7188 13.5312 30.0312 14.2188 30.0312 15.0312C30.0312 15.8438 29.7188 16.5625 29.0938 17.1875ZM8.65625 31.3438C11.8438 34.4688 15.625 36.0312 20 36.0312C24.375 36.0312 28.125 34.4688 31.25 31.3438C34.4375 28.1562 36.0312 24.375 36.0312 20C36.0312 15.625 34.4375 11.875 31.25 8.75C28.125 5.5625 24.375 3.96875 20 3.96875C15.625 3.96875 11.8438 5.5625 8.65625 8.75C5.53125 11.875 3.96875 15.625 3.96875 20C3.96875 24.375 5.53125 28.1562 8.65625 31.3438ZM5.84375 5.9375C9.78125 2 14.5 0.03125 20 0.03125C25.5 0.03125 30.1875 2 34.0625 5.9375C38 9.8125 39.9688 14.5 39.9688 20C39.9688 25.5 38 30.2188 34.0625 34.1562C30.1875 38.0312 25.5 39.9688 20 39.9688C14.5 39.9688 9.78125 38.0312 5.84375 34.1562C1.96875 30.2188 0.03125 25.5 0.03125 20C0.03125 14.5 1.96875 9.8125 5.84375 5.9375Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='20' y1='-4' x2='20' y2='44' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); }

.condition__pict_building {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.9688 26V21.9688H28.0312V26H31.9688ZM31.9688 33.9688V30.0312H28.0312V33.9688H31.9688ZM19.9688 9.96875V6.03125H16.0312V9.96875H19.9688ZM19.9688 18.0312V14H16.0312V18.0312H19.9688ZM19.9688 26V21.9688H16.0312V26H19.9688ZM19.9688 33.9688V30.0312H16.0312V33.9688H19.9688ZM7.96875 18.0312V14H4.03125V18.0312H7.96875ZM7.96875 26V21.9688H4.03125V26H7.96875ZM7.96875 33.9688V30.0312H4.03125V33.9688H7.96875ZM24 18.0312H36V38H0V9.96875H12V6.03125L18 0.03125L24 6.03125V18.0312Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='18' y1='-4' x2='18' y2='44' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); }

.condition__pict_fire {
  background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.4375 36.9688C19.125 36.9688 21.375 36.0625 23.1875 34.25C25.0625 32.375 26 30.0938 26 27.4062C26 24.6562 25.625 21.9688 24.875 19.3438C22.9375 21.9062 19.8438 23.625 15.5938 24.5C11.8438 25.3125 9.96875 27.375 9.96875 30.6875C9.96875 32.4375 10.5938 33.9375 11.8438 35.1875C13.0938 36.375 14.625 36.9688 16.4375 36.9688ZM20 0.3125C24 3.5625 27.1562 7.53125 29.4688 12.2188C31.8438 16.8438 33.0312 21.7812 33.0312 27.0312C33.0312 31.4062 31.4688 35.1562 28.3438 38.2812C25.2188 41.4062 21.4375 42.9688 17 42.9688C12.5625 42.9688 8.78125 41.4062 5.65625 38.2812C2.53125 35.1562 0.96875 31.4062 0.96875 27.0312C0.96875 20.2812 3.125 14.3438 7.4375 9.21875V9.96875C7.4375 12.0312 8.125 13.7813 9.5 15.2188C10.875 16.6562 12.5938 17.375 14.6562 17.375C16.6562 17.375 18.2812 16.6875 19.5312 15.3125C20.8438 13.875 21.5 12.0938 21.5 9.96875C21.5 8.71875 21.375 7.28125 21.125 5.65625C20.875 4.03125 20.625 2.75 20.375 1.8125L20 0.3125Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='17' y1='-1' x2='17' y2='47' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); }

.condition__text {
  line-height: 16px;
  color: rgba(31, 32, 65, 0.75); }

.condition__text_normal {
  margin-top: 8px; }

.condition__hr {
  width: 280px;
  margin-top: 15px;
  margin-left: 2px;
  border: 0.5px solid rgba(31, 32, 65, 0.05); }

.buttons__checkbox-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font: normal normal 14px/18px Montserrat;
  color: rgba(31, 32, 65, 0.5);
  padding-left: 30px;
  margin-bottom: 11px; }

.buttons__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

.buttons__checkbox-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px; }

.buttons__checkbox:checked ~ .buttons__checkbox-checkmark {
  border: 1px solid #BC9CFF;
  content: ""; }

.buttons__checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.buttons__checkbox:checked ~ .buttons__checkbox-checkmark:after {
  display: block; }

.buttons__checkbox-label .buttons__checkbox-checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 7px;
  border: 1px solid transparent;
  border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-image-slice: 1;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); }

.buttons__radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
  font: normal normal 14px/18px Montserrat;
  cursor: pointer; }

.buttons__radio {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 20px;
  cursor: pointer; }

.buttons__radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box; }

.buttons__radio-label {
  cursor: pointer;
  color: rgba(31, 32, 65, 0.5); }

.buttons__radio:checked ~ .buttons__radio-label {
  color: rgba(31, 32, 65, 0.75); }

.buttons__radio:checked ~ .buttons__radio-checkmark {
  background-color: #fff;
  border: 1px solid #bc9cff;
  box-sizing: border-box; }

.buttons__radio-checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.buttons__radio:checked ~ .buttons__radio-checkmark:after {
  display: block; }

.buttons__radio-container .buttons__radio-checkmark:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(180deg, #bc9cff 0%, #8BA4F9 100%); }

.buttons__toggle-container {
  cursor: pointer;
  position: relative;
  display: block;
  width: 40px;
  height: 20px; }

.buttons__toggle {
  opacity: 0;
  width: 0;
  height: 0; }
  .buttons__toggle:checked + .buttons__toggle-switch {
    border: 1px solid #bc9cff; }
  .buttons__toggle:checked + .buttons__toggle-switch:before {
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    -webkit-transform: translateX(19px);
    -ms-transform: translateX(19px);
    transform: translateX(19px); }

.buttons__toggle-switch {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(31, 32, 65, 0.25);
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px; }
  .buttons__toggle-switch::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 3px;
    bottom: 3px;
    background-color: rgba(31, 32, 65, 0.25);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%; }

.buttons__toggle-label {
  white-space: nowrap;
  padding-left: 44px;
  color: rgba(31, 32, 65, 0.75);
  font: normal normal 14px/19px Montserrat; }

.buttons__like-container {
  display: flex;
  width: 40px;
  height: 20px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px;
  background: 4px center no-repeat;
  outline: none;
  cursor: pointer; }

.buttons__like-container_normal {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.03906 6.73438C5.66406 6.17448 6.1263 5.7513 6.42578 5.46484C6.72526 5.17839 7.05078 4.83984 7.40234 4.44922C7.75391 4.05859 7.99479 3.71354 8.125 3.41406C8.26823 3.11458 8.33984 2.82161 8.33984 2.53516C8.33984 2.11849 8.19661 1.77344 7.91016 1.5C7.63672 1.22656 7.29167 1.08984 6.875 1.08984C6.54948 1.08984 6.24349 1.18099 5.95703 1.36328C5.68359 1.54557 5.49479 1.77995 5.39062 2.06641H4.60938C4.50521 1.77995 4.3099 1.54557 4.02344 1.36328C3.75 1.18099 3.45052 1.08984 3.125 1.08984C2.70833 1.08984 2.35677 1.22656 2.07031 1.5C1.79688 1.77344 1.66016 2.11849 1.66016 2.53516C1.66016 2.82161 1.72526 3.11458 1.85547 3.41406C1.9987 3.71354 2.24609 4.05859 2.59766 4.44922C2.94922 4.83984 3.27474 5.17839 3.57422 5.46484C3.8737 5.7513 4.33594 6.17448 4.96094 6.73438L5 6.77344L5.03906 6.73438ZM6.875 0.25C7.52604 0.25 8.06641 0.471354 8.49609 0.914062C8.9388 1.35677 9.16016 1.89714 9.16016 2.53516C9.16016 2.91276 9.08854 3.28385 8.94531 3.64844C8.80208 4 8.53516 4.39714 8.14453 4.83984C7.76693 5.28255 7.42188 5.65365 7.10938 5.95312C6.79688 6.2526 6.29557 6.71484 5.60547 7.33984L5 7.88672L4.39453 7.35938C3.49609 6.55208 2.84505 5.94661 2.44141 5.54297C2.05078 5.13932 1.6862 4.66406 1.34766 4.11719C1.00911 3.57031 0.839844 3.04297 0.839844 2.53516C0.839844 1.89714 1.05469 1.35677 1.48438 0.914062C1.92708 0.471354 2.47396 0.25 3.125 0.25C3.88021 0.25 4.50521 0.542969 5 1.12891C5.49479 0.542969 6.11979 0.25 6.875 0.25Z' fill='%231F2041' fill-opacity='0.25'/%3E%3C/svg%3E%0A");
  border: 1px solid rgba(31, 32, 65, 0.25); }

.buttons__like-container_active {
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.93026 7.88672L4.3248 7.33984C3.63469 6.71484 3.13339 6.2526 2.82089 5.95312C2.50839 5.65365 2.15683 5.28255 1.7662 4.83984C1.3886 4.39714 1.12818 4 0.984952 3.64844C0.841723 3.28385 0.770108 2.91276 0.770108 2.53516C0.770108 1.89714 0.984952 1.35677 1.41464 0.914062C1.85735 0.471354 2.40422 0.25 3.05526 0.25C3.81047 0.25 4.43547 0.542969 4.93026 1.12891C5.42506 0.542969 6.05006 0.25 6.80526 0.25C7.45631 0.25 7.99667 0.471354 8.42636 0.914062C8.86907 1.35677 9.09042 1.89714 9.09042 2.53516C9.09042 3.04297 8.92115 3.57031 8.58261 4.11719C8.24407 4.66406 7.87297 5.13932 7.46933 5.54297C7.0787 5.94661 6.43417 6.55208 5.53573 7.35938L4.93026 7.88672Z' fill='%23BC9CFF'/%3E%3C/svg%3E%0A");
  background-color: #fff;
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 10px; }
  .buttons__like-container_active:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.buttons__like-counter {
  display: inline-block;
  margin-left: 18px;
  width: 12px;
  text-align: center;
  font: normal normal 10px/12px Montserrat; }

.buttons__like-counter_normal {
  color: rgba(31, 32, 65, 0.25); }

.buttons__like-counter_active {
  color: #bc9cff; }

.buttons__rate {
  width: 24px;
  height: 24px;
  background: center center no-repeat #fff;
  border: none;
  outline: none;
  cursor: pointer; }

.buttons__rate_normal {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 13.4219L13.75 15.6719L12.7656 11.4062L16.0938 8.5L11.6875 8.125L10 4.09375L8.3125 8.125L3.90625 8.5L7.23438 11.4062L6.25 15.6719L10 13.4219ZM19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='10' y1='-2' x2='10' y2='22' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); }

.buttons__rate_active {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 15.25L3.8125 19L5.45312 11.9688L0.015625 7.23438L7.1875 6.625L10 0.015625L12.8125 6.625L19.9844 7.23438L14.5469 11.9688L16.1875 19L10 15.25Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='10' y1='-2' x2='10' y2='22' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A"); }

.buttons__richCheckbox-container {
  display: flex;
  position: relative;
  cursor: pointer; }
  .buttons__richCheckbox-container .buttons__richCheckbox-checkmark:after {
    left: 5px;
    top: 3px;
    width: 5px;
    height: 7px;
    border: 1px solid transparent;
    border-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-image-slice: 1;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); }

.buttons__richCheckbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }
  .buttons__richCheckbox:checked ~ .buttons__richCheckbox-checkmark {
    border: 1px solid #BC9CFF;
    content: ""; }
  .buttons__richCheckbox:checked ~ .buttons__richCheckbox-checkmark:after {
    display: block; }

.buttons__richCheckbox-checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px; }
  .buttons__richCheckbox-checkmark:after {
    content: "";
    position: absolute;
    display: none; }

.buttons__richCheckbox-title {
  font: normal bold 14px/18px Montserrat;
  color: rgba(31, 32, 65, 0.75); }

.buttons__richCheckbox-description {
  padding-top: 3px;
  font: normal normal 12px/14px Montserrat;
  color: rgba(31, 32, 65, 0.5); }

/*! nouislider - 14.0.2 - 6/28/2019 */
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.noUi-target {
  position: relative;
  direction: ltr; }

.noUi-base,
.noUi-connects {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1; }

/* Wrapper for all connect elements.
  */
.noUi-connect,
.noUi-origin {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  -ms-transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  -webkit-transform-style: preserve-3d;
  transform-origin: 0 0;
  transform-style: flat; }

.noUi-connect {
  height: calc(100% + 2px);
  top: -1px;
  width: 100%;
  z-index: 2; }

.noUi-origin {
  height: 10%;
  width: 10%; }

/* Offset direction
  */
html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
  left: auto;
  right: 0; }

/* Give origins 0 height/width so they don't interfere with clicking the
  * connect elements.
  */
.noUi-vertical .noUi-origin {
  width: 0; }

.noUi-horizontal .noUi-origin {
  height: 0; }

.noUi-handle {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute; }

.noUi-touch-area {
  height: 100%;
  width: 100%; }

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: transform 0.3s;
  transition: transform 0.3s; }

.noUi-state-drag * {
  cursor: inherit !important; }

/* Slider size and handle placement;
  */
.noUi-horizontal {
  height: 6px;
  border-radius: 3px; }

.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  top: -6px; }

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -6px;
  left: auto; }

/* Styling;
  * Giving the connect element a border radius causes issues with using transform: scale
  */
.noUi-target {
  background: #fff;
  border-radius: 3px;
  border: 1px solid rgba(31, 32, 65, 0.25); }

.noUi-connects {
  border-radius: 3px; }

.noUi-connect {
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%); }

/* Handles and cursors;
  */
.noUi-handle {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  cursor: pointer;
  outline: none; }

.rangeSlider__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  width: 266px; }

.rangeSlider__value {
  font: normal normal 12px/15px Montserrat;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5); }

.button_medium {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  width: 100%; }

.button_toPay {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='-14 -14 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat 100% 50%, linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
  .button_toPay h3, .button_toPay .paginationjs-pages {
    margin-right: 4px;
    color: white;
    font-size: 11px;
    line-height: 14px; }

.button_gradient, .button_gradientOpacity {
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
  .button_gradient h3, .button_gradientOpacity h3, .button_gradient .paginationjs-pages, .button_gradientOpacity .paginationjs-pages {
    color: white; }

.button_gradientOpacity {
  opacity: 0.5; }

.button_border, .button_borderOpacity {
  border: double 2px transparent;
  border-radius: 22px;
  background-image: linear-gradient(white, white), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box; }
  .button_border h3, .button_borderOpacity h3, .button_border .paginationjs-pages, .button_borderOpacity .paginationjs-pages {
    color: #bc9cff; }

.button_borderOpacity {
  background-image: linear-gradient(white, white), linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%); }

.button_small {
  width: 100%;
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  height: 15px; }

.button_clickPurple h3, .button_clickPurple .paginationjs-pages {
  color: #bc9cff; }

.button_clickGray h3, .button_clickGray .paginationjs-pages {
  color: rgba(31, 32, 65, 0.5); }

.paginationjs {
  box-sizing: border-box;
  display: inline-block; }

.paginationjs-nav {
  text-align: center; }

.paginationjs:after {
  display: table;
  content: " ";
  clear: both; }

.paginationjs .paginationjs-pages li {
  float: left;
  list-style: none; }

.paginationjs .paginationjs-pages li > a {
  width: 40px;
  height: 40px;
  border-radius: 22px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: #fff;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.5); }

.paginationjs .paginationjs-pages li.paginationjs-next > a {
  width: 40px;
  height: 40px;
  border-radius: 22px;
  align-items: center;
  background: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.426758L17.0156 8.44238L9 16.458L7.59375 15.0518L13.1719 9.42676H0.984375V7.45801H13.1719L7.59375 1.83301L9 0.426758Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat 50% 50%, linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%); }

.paginationjs .paginationjs-pages li > a:hover {
  background: #eee; }

.paginationjs .paginationjs-pages li.paginationjs-next > a:hover {
  background: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.426758L17.0156 8.44238L9 16.458L7.59375 15.0518L13.1719 9.42676H0.984375V7.45801H13.1719L7.59375 1.83301L9 0.426758Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat 50% 50%, linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  opacity: 0.75; }

.paginationjs .paginationjs-pages li.active {
  border: none; }

.paginationjs .paginationjs-pages li.active > a {
  width: 40px;
  height: 40px;
  border-radius: 22px;
  align-items: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  font-weight: bold;
  color: #fff; }

.bulletList {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
  color: rgba(31, 32, 65, 0.75); }
  .bulletList:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(31, 32, 65, 0.25); }

.buttons__like-container {
  display: flex;
  width: 40px;
  height: 20px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 10px;
  background: 4px center no-repeat;
  outline: none;
  cursor: pointer; }

.buttons__like-container_normal {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.03906 6.73438C5.66406 6.17448 6.1263 5.7513 6.42578 5.46484C6.72526 5.17839 7.05078 4.83984 7.40234 4.44922C7.75391 4.05859 7.99479 3.71354 8.125 3.41406C8.26823 3.11458 8.33984 2.82161 8.33984 2.53516C8.33984 2.11849 8.19661 1.77344 7.91016 1.5C7.63672 1.22656 7.29167 1.08984 6.875 1.08984C6.54948 1.08984 6.24349 1.18099 5.95703 1.36328C5.68359 1.54557 5.49479 1.77995 5.39062 2.06641H4.60938C4.50521 1.77995 4.3099 1.54557 4.02344 1.36328C3.75 1.18099 3.45052 1.08984 3.125 1.08984C2.70833 1.08984 2.35677 1.22656 2.07031 1.5C1.79688 1.77344 1.66016 2.11849 1.66016 2.53516C1.66016 2.82161 1.72526 3.11458 1.85547 3.41406C1.9987 3.71354 2.24609 4.05859 2.59766 4.44922C2.94922 4.83984 3.27474 5.17839 3.57422 5.46484C3.8737 5.7513 4.33594 6.17448 4.96094 6.73438L5 6.77344L5.03906 6.73438ZM6.875 0.25C7.52604 0.25 8.06641 0.471354 8.49609 0.914062C8.9388 1.35677 9.16016 1.89714 9.16016 2.53516C9.16016 2.91276 9.08854 3.28385 8.94531 3.64844C8.80208 4 8.53516 4.39714 8.14453 4.83984C7.76693 5.28255 7.42188 5.65365 7.10938 5.95312C6.79688 6.2526 6.29557 6.71484 5.60547 7.33984L5 7.88672L4.39453 7.35938C3.49609 6.55208 2.84505 5.94661 2.44141 5.54297C2.05078 5.13932 1.6862 4.66406 1.34766 4.11719C1.00911 3.57031 0.839844 3.04297 0.839844 2.53516C0.839844 1.89714 1.05469 1.35677 1.48438 0.914062C1.92708 0.471354 2.47396 0.25 3.125 0.25C3.88021 0.25 4.50521 0.542969 5 1.12891C5.49479 0.542969 6.11979 0.25 6.875 0.25Z' fill='%231F2041' fill-opacity='0.25'/%3E%3C/svg%3E%0A");
  border: 1px solid rgba(31, 32, 65, 0.25); }

.buttons__like-container_active {
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.93026 7.88672L4.3248 7.33984C3.63469 6.71484 3.13339 6.2526 2.82089 5.95312C2.50839 5.65365 2.15683 5.28255 1.7662 4.83984C1.3886 4.39714 1.12818 4 0.984952 3.64844C0.841723 3.28385 0.770108 2.91276 0.770108 2.53516C0.770108 1.89714 0.984952 1.35677 1.41464 0.914062C1.85735 0.471354 2.40422 0.25 3.05526 0.25C3.81047 0.25 4.43547 0.542969 4.93026 1.12891C5.42506 0.542969 6.05006 0.25 6.80526 0.25C7.45631 0.25 7.99667 0.471354 8.42636 0.914062C8.86907 1.35677 9.09042 1.89714 9.09042 2.53516C9.09042 3.04297 8.92115 3.57031 8.58261 4.11719C8.24407 4.66406 7.87297 5.13932 7.46933 5.54297C7.0787 5.94661 6.43417 6.55208 5.53573 7.35938L4.93026 7.88672Z' fill='%23BC9CFF'/%3E%3C/svg%3E%0A");
  background-color: #fff;
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 10px; }
  .buttons__like-container_active:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }

.buttons__like-counter {
  display: inline-block;
  margin-left: 18px;
  width: 12px;
  text-align: center;
  font: normal normal 10px/12px Montserrat; }

.buttons__like-counter_normal {
  color: rgba(31, 32, 65, 0.25); }

.buttons__like-counter_active {
  color: #bc9cff; }

.review__container {
  display: flex;
  width: 100%; }

.review__pict {
  width: 48px;
  height: 48px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1);
  box-sizing: border-box;
  background-color: #fff;
  margin-bottom: 12px;
  border-radius: 32px;
  overflow: hidden;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.1); }
  .review__pict img {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.review__leftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48px; }

.review__rightColumn {
  width: calc(100% - 48px);
  padding-left: 10px; }

.review__name {
  font: normal bold 14px/24px Montserrat;
  color: rgba(31, 32, 65, 0.75); }

.review__daysAgo, .review__text {
  font: normal normal 14px/24px Montserrat;
  color: rgba(31, 32, 65, 0.75); }

.review__text {
  display: inline-block;
  margin-top: 10px; }

.logo {
  margin: 30px 0 60px 30px; }

.elements__container {
  margin: 0 9.791666667%;
  width: 80.41666667%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

@media only screen and (min-width: 300px) and (max-width: 768px) {
  .elements__container {
    width: initial;
    margin: 0 calc((100% - 320px) / 2); }
  .elements__container_left, .elements__container_right, .elements__container_center {
    margin: 0 auto; } }

