body, h1, h2, h3, p, button, br, ul, li, pre {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

a:visited {
  color: initial; }

br {
  width: 0;
  height: 0; }

/* fix placeholder in diferent browsers */
::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25); }

::-moz-placeholder {
  color: rgba(31, 32, 65, 0.25); }

:-moz-placeholder {
  color: rgba(31, 32, 65, 0.25); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: bold;
  src: url(fonts/Quicksand-Bold.eot) format("eot"), url(fonts/Quicksand-Bold.woff) format("woff"), url(fonts/Quicksand-Bold.ttf) format("truetype"), url(fonts/Quicksand-Bold.svg#Quicksand) format("svg"); }

@font-face {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: normal;
  src: url(fonts/Quicksand-Regular.eot) format("eot"), url(fonts/Quicksand-Regular.woff) format("woff"), url(fonts/Quicksand-Regular.ttf) format("truetype"), url(fonts/Quicksand-Regular.svg#Quicksand) format("svg"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  src: url(fonts/Montserrat-Bold.eot) format("eot"), url(fonts/Montserrat-Bold.woff) format("woff"), url(fonts/Montserrat-Bold.ttf) format("truetype"), url(fonts/Montserrat-Bold.svg#Montserrat) format("svg"); }

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  src: url(fonts/Montserrat-Regular.eot) format("eot"), url(fonts/Montserrat-Regular.woff) format("woff"), url(fonts/Montserrat-Regular.ttf) format("truetype"), url(fonts/Montserrat-Regular.svg#Montserrat) format("svg"); }

body {
  font: normal normal 14px/24px Montserrat;
  color: rgba(31, 32, 65, 0.75); }

h1 {
  font: normal bold 24px/30px Quicksand, Montserrat; }

h2 {
  font: normal bold 19px/24px Quicksand, Montserrat; }

h3 {
  font: normal bold 12px/15px Montserrat;
  text-transform: uppercase;
  color: #1F2041; }

.label {
  margin-bottom: 5px; }

.button_medium {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  width: 100%; }

.button_toPay {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='-14 -14 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat 100% 50%, linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
  .button_toPay h3 {
    margin-right: 4px;
    color: white;
    font-size: 11px;
    line-height: 14px; }

.button_gradient, .button_gradientOpacity {
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
  .button_gradient h3, .button_gradientOpacity h3 {
    color: white; }

.button_gradientOpacity {
  opacity: 0.5; }

.button_border, .button_borderOpacity {
  border: double 2px transparent;
  border-radius: 22px;
  background-image: linear-gradient(white, white), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box; }
  .button_border h3, .button_borderOpacity h3 {
    color: #bc9cff; }

.button_borderOpacity {
  background-image: linear-gradient(white, white), linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%); }

.button_small {
  width: 100%;
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  height: 15px; }

.button_clickPurple h3 {
  color: #bc9cff; }

.button_clickGray h3 {
  color: rgba(31, 32, 65, 0.5); }

.header__container {
  width: 100%;
  height: 70px;
  padding: 0 9.7223%;
  box-sizing: border-box;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }

.header__logo {
  margin-top: 15px;
  display: inline-block; }

.header__auth {
  margin-top: 20px;
  float: right;
  display: flex;
  align-items: flex-end; }
  .header__auth .button_border, .header__auth .button_borderOpacity {
    margin-right: 19px; }

.header__vRow {
  width: 1px;
  height: 30px;
  background: rgba(31, 32, 65, 0.1);
  margin-right: 30px; }

.header__menu {
  float: right;
  margin-top: 25px; }

.header__menuLink {
  font: normal normal 14px/17px Montserrat;
  color: rgba(31, 32, 65, 0.75); }

.header__menuLink_home {
  font-weight: bold; }

.footer__container_short {
  height: 367px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }

.footer__logo_short {
  margin-bottom: 10px; }

.footer__description_short {
  display: inline-block;
  text-align: center;
  width: 560px;
  font: normal normal 14px/24px Montserrat;
  color: rgba(31, 32, 65, 0.75);
  margin-bottom: 29px; }

.footer__social > .footer__socIcon:not(:last-child) {
  margin-right: 20px; }

.footer__socIcon {
  width: 24px;
  height: 24px;
  display: inline-block; }

.subscribeContainer {
  position: relative;
  width: 260px; }

.subscribeButton {
  display: inline-block;
  position: absolute;
  z-index: 9;
  right: 0px;
  top: 0px;
  height: 44px;
  width: 44px;
  background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='9' y1='-13' x2='9' y2='31' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat center;
  border: none;
  outline: none;
  cursor: pointer; }

.subscribeTextField {
  padding-right: 44px; }

.textField {
  width: 100%;
  height: 44px;
  padding: 13px 15px;
  background-color: #fff;
  font: normal normal 14px/18px Montserrat;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px; }

.textField:hover, .textField:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  outline: none; }

.footer__container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 100px 9.7223% 100px 9.7223%;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1); }

.footer__description, .footer__navigation, .footer__aboutUs, .footer__support, .footer__subscribe {
  display: inline-block; }
  .footer__description h3, .footer__navigation h3, .footer__aboutUs h3, .footer__support h3, .footer__subscribe h3 {
    margin-bottom: 1px;
    margin-top: 4px; }

.footer__description {
  width: 22.4138%;
  margin-right: 3.4483%; }
  .footer__description p {
    display: inline-block;
    margin-top: 10px;
    font: normal normal 14px/24px Montserrat;
    color: rgba(31, 32, 65, 0.75); }

.footer__menu {
  display: flex;
  align-items: flex-start;
  width: 74.1380%; }

.footer__link {
  display: block;
  font: normal normal 14px/17px Montserrat;
  color: rgba(31, 32, 65, 0.5);
  margin-top: 21px; }

.footer__navigation {
  margin-right: 6.6279%;
  width: 16.6279%; }

.footer__aboutUs {
  margin-right: 10.6977%;
  width: 12.5581%; }

.footer__support {
  margin-right: 5.9302%;
  width: 17.3256%; }

.footer__subscribe {
  width: 30.2326%; }
  .footer__subscribe p {
    display: inline-block;
    font: normal normal 14px/24px Montserrat;
    color: rgba(31, 32, 65, 0.75);
    margin-top: 16px;
    margin-bottom: 24px;
    white-space: normal; }

.footer__copyright {
  background: white;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
  margin-top: 1px;
  padding: 0 9.7223%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px; }
  .footer__copyright .footer__social {
    margin-top: 4px; }

.textField {
  width: 100%;
  height: 44px;
  padding: 13px 15px;
  background-color: #fff;
  font: normal normal 14px/18px Montserrat;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px; }

.textField:hover, .textField:focus {
  border: 1px solid rgba(31, 32, 65, 0.5);
  outline: none; }

.button_medium {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  width: 100%; }

.button_toPay {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  background: url("data:image/svg+xml,%3Csvg width='44' height='44' viewBox='-14 -14 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat 100% 50%, linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
  .button_toPay h3 {
    margin-right: 4px;
    color: white;
    font-size: 11px;
    line-height: 14px; }

.button_gradient, .button_gradientOpacity {
  border: none;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%); }
  .button_gradient h3, .button_gradientOpacity h3 {
    color: white; }

.button_gradientOpacity {
  opacity: 0.5; }

.button_border, .button_borderOpacity {
  border: double 2px transparent;
  border-radius: 22px;
  background-image: linear-gradient(white, white), linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  background-origin: border-box;
  background-clip: content-box, border-box; }
  .button_border h3, .button_borderOpacity h3 {
    color: #bc9cff; }

.button_borderOpacity {
  background-image: linear-gradient(white, white), linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%); }

.button_small {
  width: 100%;
  background: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  height: 15px; }

.button_clickPurple h3 {
  color: #bc9cff; }

.button_clickGray h3 {
  color: rgba(31, 32, 65, 0.5); }

.login__container {
  width: 380px;
  height: 358px;
  padding: 39px 7.936507937% 31px 7.936507937%;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px; }

.login__loginInfo, .login__loginButton {
  margin-top: 20px; }

.login__block {
  margin-top: 10px; }

.login__signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 29px; }

.login__signupButton {
  width: 99px; }

.signin__container {
  padding: 163px;
  display: flex;
  justify-content: center;
  background: url(img/registration.png) no-repeat;
  background-size: 100%;
  background-position-y: 80%; }

