//- mixin base(title, css, js)
include ./_components/_base/_pug/_base
//- mixin logo
include ./_components/_base/_pug/_logo
//- mixin textField (id, label, placeholder)
include ./_components/_formElements/_textField/textField

doctype html
html
    +base("Form Elements", "main.css", "main.js")
    body    
        +logo
        .container
            form(action="", method="post")
            +textField("textField", "text field", "Email")