//- mixin base(title, css, js)
include ./_components/_base/_pug/_base
//- 
doctype html
html
    +base("index", "index.css", "index.js")
    body
        .index__container
            .index__uiKit
                .index__item
                    a(href="colors-types.html")
                        h3="Colors & Types"
            .index__websites