//- mixin base(title, css, js)
include ./_components/_base/_pug/_base
//- mixin logo(isFull)
include ./_components/_base/_pug/_logo
//- //- mixin textField (id, label, placeholder)
//- include ./_components/_formElements/_textField/textField
//- //- mixin dropdown (isGuests, label)
//- include ./_components/_formElements/_dropdown/dropdown
//- //- mixin dateDropdown (idLeft, idRight, labelLeft, labelRight)
//- include ./_components/_formElements/_dateDropdown/_dateDropdown
//- //- mixin filterDateDropdown(id, label)
//- include ./_components/_formElements/_filterDateDropdown/_filterDateDropdown
//- //- mixin SubscribtionTextField (textId, buttonId, label, placeholder)
//- include ./_components/_formElements/_subscribtionTextField/_subscribtionTextField
//- //- mixin expandableCheckboxList(id, title)
//- include ./_components/_formElements/_expandableCheckboxList/_expandableCheckboxList
//- //- mixin condition(pict, title, description)
//- include ./_components/_formElements/_conditions/conditions
//- //- mixin radioButtons
//- include ./_components/_formElements/_buttons/_radio/_buttons__radio
//- //- mixin toggleButtons(text)
//- include ./_components/_formElements/_buttons/_toggle/_buttons__toggle
//- //- mixin likeButton(id)
//- include ./_components/_formElements/_buttons/_like/_buttons__like
//- //- mixin rateButton(id)
//- include ./_components/_formElements/_buttons/_rate/_buttons_rate
//- //- mixin richCheckboxButton(id, title, description)
//- include ./_components/_formElements/_buttons/_checkbox_rich/_checkbox_rich
//- //- mixin review(pict, name, daysAgo, review)
//- include ./_components/_formElements/_review/_review
//- //- mixin rangeSlider
//- include ./_components/_formElements/_range_slider/_range_slider
//- //- mixin button(option)
//- //- size: medium or whithout {size: } for class button_toPay
//- //- theme: for {size: medium}: gradient, gradientOpacity, border, borderOpacity,
//- //- title: whatever
//- include ./_components/_formElements/_buttons/_button/_button
//- //- 
//- include ./_components/_formElements/_bulletList/_bulletList

doctype html
html
    +base("Form Elements", "main.css", "main.js")
    body    
        +logo(true)
        .container
        