//- mixin base(title, css, js)
include ./_components/_base/_pug/_base
//- mixin logo
include ./_components/_base/_pug/_logo
//- mixin textField (id, label, placeholder)
include ./_components/_formElements/_textField/textField
//- mixin dropdown (isGuests, label)
include ./_components/_formElements/_dropdown/dropdown

doctype html
html
    +base("Form Elements", "main.css", "main.js")
    body    
        +logo
        .container
            form(action="", method="post")
                div(style = "width: 320px; margin-bottom: 10px;")
                    +textField("textField", "text field", "Email")
                div(style = "width: 320px; margin-bottom: 10px;")
                    +dropdown(true, "dropdown")
                div(style = "width: 266px; margin-bottom: 10px;")   
                    +dropdown(false, "dropdown")