//- mixin base(title, css, js)
include ./_components/_base/_pug/_base
//- 
include ./_components/_footer/_footer
doctype html
html
    +base("Form Elements", "main.css", "main.js")
    body    
        +footer(false)