// reset
body, h1, h2, h3, p, button, br, ul, li {
    margin: 0;
    padding: 0;
}
a {
	text-decoration: none;
}
a:visited {
    color: initial;
}
br {
    width: 0;
    height: 0;
}
/* fix placeholder in diferent browsers */
// Chrome
::-webkit-input-placeholder { color: rgba(31, 32, 65, 0.25); }
// Firefox 19+
::-moz-placeholder          { color: rgba(31, 32, 65, 0.25); }
// Firefox 18- 
:-moz-placeholder           { color: rgba(31, 32, 65, 0.25); }
// import base components
@import './_components/_base/_scss/fonts';
@import './_components/_base/_scss/var__colors';
// change text tags
body {
    font: normal normal 14px/24px Montserrat;
    color: $dShade75;
    background: #E5E5E5;
    padding: 20px;
}
h1 {
    font: normal bold 24px/30px Quicksand, Montserrat;
    color: $dShade100;
}
h2 {
    font: normal bold 19px/24px Quicksand, Montserrat;
}
h3 {
    font: normal bold 12px/15px Montserrat;
    text-transform: uppercase;
    color: $dShade100;
}
// label
.label {
    margin-bottom: 5px;
}
// components
@import './_components/_cards/_login/login';