// reset
body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
}
/* fix placeholder in diferent browsers */
// Chrome
::-webkit-input-placeholder { color: rgba(31, 32, 65, 0.25); }
// Firefox 19+
::-moz-placeholder          { color: rgba(31, 32, 65, 0.25); }
// Firefox 18- 
:-moz-placeholder           { color: rgba(31, 32, 65, 0.25); }
// import base components
@import './_components/_base/_scss/fonts';
@import './_components/_base/_scss/var__colors';
// change text tags
body {
    color: $dShade100;
}
h1, h2, h3 {
    color: inherit;
}
body {
	font: normal normal 14px/24px Montserrat;
}
h1 {
    font: normal bold 24px/30px Quicksand;
}
h2 {
    font: normal bold 19px/24px Quicksand;
}
h3 {
    font: normal bold 12px/15px Montserrat;
    text-transform: uppercase;
}
// logo
.logo {
    margin: 30px 0 64px 30px;
}
// label
.label {
    margin-bottom: 5px;
}
// not reuse
.container {
    width: 1440px;
    height: 1853px;
    padding-left: 141px;
}
@import './_components/_formElements/_textField/textField.scss';
@import './_components/_formElements/_buttons/_plusMinus/buttons__plusMinus.scss';
@import './_components/_formElements/_dropdown/dropdown.scss';
@import './_components/_formElements/_dateDropdown/dateDropdown';
@import './_components/_formElements/_subscribtionTextField/subscribtionTextField';
@import './_components/_formElements/_buttons/_checkbox/buttons__checkbox.scss';