// reset
body, h1, h2, h3, p, button, br, ul, li {
    margin: 0;
    padding: 0;
}
a {
	text-decoration: none;
}
a:visited {
    color: initial;
}
br {
    width: 0;
    height: 0;
}
/* fix placeholder in diferent browsers */
// Chrome
::-webkit-input-placeholder { color: rgba(31, 32, 65, 0.25); }
// Firefox 19+
::-moz-placeholder          { color: rgba(31, 32, 65, 0.25); }
// Firefox 18- 
:-moz-placeholder           { color: rgba(31, 32, 65, 0.25); }
// import base components
@import './_components/_base/_scss/fonts';
@import './_components/_base/_scss/var__colors';
// change text tags
body {
    color: $dShade100;
}
h1, h2, h3 {
    color: inherit;
}
body {
	font: normal normal 14px/24px Montserrat;
}
h1 {
    font: normal bold 24px/30px Quicksand;
}
h2 {
    font: normal bold 19px/24px Quicksand;
}
h3 {
    font: normal bold 12px/15px Montserrat;
    text-transform: uppercase;
}
// label
.label {
    margin-bottom: 5px;
}
// not reuse
.container {
    width: 1440px;
    height: 1853px;
    padding-left: 141px;
}
@import "./_components/_base/_scss/logo";
// @import './_components/_formElements/_textField/textField.scss';
// @import './_components/_formElements/_buttons/_plusMinus/buttons__plusMinus.scss';
// @import './_components/_formElements/_dropdown/dropdown.scss';
// @import './_components/_formElements/_dateDropdown/dateDropdown';
// @import './_components/_formElements/_subscribtionTextField/subscribtionTextField';
// @import './_components/_formElements/_buttons/_checkbox/buttons__checkbox.scss';
// @import './_components/_formElements/_expandableCheckboxList/expandableCheckboxList';
// @import './_components/_formElements/_conditions/conditions.scss';
// @import './_components/_formElements/_buttons/_radio/buttons__radio';
// @import './_components/_formElements/_buttons/_toggle/buttons__toggle';
// @import './_components/_formElements/_buttons/_like/buttons__like';
// @import './_components/_formElements/_buttons/_rate/_buttons_rate';
// @import './_components/_formElements/_buttons/_checkbox_rich/checkbox_rich';
// @import './_components/_formElements/_review/review';
// @import './_components/_formElements/_range_slider/range_slider';
// @import './_components/_formElements/_buttons/_button/button';
// @import './_components/_formElements/_pagination/pagination';
// @import './_components/_formElements/_pagination/pagination';
// @import './_components/_formElements/_bulletList/bulletList';