extends ../template-ui-kit/template-ui-kit

include ../../components/find-room/find-room
include ../../components/registration/registration
include ../../components/booking/booking
include ../../components/sign-in/sign-in
include ../../components/room/room
include ../../components/date-dropdown/date-dropdown

block append head
  title Cards

block prepend container
  -
    const pageClass = 'cards'

block append content
  .cards__container
    article.cards__section
      .cards__block
        +find-room()
      .cards__block
        +registration()

    article.cards__section
      .cards__block
        +booking()
      .cards__block
        +sign-in()

    aside.cards__section
      .cards__block-datepicker
        +date-dropdown({isInline: true})
      .cards__block-room
        +room({link: '/room-detail.html'})
      .cards__block-room
        +room({ room: '840', isLux: false, price: '9900', rate: 4, comments: 65 })