//- mixin head(title, css, js)
include ../../components/_base/pug/head
//- 
//- mixin logo
include ../../components/_base/pug/logo
doctype html
html
  +head({title: "Cards", page: "cards"})
  body
    .logo
        +logo({})  