//- mixin head(title, css, js)
include ../../components/_base/pug/head
//- 
//- mixin logo
include ../../components/_base/pug/logo

include ../../components/cards/find-appart/find-appart
include ../../components/cards/registration/registration

doctype html
html
  +head({title: "Cards", page: "cards"})
  body
    .logo
        +logo({})
    .container
      section.section
        .section--block
          +find-appart
        div
          +registration

      section.section

      section.section