.cards {
  background-color: #e5e5e5;
  
  &__container {
    padding: 3px 9.7223% 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media screen and (min-width: $old-phones) and (max-width: 380px) {
      flex-direction: column;
      align-items: center;
      padding: 0 1.5625%;
    }
  }

  &__section {
    width: 380px;

    @media screen and (min-width: $old-phones) and (max-width: 380px) {
      width: 310px;
    }

    &.cards__section_320-px {
      width: 320px;

      @media screen and (min-width: $old-phones) and (max-width: 380px) {
        width: 310px;
      }
    }
  }

  &__block {
    margin-bottom: 39px;

    & .datepicker-inline .datepicker {
      height: 369px;
    }

    &-apartament {
      width: 270px;
      margin-bottom: 36px;

      @media screen and (min-width: $old-phones) and (max-width: 380px) {
        margin: 0 auto 40px;
      }
    }
  }
}