extends ../template-ui-kit/template-ui-kit

include ../../components/find-room/find-room
include ../../components/registration/registration
include ../../components/booking/booking
include ../../components/sign-in/sign-in
include ../../components/room/room

block append head
  title Cards

block prepend container
  -
    const pageClass = "cards"

block append content
  .cards__container
    section.cards__section
      .cards__block
        +find-room()
      .cards__block
        +registration()

    section.cards__section
      .cards__block
        +booking()
      .cards__block
        +sign-in()

    section.cards__section.cards__section_320-px
      .cards__block
        .inline-datepicker.js-inline-datepicker
      .cards__block-room
        +room()
      .cards__block-room
        +room({ room: "840", isLux: false, price: "9900", rate: 4, reviews: 65 })