include ../../components/head/head
include ../../components/logo/logo

include ../../components/find-apartament/find-apartament
include ../../components/registration/registration
include ../../components/booking/booking
include ../../components/sign-in/sign-in
include ../../components/apartament/apartament

doctype html
html
  +head({title: "Cards"})
  body.cards
    +logo()
    main.cards__container
      section.cards__section
        .cards__block
          +find-apartament()
        .cards__block
          +registration()

      section.cards__section
        .cards__block
          +booking()
        .cards__block
          +sign-in()

      section.cards__section.cards__section_320-px
        .cards__block
          .inline-datepicker.js-inline-datepicker
        .cards__block-apartament
          +apartament()
        .cards__block-apartament
          -
            const apartamentsConfig = {}
            apartamentsConfig.apartament = "840"
            apartamentsConfig.isLux = false
            apartamentsConfig.price = "9900"
            apartamentsConfig.rate = 4
            apartamentsConfig.reviews = 65
          +apartament(apartamentsConfig)

    script(src="main.min.js")