@import '../../main.scss';
body {
    background-color: #E5E5E5;
}
.logo {
    margin: 30px 0 60px 30px;
}
.cards__container {
    margin: 0 9.722222222%;
    width: 80.55555556%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards__block, #cards__datepicker {
    margin-bottom: 40px;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
    .cards__container {
        width: initial;
        margin: 0 calc((100% - 380px) / 2);
    }
    .cards__leftBlock, .cards__centerBlock, .cards__rightBlock {
        margin: 0 auto;
    }
}
@import '../../_components/_cards/_findApart/findApart';
@import '../../_components/_cards/_registration/registration';
@import '../../_components/_cards/_booking/booking';
@import '../../_components/_cards/_login/login';
@import '../../_components/_cards/_apart/apart';