include ../../components/head/head
include ../../components/logo/logo

include ../../components/find-apart/find-apart
include ../../components/registration/registration
include ../../components/booking/booking
include ../../components/sign-in/sign-in
include ../../components/apart/apart

doctype html
html
  +head({title: "Cards", isProduction: true})
  body.cards
    .logo
      +logo()
    main.cards__container
      section.cards__section
        .cards__block
          +find-apart()
        .cards__block
          +registration()

      section.cards__section
        .cards__block
          +booking()
        .cards__block
          +sign-in()

      section.cards__section_320-px
        .cards__block
          .js-inline-datepicker
        .cards__block.cards__block_apart
          +apart()
        .cards__block.cards__block_apart
          -
            let apartConfig = {}
            apartConfig.apart = "840"
            apartConfig.isLux = false
            apartConfig.price = "9900"
            apartConfig.rate = 4
            apartConfig.reviews = 65
          +apart(apartConfig)