mixin like(counter, isPressed)
    if isPressed
        button(type="button", class="like like-active")
            span.like--counter.like--counter-active #{counter}
    else
        button(type="button", class="like")
            span.like--counter #{counter}