.text-field {
	width: 100%;
	height: 44px;
	padding: 13px 15px;
	background-color: #fff;
	border: 1px solid $dark-shade-25;
	box-sizing: border-box;
	border-radius: 4px;

	font: normal normal 14px/18px Montserrat, sans-serif;
	color: $dark-shade-75;
}
.text-field:hover, .text-field:focus {
	border: 1px solid $dark-shade-50;
	outline: none;
}
/* fix placeholder in diferent browsers */
// Chrome
::-webkit-input-placeholder { color: rgba(31, 32, 65, 0.25); }
// Firefox 19+
::-moz-placeholder          { color: rgba(31, 32, 65, 0.25); }
// Firefox 18- 
:-moz-placeholder           { color: rgba(31, 32, 65, 0.25); }