mixin text-field({type = "text", jsClass = "undefined", placeholder = "Email"} = {})
  -
    let className
    if(jsClass === "undefined")
      className = 'text-field'
    else
      className = `text-field js-${jsClass}-text-field`
  input(class = className, type = type, placeholder = placeholder)