mixin text-field({type = "text", jsClass = "test", placeholder = "Email"} = {})
  -
    let className = `text-field js-${options.jsClass}-text-field`
  input(type = type, class = className, placeholder = placeholder)