include ../../components/_base/pug/head

include ../../components/_formElements/range-slider/range-slider


doctype html
html
  +head('test', 'test.css', 'test.js')
  body
    div(style='margin: 10px; width: 320px;')
      +range-slider('test 320px')
    div(style='margin: 10px;')
      +range-slider('test 100%')