include ../../components/_base/pug/head

include ../../components/_formElements/_buttons/toggle/toggle

doctype html
html
  +head('test', 'test.css', 'test.js')
  body
    div(style='margin: 10px;')
      +toggle('test')