include ../../components/_base/pug/head

include ../../components/_formElements/condition/condition


doctype html
html
  +head('test', 'test.css', 'test.js')
  body
    div(style='margin: 10px; width: 320px;')
      +condition({icon: 'tag_faces', title: 'Комфорт', description: 'Шумопоглощающие стены', isRowed: true})
    div