include ../../components/_base/pug/head

//- include ../../components/_formElements/

doctype html
html
  +head('test', 'test.css', 'test.js')
  body
    div(style='margin: 10px; width: 320px;')
      
    div(style='margin: 10px;')