.button_with-text {

  &_gray {
    width: 100%;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;

    & .button__title {
      color: $dark-shade-50;
    }

    &:active, &:focus, &:hover {
      box-shadow: unset;
      text-shadow: 0 0 5px $dark-shade-50;
    }
  }
  
  &_purple {
    width: 100%;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;

    & .button__title {
      color: $purple;
    }

    &:active, &:focus, &:hover {
      box-shadow: unset;
      text-shadow: 0 0 5px $dark-shade-50;
    }
  }
}

.button__wrapper {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
}

.button__title {
  @include fix-overflow;
  @include font-h3;
}