include ../h1/h1
include ../h3/h3
include ../text-field/text-field
include ../masked-text-field/masked-text-field
include ../radio/radio
include ../toggle/toggle
include ../button/button

mixin registration({action = "change me"} = {})
  .registration
    form(class="registration__main-form", action=action)
      .registration__title
        +h1({title: "Регистрация аккаунта"})
      .registration__block-name
        +text-field({placeholder: "Имя"})
        +text-field({placeholder: "Фамилия"})
      .registration__block-sex
        +radio({title: "Мужчина", isChecked: true})
        +radio({title: "Женщина", isChecked: false})
      .registration__block-birthday
        .registration__block-title
          +h3({title: "День рождения"})
        +masked-text-field({placeholder: "ДД.ММ.ГГГГ"})
      .registration__block-signin
        .registration__block-title
          +h3({title: "данные для входа в сервис"})
        +text-field({placeholder: "Email", type: "Email"})
        +text-field({placeholder: "Пароль", type: "Password"})
        +toggle()
      .registration__block-registering
        +button({style: "submit", title: "зарегистрироваться"})
    form(class="registration__signin-form", action="sign-in.html")
      .registration__block-signup
        p.registration__text-signup Уже есть аккаунт на Toxin
        +button({style: "border", title: "войти"})