include ../headline/headline
include ../text-field/text-field
include ../masked-text-field/masked-text-field
include ../radio/radio
include ../toggle/toggle
include ../button/button

mixin registration({action = 'registration-page.html'} = {})
  .registration
    form(class='registration__main-form', action=action)
      .registration__title
        +headline({type: 'h1', title: 'Регистрация аккаунта'})
      .registration__block-name
        +text-field({placeholder: 'Имя'})
        +text-field({placeholder: 'Фамилия'})
      .registration__block-sex
        +radio({title: 'Мужчина', isChecked: true})
        +radio({title: 'Женщина', isChecked: false})
      .registration__block-birthday
        .registration__block-title
          +headline({title: 'День рождения'})
        +masked-text-field({placeholder: 'ДД.ММ.ГГГГ'})
      .registration__block-sign-in
        .registration__block-title
          +headline({title: 'данные для входа в сервис'})
        +text-field({placeholder: 'Email', type: 'email'})
        +text-field({placeholder: 'Пароль', type: 'password'})
        +toggle()
      .registration__block-registering
        +button({style: 'submitting', title: 'зарегистрироваться'})
    form(class='registration__sign-in-form', action='sign-in-page.html')
      .registration__block-sign-up
        p.registration__text-sign-up Уже есть аккаунт на Toxin
        .registration__button-sign-up
          +button({style: 'border', title: 'войти'})