.rich-checkbox {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
	&:checked ~ .rich-checkbox--checkmark {
		border: 1rem solid #BC9CFF;
		content: "";
	}
	&:checked ~ .rich-checkbox--checkmark:after {
		display: block;
	}
	&--container {
		display: flex;
		position: relative;
		cursor: pointer;
		
		& .rich-checkbox--checkmark:after {
			left: 5rem;
			top: 3rem;
			width: 5rem;
			height: 7rem;
			border-image:  linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
			border-image-slice: 1;
			border-right-style: solid;
			border-right-width: 2rem;
			border-bottom-style: solid;
			border-bottom-width: 2rem;
			transform: rotate(45deg);
		}
	
		&:hover .rich-checkbox--checkmark,
		&:active .rich-checkbox--checkmark,
		&:focus .rich-checkbox--checkmark {
			box-shadow: 0 0 5rem $dark-shade-25;
		}
	}
}
.rich-checkbox--checkmark {
	position: absolute;
	top: 2rem;
	left: 0;
	height: 20rem;
	width: 20rem;
	background-color: #fff;
	border: 1rem solid $dark-shade-25;
	box-sizing: border-box;
	border-radius: 4rem;
	&:after {
		content: "";
		position: absolute;
		display: none;
	}
}
.rich-checkbox--title {
	font: normal bold 14rem/18rem Montserrat;
	color: $dark-shade-75;
}
.rich-checkbox--description {
	padding-top: 3rem;
	font: normal normal 12rem/14rem Montserrat;
	color: $dark-shade-50;
}